﻿@model Angle.DTOs.GeoLevel3DTO

@{ ViewData["Title"] = "Create"; }

<div class="content-heading">
    <div>
        Divisi&oacute;n Geogr&aacute;fica
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Parametrizaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Divisi&oacute;n Geogr&aacute;fica 3</a>
                    </li>
                </ol>
            </div>


            <div class="card-body">
                <form asp-action="Create" id="formGeoLevel3" data-parsley-validate="" novalidate="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="GeoLevel3Name" class="control-label"></label>
                                <input asp-for="GeoLevel3Name" class="form-control" required/>
                                <span asp-validation-for="GeoLevel3Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="GeoLevel3Title" class="control-label"></label>
                                <input asp-for="GeoLevel3Title" class="form-control" required/>
                                <span asp-validation-for="GeoLevel3Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="GeoLevel2ID" class="control-label"></label>
                                <select asp-for="GeoLevel2ID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.GeoLevel2 != null)
                                    {
                                        var listGeoLevel2 = (IEnumerable<Angle.Models.GeoLevel2>)ViewBag.GeoLevel2;

                                        @foreach (var GeoLevel2 in listGeoLevel2)
                                        {
                                            <option value="@GeoLevel2.GeoLevel2ID">@GeoLevel2.GeoLevel2Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="GeoLevel2ID" class="text-danger"></span>
                            </div>
                        </div>



                    </div>    
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Divisi&oacute;n Geogr&aacute;fica 3</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<environment names="Development">
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');

    </script>
</environment>
<environment names="Staging,Production">
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');

    </script>
</environment>

}
