﻿@model Angle.DTOs.QuoteDTO
@using Microsoft.AspNetCore.Http.Extensions
@{ ViewData["Title"] = "Edit";
    var montoTotal = 0;
}

<div class="content-heading">
    <div>
        Cotizaci&oacute;n
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Operaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Cotizaci&oacute;n</a>
                    </li>
                </ol>
            </div>

            <div class="card-body">

                <div class="col-lg-12">
                    <form asp-action="Edit" data-parsley-validate="" novalidate="">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="QuoteID" />
                        <div class="row">
                            <div class="col-12 col-lg-2">
                                <div class="form-group">
                                    <label asp-for="QuoteDate" class="control-label"></label>
                                    <input  asp-for="QuoteDate" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="form-group">
                                    <label asp-for="QuoteStatusID" class="control-label"></label>
                                    <select asp-for="QuoteStatusID" class="form-control form-control-lg" required>
                                        @if (ViewBag.QuoteStatus != null)
                                        {
                                            var listQuoteStatus = (IEnumerable<Angle.Models.QuoteStatus>)ViewBag.QuoteStatus;

                                            @foreach (var QuoteStatus in listQuoteStatus)
                                            {
                                                
                                                <option value="@QuoteStatus.QuoteStatusID" >@QuoteStatus.QuoteStatusName</option>
                                                
                                            }}
                                    </select>
                                    <span asp-validation-for="QuoteStatusID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-lg-2">
                                <div class="form-group">
                                    <label asp-for="ServiceTypeID" class="control-label"></label>
                                    <select asp-for="ServiceTypeID" class="form-control form-control-lg" required>
                                        <option value="">Seleccionar</option>
                                        @if (ViewBag.ServiceType != null)
                                        {
                                            var listServiceType = (IEnumerable<Angle.Models.ServiceType>)ViewBag.ServiceType;

                                            @foreach (var ServiceType in listServiceType)
                                            {
                                                <option value="@ServiceType.ServiceTypeID">@ServiceType.ServiceTypeName </option>
                                            }}
                                    </select>
                                    <span asp-validation-for="ServiceTypeID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label asp-for="SalesPersonID" class="control-label"></label>
                                    <select asp-for="SalesPersonID" class="form-control form-control-lg" required>
                                        <option value="">Seleccionar</option>
                                        @if (ViewBag.SalesPerson != null)
                                        {
                                            var listSalesPerson = (IEnumerable<Angle.Models.SalesPerson>)ViewBag.SalesPerson;

                                            @foreach (var SalesPerson in listSalesPerson)
                                            {
                                                <option value="@SalesPerson.SalesPersonID">@SalesPerson.SalesPersonName </option>
                                            }}
                                    </select>
                                    <span asp-validation-for="SalesPersonID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    @if (ViewBag.Customer != null)
                                    {
                                        var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;

                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CustomerID" class="control-label"></label>
                                                <select asp-for="CustomerID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>

                                                    @foreach (var Customer in listCustomer)
                                                    {
                                                        <option id="cliente" value="@Customer.CustomerID">@Customer.CompanyName</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="CustomerID" class="text-danger"></span>
                                            </div>
                                        </div>
                                    }
                                    <div class="col-12 col-lg-3">
                                        <div class="form-group">
                                            <label asp-for="MainPhone" class="control-label">Telefono</label>
                                            <input asp-for="MainPhone" maxlength="10" minlength="10" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <div class="form-group">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-1">
                                <a>
                                    <button class="btn btn-primary btn-lg addItem" type="button" data-toggle="modal" data-target="#ModalcrearRemitente">
                                        <span>Crear</span>
                                    </button>
                                </a>
                            </div>
                            @if (ViewBag.Sender != null)
                            {
                                var listSender = (IEnumerable<Angle.Models.Person>)ViewBag.Sender;

                                <div class="col-12 col-lg-5">
                                    <div class="form-group">
                                        <label asp-for="Sender" class="control-label"></label>
                                        <select asp-for="Sender" class="form-control form-control-lg" required>
                                            <option value="">Seleccionar</option>

                                            @foreach (var Sender in listSender)
                                            {
                                                
                                                    <option value="@Sender.PersonID">@Sender.PersonName</option>

                                            }
                                        </select>
                                        <span asp-validation-for="Sender" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.Sender != null)
                            {
                                var listSender = (IEnumerable<Angle.Models.Person>)ViewBag.Sender;


                                @foreach (var Sender in listSender)
                                {
                                    if (Model.Sender == Sender.PersonID)
                                    {
                                        <div class="col-12 col-lg-2">
                                            <label class="control-label">Cedula</label>
                                            <input value=" @Sender.PersonDocument" class="form-control" disabled />
                                        </div>
                                        <div class="col-12 col-lg-2">
                                            <label class="control-label">Telefono</label>
                                            <input value=" @Sender.PersonTelepone" class="form-control" disabled />
                                        </div>
                                        <div class="col-12 col-lg-2">
                                            <label class="control-label">Correo electr&oacute;nico</label>
                                            <input value=" @Sender.PersonEmail" class="form-control" disabled />
                                        </div>
                                    }

                                }
                            }
                            <div class="col-12 col-lg-1">
                                <a>
                                    <button class="btn btn-primary btn-lg addItem" type="button" data-toggle="modal" data-target="#ModalcrearConsignatario">
                                        <span>Crear</span>
                                    </button>
                                </a>
                            </div>
                            @if (ViewBag.Remittee != null)
                            {
                                var listRemittee = (IEnumerable<Angle.Models.Person>)ViewBag.Remittee;

                                <div class="col-12 col-lg-5">
                                    <div class="form-group">
                                        <label asp-for="Remittee" class="control-label"></label>
                                        <select asp-for="Remittee" class="form-control form-control-lg" required>
                                            <option value="">Seleccionar</option>

                                            @foreach (var Remittee in listRemittee)
                                            {
                                                    <option value="@Remittee.PersonID">@Remittee.PersonName</option>
                                          

                                            }
                                        </select>
                                        <span asp-validation-for="Remittee" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.Remittee != null)
                            {
                                var listRemittee = (IEnumerable<Angle.Models.Person>)ViewBag.Remittee;


                                @foreach (var Remittee in listRemittee)
                                {
                                    if (Model.Remittee == Remittee.PersonID)
                                    {
                                        <div class="col-12 col-lg-2">
                                            <label class="control-label">Cedula</label>
                                            <input value=" @Remittee.PersonDocument" class="form-control" disabled />
                                        </div>
                                        <div class="col-12 col-lg-2">
                                            <label class="control-label">Telefono</label>
                                            <input value=" @Remittee.PersonTelepone" class="form-control" disabled />
                                        </div>
                                        <div class="col-12 col-lg-2">
                                            <label class="control-label">Correo electr&oacute;nico</label>
                                            <input value=" @Remittee.PersonEmail" class="form-control" disabled />
                                        </div>
                                    }

                                }
                            }
                        </div>
                        <div class="form-group">
                            <center>
                                <input type="submit" value="Crear" class="btn btn-primary" />
                            </center>
                        </div>
                    </form>
                </div>


            </div>

        </div>

        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Items cotizados</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Cotizaci&oacute;n: @Model.QuoteID</a>
                    </li>
                </ol>

                <div id="botones" class="botones">
                    <a>
                        <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#ModalcrearItem">
                            <span>Crear</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped my-4 w-100" id="datatable4Track">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tipo de mercanc&iacute;a</th>
                            <th>Descripci&oacute;n</th>
                            <th>Bulto / Paquete</th>
                            <th>Peso (Lb)</th>
                            <th>Costo</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (ViewBag.ItemsQuote != null)
                        {
                            var total = 0;
                            var listItemsQuote = (IEnumerable<Angle.Models.ItemsQuote>)ViewBag.ItemsQuote;


                            @foreach (var itemItemsQuote in listItemsQuote)
                            {
                                if (Model.QuoteID == itemItemsQuote.QuoteID)
                                {
                                    <tr>
                                        <td>
                                            <a OnClick="eliminarRegistro(@Model.QuoteID,@itemItemsQuote.ItemsQuoteID)" class="text-muted">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                        @if (ViewBag.MerchandiseType != null)
                                        {
                                            var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;
                                            @foreach (var itemMerchandiseType in listMerchandiseType)
                                            {
                                                if (itemItemsQuote.MerchandiseTypeID == itemMerchandiseType.MerchandiseTypeID)
                                                {
                                                    <td> @Html.DisplayFor(modelItem => itemMerchandiseType.MerchandiseTypeName)</td>
                                                }
                                            }
                                        }

                                        <td> @Html.DisplayFor(modelItem => itemItemsQuote.Description)</td>
                                        <td> @Html.DisplayFor(modelItem => itemItemsQuote.Quantity)</td>
                                        <td> @Html.DisplayFor(modelItem => itemItemsQuote.Weight)</td>
                                        <td> @Html.DisplayFor(modelItem => itemItemsQuote.Amount)</td>
                                        @{

                                            total = (total + itemItemsQuote.Amount);
                                        }
                                    </tr>
                                }

                            }
                            <p style="float:right;font-weight: 900;font-size: x-large;">Total: @total</p>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Tipo de mercanc&iacute;a</th>
                            <th>Descripci&oacute;n</th>
                            <th>Bulto / Paquete</th>
                            <th>Peso (Lb)</th>
                            <th>Costo</th>
                        </tr>
                    </tfoot>
                </table>


            </div>
            <!-- /.card-body -->
        </div>


    </div>
</div>
<div>
    <a asp-action="Index">Listar Cotizaciones</a>
</div>
<style type="text/css">

    #botones {
        float: right;
    }

    #importar {
        float: left;
    }

    .btn-primary {
        padding: 6px 15px !important;
    }

    .addItem {
        margin: 22px 0px;
    }
</style>

@section BodyArea {



    <div class="modal fade" id="ModalcrearRemitente" tabindex="-1" role="dialog" aria-labelledby="ModalcrearRemitente" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Añadir Remitente</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" asp-controller="ServiceOrder" asp-action="CreatePerson">

                        <input name="PersonType" value="1" class="form-control" hidden />
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input name="PersonName" type="text" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Cedula</label>
                                    <input name="PersonDocument" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Telefono</label>
                                    <input name="PersonTelephone" maxlength="10" minlength="10" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Correo electr&oacute;nico</label>
                                    <input name="PersonEmail" type="email" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <center>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <input type="submit" value="Añadir" class="btn btn-primary">
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalcrearConsignatario" tabindex="-1" role="dialog" aria-labelledby="ModalcrearConsignatario" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Añadir Consignatario </h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" asp-controller="Quote" asp-action="CreatePerson">

                        <input name="PersonType" value="2" class="form-control" hidden />

                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input name="PersonName" type="text" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Cedula</label>
                                    <input name="PersonDocument" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Telefono</label>
                                    <input name="PersonTelephone" maxlength="10" minlength="10" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Correo electr&oacute;nico</label>
                                    <input name="PersonEmail" type="email" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <center>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <input type="submit" value="Añadir" class="btn btn-primary">
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modals must be declare at body level so the content overlaps the background-->
    <!-- Modal Large-->
    <div class="modal fade" id="ModalcrearItem" tabindex="-1" role="dialog" aria-labelledby="ModalcrearItem" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Añadir item a la cotizaci&oacute;n #@Model.QuoteID </h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="card-body">
                        <div class="col-lg-12">
                            <form method="post" enctype="multipart/form-data" asp-controller="Quote" asp-action="CreateItem">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    @if (ViewBag.ContractSpecial != null)
                                    {
                                        var isSpecial = 0; //0 -> no  1 -
                                        var listContractSpecial = (IEnumerable<Angle.Models.ContractSpecial>)ViewBag.ContractSpecial;
                                        @foreach (var itemContractSpecial in listContractSpecial)
                                        {
                                            if (Model.CustomerID == itemContractSpecial.CustomerID)
                                                isSpecial = 1;
                                        }

                                        if (isSpecial == 1)
                                        {
                                            <div class="col-lg-12">
                                                <p>Este cliente tiene tarifas especiales</p>
                                            </div>
                                            @if (ViewBag.ContractSpecialSequence != null)
                                            {
                                                var listContractSpecialSequence = (IEnumerable<Angle.Models.ContractSpecialSequence>)ViewBag.ContractSpecialSequence;
                                                var isAmount = 0;
                                                @foreach (var ContractSpecialSequence in listContractSpecialSequence)
                                                {

                                                    if (ContractSpecialSequence.CustomerID == Model.CustomerID && ContractSpecialSequence.ServiceTypeID == Model.ServiceTypeID && ContractSpecialSequence.OriginID == Model.OriginID && ContractSpecialSequence.DestinationID == Model.DestinationID)
                                                    {
                                                        <input name="QuoteID" id="QuoteID" value="@Model.QuoteID" hidden />
                                                        <input name="PesoMinimo" id="PesoMinimo" value="@ContractSpecialSequence.WeightMin" hidden />
                                                        <input name="PrecioBase" id="PrecioBase" value="@ContractSpecialSequence.BasePrice" hidden />
                                                        <input name="PrecioExtra" id="PrecioExtra" value="@ContractSpecialSequence.ExtraPrice" hidden />
                                                        isAmount = 1;
                                                    }


                                                }

                                                @if (isAmount == 1)
                                                {

                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Tipo de mercanc&iacute;a</label>
                                                            <select id="TipoMercancia" name="TipoMercancia" class="form-control form-control-lg">
                                                                @if (ViewBag.MerchandiseType != null)
                                                                {
                                                                    var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;

                                                                    @foreach (var MerchandiseType in listMerchandiseType)
                                                                    {
                                                                        <option value="@MerchandiseType.MerchandiseTypeID">@MerchandiseType.MerchandiseTypeName</option>
                                                                    }
                                                                }


                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Descripci&oacute;n</label>
                                                            <input name="Description" id="Description" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Cantidad</label>
                                                            <input name="Quantity" id="Quantity" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Peso</label>
                                                            <input name="Weight" id="Weight" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Monto</label>
                                                            <input name="Amount" id="Amount" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 ">
                                                        <center>
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                            <input type="submit" value="Añadir" class="btn btn-primary">
                                                        </center>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <p>No hay montos registrados para este Cliente con el Tipo de servicio, Origen y Destino Señalado</p>
                                                }
                                            }


                                        }
                                        else
                                        {

                                            <div class="col-lg-12">
                                                <center><p>Este cliente no tiene tarifas especiales  </p></center>
                                            </div>
                                            @if (ViewBag.ContractSequence != null)
                                            {
                                                var listContractSequence = (IEnumerable<Angle.Models.ContractSequence>)ViewBag.ContractSequence;
                                                var isAmount = 0;
                                                @foreach (var ContractSequence in listContractSequence)
                                                {
                                                    if (ContractSequence.ServiceTypeID == Model.ServiceTypeID && ContractSequence.OriginID == Model.OriginID && ContractSequence.DestinationID == Model.DestinationID)
                                                    {
                                                        isAmount = 1;
                                                        <input name="QuoteID" id="QuoteID" value="@Model.QuoteID" hidden />
                                                        <input name="PesoMinimo" id="PesoMinimo" value="@ContractSequence.WeightMin" hidden />
                                                        <input name="PrecioBase" id="PrecioBase" value="@ContractSequence.BasePrice" hidden />
                                                        <input name="PrecioExtra" id="PrecioExtra" value="@ContractSequence.ExtraPrice" hidden />

                                                    }
                                                }
                                                @if (isAmount == 0)
                                                {


                                                    <div class="col-lg-12">
                                                        <center><p>No hay montos registrados para este Tipo de servicio en este Origen y Destino</p></center>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-12 col-lg-6">
                                                        <label class="control-label">Tipo de mercanc&iacute;a</label>
                                                        <select id="TipoMercancia" name="TipoMercancia" class="form-control form-control-lg">
                                                            @if (ViewBag.MerchandiseType != null)
                                                            {
                                                                var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;

                                                                @foreach (var MerchandiseType in listMerchandiseType)
                                                                {
                                                                    <option value="@MerchandiseType.MerchandiseTypeID">@MerchandiseType.MerchandiseTypeName</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Descripci&oacute;n</label>
                                                            <input name="Description" id="Description" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Cantidad</label>
                                                            <input name="Quantity" id="Quantity" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Peso</label>
                                                            <input name="Weight" id="Weight" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Monto</label>
                                                            <input name="Amount" id="Amount" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 ">
                                                        <center>
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                            <input type="submit" value="Añadir" class="btn btn-primary">
                                                        </center>
                                                    </div>
                                                }



                                            }
                                        }
                                    }




                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<style type="text/css">

    #botones {
        float: right;
    }

    #importar {
        float: left;
    }

    .btn-primary {
        padding: 6px 15px !important;
    }
</style>
@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">

        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>

        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/vendor/flot/jquery.flot.time.js"></script>
        <script src="~/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
        <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/vendor/moment/min/moment-with-locales.js"></script>
        <script>

            $("#ServiceTypeID").attr('readonly', 'readonly');
            $('#ServiceTypeID option').css('display', 'none');
            $("#SalesPersonID").attr('readonly', 'readonly');
            $('#SalesPersonID option').css('display', 'none');
            $("#CustomerID").attr('readonly', 'readonly');
            $('#CustomerID option').css('display', 'none');

            var x = $("#QuoteStatusID option:selected").val();
            if (x == 1 || x == 2) {
                $("#ReasonStatus").show();
                $("#ReasonStatus").attr('disabled', 'disabled');
                $("#QuoteStatusID").attr('disabled', 'disabled');
            } else {
                $("#ReasonStatus").hide();
            }
            $("#QuoteStatusID").change(function () {
                x = $("#QuoteStatusID option:selected").val();
                if (x == 1 || x == 2) {
                    $("#ReasonStatus").show();
                } else {
                    $("#ReasonStatus").hide();
                }
            });

            $("#Weight").change(function () {
                var peso = $("#Weight").val();
                var PesoMinimo = $("#PesoMinimo").val();
                var PrecioBase = $("#PrecioBase").val();
                var PrecioExtra = $("#PrecioExtra").val();
                if (peso <= PesoMinimo) {

                    $("#Amount").val(PrecioBase);
                } else
                    if (peso > PesoMinimo) {
                        var extra = peso - PesoMinimo;
                        extra = extra * PrecioExtra;
                        $("#Amount").val(parseInt(extra) + parseInt(PrecioBase));
                    }

            });


            if ($("#QuoteStatusID option:selected").val() != 3) {
                $("#OriginID").attr('readonly', 'readonly');
                $('#OriginID option').css('display', 'none');
                $("#DestinationID").attr('readonly', 'readonly');
                $('#DestinationID option').css('display', 'none');
            }

        </script>
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

        </script>
        <script>

        function eliminarRegistro(QuoteID, ItemQuoteID) {
            swal({
                title: ' ¿Está seguro de que desea eliminar el registro?',
                text: 'Si lo elimina, no podrá recuperarlo',
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: 'No, no deseo eliminar',
                        visible: true,
                        className: "",
                        closeModal: false
                    },
                    confirm: {
                        text: 'Si, deseo eliminar',
                        value: true,
                        visible: true,
                        className: "bg-danger",
                        closeModal: false
                    }
                }
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                    location.href = '@Url.Action("DeleteItem", "Quote")?QuoteID=' + QuoteID + '&ItemQuoteID=' + ItemQuoteID;

                } else {
                    swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                }
            });
        }
        </script>


    </environment>
    <environment names="Staging,Production">

        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>

        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/vendor/flot/jquery.flot.time.js"></script>
        <script src="~/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
        <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/vendor/moment/min/moment-with-locales.js"></script>
        <script>

            $("#ServiceTypeID").attr('readonly', 'readonly');
            $('#ServiceTypeID option').css('display', 'none');
            $("#SalesPersonID").attr('readonly', 'readonly');
            $('#SalesPersonID option').css('display', 'none');
            $("#CustomerID").attr('readonly', 'readonly');
            $('#CustomerID option').css('display', 'none');

            var x = $("#QuoteStatusID option:selected").val();
            if (x == 1 || x == 2) {
                $("#ReasonStatus").show();
                $("#ReasonStatus").attr('disabled', 'disabled');
                $("#QuoteStatusID").attr('disabled', 'disabled');
            } else {
                $("#ReasonStatus").hide();
            }
            $("#QuoteStatusID").change(function () {
                x = $("#QuoteStatusID option:selected").val();
                if (x == 1 || x == 2) {
                    $("#ReasonStatus").show();
                } else {
                    $("#ReasonStatus").hide();
                }
            });

            $("#Weight").change(function () {
                var peso = $("#Weight").val();
                var PesoMinimo = $("#PesoMinimo").val();
                var PrecioBase = $("#PrecioBase").val();
                var PrecioExtra = $("#PrecioExtra").val();
                if (peso <= PesoMinimo) {

                    $("#Amount").val(PrecioBase);
                } else
                    if (peso > PesoMinimo) {
                        var extra = peso - PesoMinimo;
                        extra = extra * PrecioExtra;
                        $("#Amount").val(parseInt(extra) + parseInt(PrecioBase));
                    }

            });


            if ($("#QuoteStatusID option:selected").val() != 3) {
                $("#OriginID").attr('readonly', 'readonly');
                $('#OriginID option').css('display', 'none');
                $("#DestinationID").attr('readonly', 'readonly');
                $('#DestinationID option').css('display', 'none');
            }

        </script>
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

        </script>
        <script>

        function eliminarRegistro(QuoteID, ItemQuoteID) {
            swal({
                title: ' ¿Está seguro de que desea eliminar el registro?',
                text: 'Si lo elimina, no podrá recuperarlo',
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: 'No, no deseo eliminar',
                        visible: true,
                        className: "",
                        closeModal: false
                    },
                    confirm: {
                        text: 'Si, deseo eliminar',
                        value: true,
                        visible: true,
                        className: "bg-danger",
                        closeModal: false
                    }
                }
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                    location.href = '@Url.Action("DeleteItem", "Quote")?QuoteID=' + QuoteID + '&ItemQuoteID=' + ItemQuoteID;

                } else {
                    swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                }
            });
        }
        </script>
    </environment>

}
