﻿@model Angle.DTOs.ServiceOrderDTO

@{ ViewData["Title"] = "Create"; }

<div class="content-heading">
    <div>
        Orden de Servicio
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Parametrizaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Orden de servicio</a>
                    </li>
                </ol>
            </div>

            <div class="card-body">
                <div class="col-lg-12">
                    <form asp-action="Create" id="formServiceOrder" data-parsley-validate="" novalidate="">
                        <input name="IdCreate" id="IdCreate" class="form-control" hidden />
                        <input name="DescriptionCreate" id="DescriptionCreate" class="form-control" hidden />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-12 col-lg-2">
                                <div class="form-group">
                                    <label asp-for="ServiceOrderDate" class="control-label"></label>
                                    <input name="ServiceOrderDate" id="ServiceOrderDate" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="form-group">
                                    <label asp-for="ServiceOrderStatusID" class="control-label"></label>
                                    <select asp-for="ServiceOrderStatusID" class="form-control form-control-lg" required>
                                        @if (ViewBag.Status != null)
                                        {
                                            var listServiceOrderStatus = (IEnumerable<Angle.Models.ServiceOrderStatus>)ViewBag.Status;

                                            @foreach (var ServiceOrderStatus in listServiceOrderStatus)
                                            {
                                                if (ServiceOrderStatus.ServiceOrderStatusID == 1)
                                                {
                                                    <option value="@ServiceOrderStatus.ServiceOrderStatusID" selected>@ServiceOrderStatus.ServiceOrderStatusName</option>
                                                }
                                            }}
                                    </select>
                                    <span asp-validation-for="ServiceOrderStatusID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-lg-2">
                                <div class="form-group">
                                    <label asp-for="ServiceTypeID" class="control-label"></label>
                                    <select asp-for="ServiceTypeID" class="form-control form-control-lg" required>
                                        <option value="">Seleccionar</option>
                                        @if (ViewBag.ServiceType != null)
                                        {
                                            var listServiceType = (IEnumerable<Angle.Models.ServiceType>)ViewBag.ServiceType;

                                            @foreach (var ServiceType in listServiceType)
                                            {
                                                <option value="@ServiceType.ServiceTypeID">@ServiceType.ServiceTypeName </option>
                                            }}
                                    </select>
                                    <span asp-validation-for="ServiceTypeID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label asp-for="SalesPersonID" class="control-label"></label>
                                    <select asp-for="SalesPersonID" class="form-control form-control-lg" required>
                                        <option value="">Seleccionar</option>
                                        @if (ViewBag.SalesPerson != null)
                                        {
                                            var listSalesPerson = (IEnumerable<Angle.Models.SalesPerson>)ViewBag.SalesPerson;

                                            @foreach (var SalesPerson in listSalesPerson)
                                            {
                                                <option value="@SalesPerson.SalesPersonID">@SalesPerson.SalesPersonName </option>
                                            }}
                                    </select>
                                    <span asp-validation-for="SalesPersonID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    @if (ViewBag.Customer != null)
                                    {
                                        var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;

                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CustomerID" class="control-label"></label>
                                                <select asp-for="CustomerID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>

                                                    @foreach (var Customer in listCustomer)
                                                    {
                                                        <option id="cliente" value="@Customer.CustomerID">@Customer.CompanyName</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="CustomerID" class="text-danger"></span>
                                            </div>
                                        </div>
                                    }
                                    <div class="col-12 col-lg-3">
                                        <div class="form-group">
                                            <label asp-for="MainPhone" class="control-label">Telefono</label>
                                            <input asp-for="MainPhone" maxlength="10" minlength="10" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <div class="form-group">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-1">
                                <a>
                                    <button class="btn btn-primary btn-lg addItem" type="button" data-toggle="modal" data-target="#ModalcrearRemitente">
                                        <span>Crear</span>
                                    </button>
                                </a>
                            </div>
                            @if (ViewBag.Sender != null)
                            {
                                var listSender = (IEnumerable<Angle.Models.Person>)ViewBag.Sender;

                                <div class="col-12 col-lg-5">
                                    <div class="form-group">
                                        <label asp-for="Sender" class="control-label"></label>
                                        <select asp-for="Sender" class="form-control form-control-lg" required>
                                            <option value="">Seleccionar</option>

                                            @foreach (var Sender in listSender)
                                            {
                                                
                                                    <option value="@Sender.PersonID">@Sender.PersonName</option>

                                            }
                                        </select>
                                        <span asp-validation-for="Sender" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                            <div class="col-12 col-lg-2">Cedula</div>
                            <div class="col-12 col-lg-2">Telefono</div>
                            <div class="col-12 col-lg-2">Correo</div>
                            <div class="col-12 col-lg-1">
                                <a>
                                    <button class="btn btn-primary btn-lg addItem" type="button" data-toggle="modal" data-target="#ModalcrearConsignatario">
                                        <span>Crear</span>
                                    </button>
                                </a>
                            </div>
                            @if (ViewBag.Remittee != null)
                            {
                                var listRemittee = (IEnumerable<Angle.Models.Person>)ViewBag.Remittee;

                                <div class="col-12 col-lg-5">
                                    <div class="form-group">
                                        <label asp-for="Remittee" class="control-label"></label>
                                        <select asp-for="Remittee" class="form-control form-control-lg" required>
                                            <option value="">Seleccionar</option>

                                            @foreach (var Remittee in listRemittee)
                                            {
                                                    <option value="@Remittee.PersonID">@Remittee.PersonName</option>
                                                

                                            }
                                        </select>
                                        <span asp-validation-for="Remittee" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                            <div class="col-12 col-lg-2">Cedula</div>
                            <div class="col-12 col-lg-2">Telefono</div>
                            <div class="col-12 col-lg-2">Correo</div>
                        </div>
                        <div class="form-group">
                            <center>
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Ordenes de Servicios</a>
</div>

<style type="text/css">

    #botones {
        float: right;
    }

    #importar {
        float: left;
    }

    .btn-primary {
        padding: 6px 15px !important;
    }

    .addItem {
        margin: 22px 0px;
    }
</style>

@section BodyArea {

    <div class="modal fade" id="ModalcrearRemitente" tabindex="-1" role="dialog" aria-labelledby="ModalcrearRemitente" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Añadir Remitente</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" asp-controller="ServiceOrder" asp-action="CreatePerson">

                        <input name="PersonType" value="1" class="form-control" hidden />
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input name="PersonName" type="text" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Cedula</label>
                                    <input name="PersonDocument" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Telefono</label>
                                    <input name="PersonTelephone" maxlength="10" minlength="10"  type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Correo electr&oacute;nico</label>
                                    <input name="PersonEmail" type="email" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <center>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <input type="submit" value="Añadir" class="btn btn-primary">
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalcrearConsignatario" tabindex="-1" role="dialog" aria-labelledby="ModalcrearConsignatario" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Añadir Consignatario </h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" asp-controller="ServiceOrder" asp-action="CreatePerson">
                       
                        <input name="PersonType" value="2" class="form-control" hidden />

                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input name="PersonName" type="text" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Cedula</label>
                                    <input name="PersonDocument" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Telefono</label>
                                    <input name="PersonTelephone" maxlength="10" minlength="10" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Correo electr&oacute;nico</label>
                                    <input name="PersonEmail" type="email" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <center>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <input type="submit" value="Añadir" class="btn btn-primary">
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    }
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <environment names="Development">
            <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
            <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
            <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
            <script src="~/vendor/flot/jquery.flot.js"></script>
            <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
            <script src="~/vendor/flot/jquery.flot.resize.js"></script>
            <script src="~/vendor/flot/jquery.flot.pie.js"></script>
            <script src="~/vendor/flot/jquery.flot.time.js"></script>
            <script src="~/vendor/flot/jquery.flot.categories.js"></script>
            <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
            <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
            <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
            <script src="~/vendor/moment/min/moment-with-locales.js"></script>
            <script>

                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();
                var seconds = today.getSeconds();
                var minutes = today.getMinutes();
                var hour = today.getHours();
                today = yyyy + '-' + mm + '-' + dd + ' ' + hour + ':' + minutes + ':' + seconds;
                $("#ServiceOrderDate").val(today);
                $("#IdCreate").val(0);
                $("#DescriptionCreate").val("ID Orden de Servicio");



            </script>
            <script>
                Parsley.addMessages('en', {
                    required: "Valor requerido.",
                });
                Parsley.setLocale('en');

            </script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
            <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
            <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
            <script src="~/vendor/flot/jquery.flot.js"></script>
            <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
            <script src="~/vendor/flot/jquery.flot.resize.js"></script>
            <script src="~/vendor/flot/jquery.flot.pie.js"></script>
            <script src="~/vendor/flot/jquery.flot.time.js"></script>
            <script src="~/vendor/flot/jquery.flot.categories.js"></script>
            <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
            <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
            <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
            <script src="~/vendor/moment/min/moment-with-locales.js"></script>
            <script>

                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();
                var seconds = today.getSeconds();
                var minutes = today.getMinutes();
                var hour = today.getHours();
                today = yyyy + '-' + mm + '-' + dd + ' ' + hour + ':' + minutes + ':' + seconds;
                $("#ServiceOrderDate").val(today);
                $("#IdCreate").val(0);
                $("#DescriptionCreate").val("ID Orden de Servicio");



            </script>
            <script>
                Parsley.addMessages('en', {
                    required: "Valor requerido.",
                });
                Parsley.setLocale('en');

            </script>
        </environment>

    }
