﻿@model Angle.DTOs.ServiceOrderDTO

@{ ViewData["Title"] = "Edit"; }

<div class="content-heading">
    <div>
        Orden de Servicio
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Operaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="">Orden de servicio</a>
                    </li>
                    <button class="btn btn-dark btn-lg codeqr" type="button" data-toggle="modal" data-target="#ModalEtiqueta">
                        <i class="fa fa-qrcode icon-4x" aria-hidden="true"></i>
                    </button>
                </ol>

            </div>

            <div class="card-body">
                <form asp-action="Edit" data-parsley-validate="" novalidate="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input name="IdCreate" id="IdCreate" class="form-control" hidden />
                    <input name="DescriptionCreate" id="DescriptionCreate" class="form-control" hidden />
                    <input type="hidden" asp-for="ServiceOrderID" />

                    <div class="row">
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label asp-for="ServiceOrderDate" class="control-label"></label>
                                <input asp-for="ServiceOrderDate" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label asp-for="ServiceOrderStatusID" class="control-label"></label>
                                <select asp-for="ServiceOrderStatusID" class="form-control form-control-lg" required>
                                    @if (ViewBag.Status != null)
                                    {
                                        var listServiceOrderStatus = (IEnumerable<Angle.Models.ServiceOrderStatus>)ViewBag.Status;

                                        @foreach (var ServiceOrderStatus in listServiceOrderStatus)
                                        {

                                            <option value="@ServiceOrderStatus.ServiceOrderStatusID">@ServiceOrderStatus.ServiceOrderStatusName</option>

                                        }
                                    }
                                </select>
                                <span asp-validation-for="ServiceOrderStatusID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label class="control-label">@Model.DescriptionCreate</label>
                                <input class="form-control" value="@Model.IdCreate" disabled />
                            </div>
                        </div>
                        <div class="col-12 col-lg-12">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="ServiceTypeID" class="control-label"></label>
                                        <select asp-for="ServiceTypeID" class="form-control form-control-lg" required>
                                            <option value="">Seleccionar</option>
                                            @if (ViewBag.ServiceType != null)
                                            {
                                                var listServiceType = (IEnumerable<Angle.Models.ServiceType>)ViewBag.ServiceType;
                                                @foreach (var ServiceType in listServiceType)
                                                {
                                                    <option value="@ServiceType.ServiceTypeID">@ServiceType.ServiceTypeName </option>
                                                }}
                                        </select>
                                        <span asp-validation-for="ServiceTypeID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="SalesPersonID" class="control-label"></label>
                                        <select asp-for="SalesPersonID" class="form-control form-control-lg" required>
                                            <option value="">Seleccionar</option>
                                            @if (ViewBag.SalesPerson != null)
                                            {
                                                var listSalesPerson = (IEnumerable<Angle.Models.SalesPerson>)ViewBag.SalesPerson;

                                                @foreach (var SalesPerson in listSalesPerson)
                                                {
                                                    <option value="@SalesPerson.SalesPersonID">@SalesPerson.SalesPersonName </option>
                                                }}
                                        </select>
                                        <span asp-validation-for="SalesPersonID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="OriginID" class="control-label"></label>
                                        <select asp-for="OriginID" class="form-control form-control-lg" required>
                                            <option value="">Seleccionar</option>

                                            @if (Model.ServiceTypeID == 2)
                                            {
                                                @if (ViewBag.Warehouse != null)
                                                {
                                                    var listWarehouse = (IEnumerable<Angle.Models.Warehouse>)ViewBag.Warehouse;

                                                    @foreach (var Warehouse in listWarehouse)
                                                    {
                                                        <option value="@Warehouse.WarehouseID">@Warehouse.WarehouseName </option>
                                                    }
                                                }
                                            }
                                            else
if (Model.ServiceTypeID == 3 || Model.ServiceTypeID == 1)
                                            {
                                                @if (ViewBag.GeoLevel1 != null)
                                                {
                                                    var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                                    @foreach (var GeoLevel1 in listGeoLevel1)
                                                    {
                                                        <option value="@GeoLevel1.GeoLevel1ID">@GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</option>
                                                    }
                                                }
                                            }

                                        </select>
                                        <span asp-validation-for="OriginID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="DestinationID" class="control-label"></label>
                                        <select asp-for="DestinationID" class="form-control form-control-lg" required>
                                            <option value="">Seleccionar</option>

                                            @if (Model.ServiceTypeID == 1 || Model.ServiceTypeID == 3)
                                            {
                                                @if (ViewBag.GeoLevel1 != null)
                                                {
                                                    var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                                    @foreach (var GeoLevel1 in listGeoLevel1)
                                                    {
                                                        <option value="@GeoLevel1.GeoLevel1ID">@GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</option>
                                                    }
                                                }
                                            }
                                            else
if (Model.ServiceTypeID == 2)
                                            {
                                                @if (ViewBag.Warehouse != null)
                                                {
                                                    var listWarehouse = (IEnumerable<Angle.Models.Warehouse>)ViewBag.Warehouse;

                                                    @foreach (var Warehouse in listWarehouse)
                                                    {
                                                        <option value="@Warehouse.WarehouseID">@Warehouse.WarehouseName </option>
                                                    }
                                                }
                                            }

                                        </select>
                                        <span asp-validation-for="DestinationID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="AddressQuote" class="control-label"></label>
                                        <input asp-for="AddressQuote" class="form-control" />
                                        <span asp-validation-for="AddressQuote" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="ReferenceQuote" class="control-label"></label>
                                        <input asp-for="ReferenceQuote" class="form-control" />
                                        <span asp-validation-for="ReferenceQuote" class="text-danger"></span>
                                    </div>
                                </div>

                                @if (ViewBag.Customer != null)
                                {
                                    var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;

                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="CustomerID" class="control-label"></label>
                                            <select asp-for="CustomerID" class="form-control form-control-lg" required>
                                                <option value="">Seleccionar</option>

                                                @foreach (var Customer in listCustomer)
                                                {
                                                    <option id="cliente" value="@Customer.CustomerID">@Customer.CompanyName</option>

                                                }
                                            </select>
                                            <span asp-validation-for="CustomerID" class="text-danger"></span>
                                        </div>
                                    </div>
                                }

                                @if (ViewBag.DeliveryMode != null)
                                {
                                    var listDeliveryMode = (IEnumerable<Angle.Models.DeliveryMode>)ViewBag.DeliveryMode;

                                    <div class="col-12 col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Tiempo de entrega maximo (dias)</label>
                                            <select asp-for="MaxDays" class="form-control form-control-lg" required>
                                                <option value="">Seleccionar</option>

                                                @foreach (var DeliveryMode in listDeliveryMode)
                                                {
                                                    <option value="@DeliveryMode.DeliveryModeName">@DeliveryMode.DeliveryModeName dias</option>

                                                }
                                            </select>
                                            <span asp-validation-for="MaxDays" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Fecha de entrega</label>
                                            <input name="DateDeliveryMaxShow" id="DateDeliveryMaxShow" class="form-control" disabled />
                                            <input name="DateDeliveryMax" id="DateDeliveryMax" class="form-control" hidden />
                                        </div>
                                    </div>
                                }
                                <div class="col-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-12 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="MainPhone" class="control-label">Telefono</label>
                                                <input asp-for="MainPhone" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-1">
                                    <a>
                                        <button class="btn btn-primary btn-lg addItem" type="button" data-toggle="modal" data-target="#ModalcrearRemitente">
                                            <span>Crear</span>
                                        </button>
                                    </a>
                                </div>
                                @if (ViewBag.Sender != null)
                                {
                                    var listSender = (IEnumerable<Angle.Models.Person>)ViewBag.Sender;

                                    <div class="col-12 col-lg-5">
                                        <div class="form-group">
                                            <label asp-for="Sender" class="control-label"></label>
                                            <select asp-for="Sender" class="form-control form-control-lg" required>
                                                <option value="">Seleccionar</option>
                                                @foreach (var Sender in listSender)
                                                {
                                                        <option value="@Sender.PersonID">@Sender.PersonName</option>
                                                   

                                                }
                                            </select>
                                            <span asp-validation-for="Sender" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.Sender != null)
                                {
                                    var listSender = (IEnumerable<Angle.Models.Person>)ViewBag.Sender;


                                    @foreach (var Sender in listSender)
                                    {
                                        if (Model.Sender == Sender.PersonID)
                                        {
                                            <div class="col-12 col-lg-2">
                                                <label class="control-label">Cedula</label>
                                                <input value=" @Sender.PersonDocument" class="form-control" disabled />
                                            </div>
                                            <div class="col-12 col-lg-2">
                                                <label class="control-label">Telefono</label>
                                                <input value=" @Sender.PersonTelepone" class="form-control" disabled />
                                            </div>
                                            <div class="col-12 col-lg-2">
                                                <label class="control-label">Correo electr&oacute;nico</label>
                                                <input value=" @Sender.PersonEmail" class="form-control" disabled />
                                            </div>
                                        }

                                    }
                                }

                                <div class="col-12 col-lg-1">
                                    <a>
                                        <button class="btn btn-primary btn-lg addItem" type="button" data-toggle="modal" data-target="#ModalcrearConsignatario">
                                            <span>Crear</span>
                                        </button>
                                    </a>
                                </div>
                                @if (ViewBag.Remittee != null)
                                {
                                    var listRemittee = (IEnumerable<Angle.Models.Person>)ViewBag.Remittee;

                                    <div class="col-12 col-lg-5">
                                        <div class="form-group">
                                            <label asp-for="Remittee" class="control-label"></label>
                                            <select asp-for="Remittee" class="form-control form-control-lg" required>
                                                <option value="">Seleccionar</option>

                                                @foreach (var Remittee in listRemittee)
                                                {
                                                        <option value="@Remittee.PersonID">@Remittee.PersonName</option>
                                                    

                                                }
                                            </select>
                                            <span asp-validation-for="Remittee" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.Remittee != null)
                                {
                                    var listRemittee = (IEnumerable<Angle.Models.Person>)ViewBag.Remittee;


                                    @foreach (var Remittee in listRemittee)
                                    {
                                        if (Model.Remittee == Remittee.PersonID)
                                        {
                                            <div class="col-12 col-lg-2">
                                                <label class="control-label">Cedula</label>
                                                <input value=" @Remittee.PersonDocument" class="form-control" disabled />
                                            </div>
                                            <div class="col-12 col-lg-2">
                                                <label class="control-label">Telefono</label>
                                                <input value=" @Remittee.PersonTelepone" class="form-control" disabled />
                                            </div>
                                            <div class="col-12 col-lg-2">
                                                <label class="control-label">Correo electr&oacute;nico</label>
                                                <input value=" @Remittee.PersonEmail" class="form-control" disabled />
                                            </div>
                                        }

                                    }
                                }
                            </div>

                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="CollectDate" class="control-label"></label>
                                        <input asp-for="CollectDate" class="form-control" title="@Model.ServiceOrderID" />
                                        <span asp-validation-for="CollectDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="InTransitDate" class="control-label"></label>
                                        <input asp-for="InTransitDate" class="form-control" title="@Model.ServiceOrderID" />
                                        <span asp-validation-for="InTransitDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="DeliveryDate" class="control-label"></label>
                                        <input asp-for="DeliveryDate" class="form-control" title="@Model.ServiceOrderID" />
                                        <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <center><input type="submit" value="Guardar" class="btn btn-primary" /></center>
                    </div>
                </form>
            </div>
        </div>


        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Items cotizados</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Orden de servicio: @Model.ServiceOrderID</a>
                    </li>
                </ol>


                <div id="botones" class="botones">
                    <a>
                        <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#ModalcrearItem">
                            <span>Crear</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped my-4 w-100" id="datatable4Track">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tipo de mercanc&iacute;a</th>
                            <th>Descripci&oacute;n</th>
                            <th>Bulto / Paquete</th>
                            <th>Peso (Lb)</th>
                            <th>Costo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var total = 0;
                        }
                        @if (ViewBag.ItemsQuote != null)
                        {

                            var listItemsQuote = (IEnumerable<Angle.Models.ItemsQuote>)ViewBag.ItemsQuote;


                            @foreach (var itemItemsQuote in listItemsQuote)
                            {
                                if (Model.QuoteID == itemItemsQuote.QuoteID)
                                {
                                    <tr>
                                        <td>
                                            <a OnClick="eliminarRegistro(@Model.ServiceOrderID,@itemItemsQuote.ItemsQuoteID,@Model.QuoteID)" class="text-muted">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                        @if (ViewBag.MerchandiseType != null)
                                        {
                                            var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;
                                            @foreach (var itemMerchandiseType in listMerchandiseType)
                                            {
                                                if (itemItemsQuote.MerchandiseTypeID == itemMerchandiseType.MerchandiseTypeID)
                                                {
                                                    <td> @Html.DisplayFor(modelItem => itemMerchandiseType.MerchandiseTypeName)</td>
                                                }
                                            }
                                        }

                                        <td> @Html.DisplayFor(modelItem => itemItemsQuote.Description)</td>
                                        <td> @Html.DisplayFor(modelItem => itemItemsQuote.Quantity)</td>
                                        <td> @Html.DisplayFor(modelItem => itemItemsQuote.Weight)</td>
                                        <td> @Html.DisplayFor(modelItem => itemItemsQuote.Amount)</td>
                                        @{

                                            total = (total + itemItemsQuote.Amount);
                                        }
                                    </tr>
                                }

                            }

                        }
                        @if (ViewBag.ItemsServiceOrder != null)
                        {
                            var listItemsServiceOrder = (IEnumerable<Angle.Models.ItemsServiceOrder>)ViewBag.ItemsServiceOrder;


                            @foreach (var itemItemsServiceOrder in listItemsServiceOrder)
                            {
                                if (Model.ServiceOrderID == itemItemsServiceOrder.ServiceOrderID)
                                {
                                    <tr>
                                        <td>
                                            <a OnClick="eliminarRegistro(@Model.ServiceOrderID,@itemItemsServiceOrder.ItemsServiceOrderID,@Model.QuoteID)" class="text-muted">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                        @if (ViewBag.MerchandiseType != null)
                                        {
                                            var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;
                                            @foreach (var itemMerchandiseType in listMerchandiseType)
                                            {
                                                if (itemItemsServiceOrder.MerchandiseTypeID == itemMerchandiseType.MerchandiseTypeID)
                                                {
                                                    <td> @Html.DisplayFor(modelItem => itemMerchandiseType.MerchandiseTypeName)</td>
                                                }
                                            }
                                        }

                                        <td> @Html.DisplayFor(modelItem => itemItemsServiceOrder.Description)</td>
                                        <td> @Html.DisplayFor(modelItem => itemItemsServiceOrder.Quantity)</td>
                                        <td> @Html.DisplayFor(modelItem => itemItemsServiceOrder.Weight)</td>
                                        <td> @Html.DisplayFor(modelItem => itemItemsServiceOrder.Amount)</td>
                                        @{

                                            total = (total + itemItemsServiceOrder.Amount);
                                        }
                                    </tr>
                                }

                            }
                        }
                        <p style="float:right;font-weight: 900;font-size: x-large;">Total: @total</p>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Tipo de mercanc&iacute;a</th>
                            <th>Descripci&oacute;n</th>
                            <th>Bulto / Paquete</th>
                            <th>Peso (Lb)</th>
                            <th>Costo</th>
                        </tr>
                    </tfoot>
                </table>



            </div>
            <!-- /.card-body -->
        </div>



    </div>
</div>
<div>
    <a asp-action="Index">Listar Ordenes de Servicios</a>
</div>


@section BodyArea {



    <div class="modal fade" id="ModalEtiqueta" tabindex="-1" role="dialog" aria-labelledby="ModalEtiqueta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title titleticket" id="ModalImportarLabel">CPS-@Model.CustomerID-@Model.CustomerID-@Model.ServiceOrderID</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body bgticket">

                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="ticket">
                                <div class="qr_code">
                                    <img src="https://es.qr-code-generator.com/wp-content/themes/qr/new_structure/markets/core_market/generator/dist/generator/assets/images/websiteQRCode_noFrame.png" alt="qr_code">
                                </div>
                                <div class="content">
                                    <div class="location">
                                        <div class="item">
                                            @if (Model.ServiceTypeID == 2)
                                            {
                                                @if (ViewBag.Warehouse != null)
                                                {
                                                    var listWarehouse = (IEnumerable<Angle.Models.Warehouse>)ViewBag.Warehouse;

                                                    @foreach (var Warehouse in listWarehouse)
                                                    {
                                                        if (Model.OriginID == Warehouse.WarehouseID)
                                                        {
                                                            <h1 class="place">@Warehouse.WarehouseName</h1>
                                                        }


                                                    }
                                                }
                                            }
                                            else
                                       if (Model.ServiceTypeID == 3 || Model.ServiceTypeID == 1)
                                            {
                                                @if (ViewBag.GeoLevel1 != null)
                                                {
                                                    var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                                    @foreach (var GeoLevel1 in listGeoLevel1)
                                                    {
                                                        if (Model.OriginID == GeoLevel1.GeoLevel1ID)
                                                        {
                                                            <h1 class="place">@GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</h1>
                                                        }

                                                    }
                                                }
                                            }

                                            <p>@Model.ServiceOrderDate</p>
                                        </div>
                                        <div class="path">
                                            <i class="fa-fw fa fa-truck car"></i>
                                        </div>
                                        <div class="item">
                                            @if (Model.ServiceTypeID == 2)
                                            {
                                                @if (ViewBag.Warehouse != null)
                                                {
                                                    var listWarehouse = (IEnumerable<Angle.Models.Warehouse>)ViewBag.Warehouse;

                                                    @foreach (var Warehouse in listWarehouse)
                                                    {
                                                        if (Model.DestinationID == Warehouse.WarehouseID)
                                                        {
                                                            <h1 class="place">@Warehouse.WarehouseName</h1>
                                                        }


                                                    }
                                                }
                                            }
                                            else
                                 if (Model.ServiceTypeID == 3 || Model.ServiceTypeID == 1)
                                            {
                                                @if (ViewBag.GeoLevel1 != null)
                                                {
                                                    var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                                    @foreach (var GeoLevel1 in listGeoLevel1)
                                                    {
                                                        if (Model.DestinationID == GeoLevel1.GeoLevel1ID)
                                                        {
                                                            <h1 class="place">@GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</h1>
                                                        }

                                                    }
                                                }
                                            }
                                            @if (Convert.ToString(@Model.CollectDate) == "1/01/0001 00:00:00")
                                            {
                                                <p>Ordenado: @Model.ServiceOrderDate</p>
                                            }
                                            else
                                            @if (Convert.ToString(@Model.InTransitDate) == "1/01/0001 00:00:00")
                                            {
                                                <p> Colectado: @Model.CollectDate </p>
                                            }
                                            else
                                            @if (Convert.ToString(@Model.DeliveryDate) == "1/01/0001 00:00:00")
                                            {
                                                <p> En transito: @Model.InTransitDate</p>
                                            }
                                            else
                                            {
                                                <p> Entregado: @Model.DeliveryDate</p>
                                            }
                                        </div>
                                    </div>

                                    <div class="info">
                                        <div class="item">
                                            <h4>Remitente</h4>
                                            @if (ViewBag.Customer != null)
                                            {

                                                var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;


                                                @foreach (var itemCustomer in listCustomer)
                                                {

                                                    @if (Model.CustomerID == itemCustomer.CustomerID)
                                                    {
                                                        <p>@Html.DisplayFor(modelItem => itemCustomer.CompanyName)</p>
                                                        <p>@Html.DisplayFor(modelItem => itemCustomer.FirstName) @Html.DisplayFor(modelItem => itemCustomer.LastName)</p>
                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="item">
                                            <h4>Peso</h4>
                                            <p>-</p>
                                        </div>
                                        <div class="item">
                                            <h4>Volumen</h4>
                                            <p>-</p>
                                        </div>
                                        <div class="item">
                                            <h4>Consignatario</h4>
                                            <p>@Model.Remittee</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalcrearRemitente" tabindex="-1" role="dialog" aria-labelledby="ModalcrearRemitente" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Añadir Remitente</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" asp-controller="ServiceOrder" asp-action="CreatePerson">

                        <input name="PersonType" value="1" class="form-control" hidden />
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input name="PersonName" type="text" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Cedula</label>
                                    <input name="PersonDocument" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Telefono</label>
                                    <input name="PersonTelephone" maxlength="10" minlength="10" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Correo electr&oacute;nico</label>
                                    <input name="PersonEmail" type="email" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <center>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <input type="submit" value="Añadir" class="btn btn-primary">
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalcrearConsignatario" tabindex="-1" role="dialog" aria-labelledby="ModalcrearConsignatario" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Añadir Consignatario </h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" asp-controller="ServiceOrder" asp-action="CreatePerson">

                        <input name="PersonType" value="2" class="form-control" hidden />

                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input name="PersonName" type="text" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Cedula</label>
                                    <input name="PersonDocument" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Telefono</label>
                                    <input name="PersonTelephone" maxlength="10" minlength="10" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Correo electr&oacute;nico</label>
                                    <input name="PersonEmail" type="email" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <center>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <input type="submit" value="Añadir" class="btn btn-primary">
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- Modals must be declare at body level so the content overlaps the background-->
    <!-- Modal Large-->
    <div class="modal fade" id="ModalcrearItem" tabindex="-1" role="dialog" aria-labelledby="ModalcrearItem" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Añadir item a la orden de servicio #@Model.ServiceOrderID </h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="card-body">
                        <div class="col-lg-12">
                            <form method="post" enctype="multipart/form-data" asp-controller="ServiceOrder" asp-action="CreateItem">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">

                                    <input name="ServiceOrderID" id="ServiceOrderID" value="@Model.ServiceOrderID" hidden />
                                    @if (ViewBag.ContractSpecial != null)
                                    {
                                        var isSpecial = 0; //0 -> no  1 -
                                        var listContractSpecial = (IEnumerable<Angle.Models.ContractSpecial>)ViewBag.ContractSpecial;
                                        @foreach (var itemContractSpecial in listContractSpecial)
                                        {
                                            if (Model.CustomerID == itemContractSpecial.CustomerID)
                                                isSpecial = 1;
                                        }

                                        if (isSpecial == 1)
                                        {
                                            <div class="col-lg-12">
                                                <p>Este cliente tiene tarifas especiales</p>
                                            </div>
                                            @if (ViewBag.ContractSpecialSequence != null)
                                            {
                                                var listContractSpecialSequence = (IEnumerable<Angle.Models.ContractSpecialSequence>)ViewBag.ContractSpecialSequence;
                                                var isAmount = 0;
                                                @foreach (var ContractSpecialSequence in listContractSpecialSequence)
                                                {



                                                    <input name="QuoteID" id="QuoteID" value="0" hidden />
                                                    <input name="PesoMinimo" id="PesoMinimo" value="@ContractSpecialSequence.WeightMin" hidden />
                                                    <input name="PrecioBase" id="PrecioBase" value="@ContractSpecialSequence.BasePrice" hidden />
                                                    <input name="PrecioExtra" id="PrecioExtra" value="@ContractSpecialSequence.ExtraPrice" hidden />
                                                    if (ContractSpecialSequence.CustomerID == Model.CustomerID && ContractSpecialSequence.ServiceTypeID == Model.ServiceTypeID && ContractSpecialSequence.OriginID == Model.OriginID && ContractSpecialSequence.DestinationID == Model.DestinationID)
                                                        isAmount = 1;

                                                }

                                                @if (isAmount == 1)
                                                {
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Tipo de mercanc&iacute;a</label>
                                                            <select id="TipoMercancia" name="TipoMercancia" class="form-control form-control-lg">
                                                                @if (ViewBag.MerchandiseType != null)
                                                                {
                                                                    var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;

                                                                    @foreach (var MerchandiseType in listMerchandiseType)
                                                                    {
                                                                        <option value="@MerchandiseType.MerchandiseTypeID">@MerchandiseType.MerchandiseTypeName</option>
                                                                    }
                                                                }


                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Descripci&oacute;n</label>
                                                            <input name="Description" id="Description" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Cantidad</label>
                                                            <input name="Quantity" id="Quantity" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Peso</label>
                                                            <input name="Weight" id="Weight" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Monto</label>
                                                            <input name="Amount" id="Amount" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 ">
                                                        <center>
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                            <input type="submit" value="Añadir" class="btn btn-primary">
                                                        </center>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <p>No hay montos registrados para este Cliente con el Tipo de servicio, Origen y Destino Señalado</p>
                                                }
                                            }


                                        }
                                        else
                                        {

                                            <div class="col-lg-12">
                                                <center><p>Este cliente no tiene tarifas especiales  </p></center>
                                            </div>
                                            @if (ViewBag.ContractSequence != null)
                                            {
                                                var listContractSequence = (IEnumerable<Angle.Models.ContractSequence>)ViewBag.ContractSequence;
                                                var isAmount = 0;
                                                @foreach (var ContractSequence in listContractSequence)
                                                {
                                                    if (ContractSequence.ServiceTypeID == Model.ServiceTypeID && ContractSequence.OriginID == Model.OriginID && ContractSequence.DestinationID == Model.DestinationID)
                                                    {
                                                        isAmount = 1;

                                                        <input name="QuoteID" id="QuoteID" value="0" hidden />
                                                        <input name="PesoMinimo" id="PesoMinimo" value="@ContractSequence.WeightMin" hidden />
                                                        <input name="PrecioBase" id="PrecioBase" value="@ContractSequence.BasePrice" hidden />
                                                        <input name="PrecioExtra" id="PrecioExtra" value="@ContractSequence.ExtraPrice" hidden />

                                                    }
                                                }
                                                @if (isAmount == 0)
                                                {


                                                    <div class="col-lg-12">
                                                        <center><p>No hay montos registrados para este Tipo de servicio en este Origen y Destino</p></center>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-12 col-lg-6">
                                                        <label class="control-label">Tipo de mercanc&iacute;a</label>
                                                        <select id="TipoMercancia" name="TipoMercancia" class="form-control form-control-lg">
                                                            @if (ViewBag.MerchandiseType != null)
                                                            {
                                                                var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;

                                                                @foreach (var MerchandiseType in listMerchandiseType)
                                                                {
                                                                    <option value="@MerchandiseType.MerchandiseTypeID">@MerchandiseType.MerchandiseTypeName</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Descripci&oacute;n</label>
                                                            <input name="Description" id="Description" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Cantidad</label>
                                                            <input name="Quantity" id="Quantity" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Peso</label>
                                                            <input name="Weight" id="Weight" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Monto</label>
                                                            <input name="Amount" id="Amount" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 ">
                                                        <center>
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                            <input type="submit" value="Añadir" class="btn btn-primary">
                                                        </center>
                                                    </div>
                                                }



                                            }
                                        }
                                    }




                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<style type="text/css">

    #botones {
        float: right;
    }

    #importar {
        float: left;
    }

    .btn-primary {
        padding: 6px 15px !important;
    }

    .addItem {
        margin: 22px 0px;
    }
</style>
@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">

        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>

        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/vendor/flot/jquery.flot.time.js"></script>
        <script src="~/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
        <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/vendor/moment/min/moment-with-locales.js"></script>
        <script>
            var id = $("#ServiceOrderID").val();

            $("#IdCreate").val(id);
            $("#DescriptionCreate").val("ID Orden de Servicio");

            $("#ServiceTypeID").attr('readonly', 'readonly');
            $('#ServiceTypeID option').css('display', 'none');
            $("#SalesPersonID").attr('readonly', 'readonly');
            $('#SalesPersonID option').css('display', 'none');
            $("#CustomerID").attr('readonly', 'readonly');
            $('#CustomerID option').css('display', 'none');


            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            var seconds = today.getSeconds();
            var minutes = today.getMinutes();
            var hour = today.getHours();
            today = yyyy + '-' + mm + '-' + dd + ' ' + hour + ':' + minutes + ':' + seconds;
            $("#ServiceOrderDate").val(today);

            $("#ServiceOrderStatusID").change(function () {

                var status = $("#ServiceOrderStatusID option:selected").val();
                if (status == 2) {
                    $("#CollectDate").val(todayDelivery);
                    $("#InTransitDate").val("0001-01-01T00:00:00.000");
                    $("#DeliveryDate").val("0001-01-01T00:00:00.000");
                } else
                    if (status == 3) {
                        $("#InTransitDate").val(todayDelivery);
                        $("#DeliveryDate").val("0001-01-01T00:00:00.000");
                    } else
                        if (status == 4) {
                            $("#DeliveryDate").val(today);
                        }


            });
            var x = $("#ServiceOrderID").val();
            var ServiceOrderDate = yyyy + '-' + mm + '-' + dd;
            var Fecha = new Date(ServiceOrderDate.toLocaleString('en-US'));


                var d = $("#MaxDays option:selected").val();

                var sFecha = fecha || (Fecha.getDate() + "-" + (Fecha.getMonth() + 1) + "-" + Fecha.getFullYear());
                var sep = sFecha.indexOf('-') != -1 ? '-' : '-';
                var aFecha = sFecha.split(sep);
                var fecha = aFecha[2] + '-' + aFecha[1] + '-' + aFecha[0];
                fecha = new Date(fecha);
                fecha.setDate(fecha.getDate() + parseInt(d));
                var anno = fecha.getFullYear();
                var mes = fecha.getMonth() + 1;
                var dia = fecha.getDate();
                mes = (mes < 10) ? ("0" + mes) : mes;
                dia = (dia < 10) ? ("0" + dia) : dia;
                var fechaFinal = dia + sep + mes + sep + anno;


                $("#DateDeliveryMax").val(fechaFinal);
                $("#DateDeliveryMaxShow").val(fechaFinal + ' ' + hour + ':' + minutes + ':' + seconds);
                $("#MaxDays").change(function () {

                    var d = $("#MaxDays option:selected").val();

                    var sFecha = fecha || (Fecha.getDate() + "-" + (Fecha.getMonth() + 1) + "-" + Fecha.getFullYear());
                    var sep = sFecha.indexOf('-') != -1 ? '-' : '-';
                    var aFecha = sFecha.split(sep);
                    var fecha = aFecha[2] + '-' + aFecha[1] + '-' + aFecha[0];
                    fecha = new Date(fecha);
                    fecha.setDate(fecha.getDate() + parseInt(d));
                    var anno = fecha.getFullYear();
                    var mes = fecha.getMonth() + 1;
                    var dia = fecha.getDate();
                    mes = (mes < 10) ? ("0" + mes) : mes;
                    dia = (dia < 10) ? ("0" + dia) : dia;
                    var fechaFinal = dia + sep + mes + sep + anno;
                    $("#DateDeliveryMax").val(fechaFinal);
                    $("#DateDeliveryMaxShow").val(fechaFinal + ' ' + hour + ':' + minutes + ':' + seconds);
                });

            var fecha = moment(ServiceOrderDate).format('DD/MM/YYYY');



            var today2 = new Date();
            $('input[title="' + x + '"]#CollectDate').attr("readonly", "readonly");
            $('input[title="' + x + '"]#InTransitDate').attr("readonly", "readonly");
            $('input[title="' + x + '"]#DeliveryDate').attr("readonly", "readonly");
            //$('input[title="' + x + '"]#ServiceOrderID').val()
            if ($('input[title="' + x + '"]#CollectDate').val() == "0001-01-01") {
                $('input[title="' + x + '"]#CollectDate').val("");
                $('input[title="' + x + '"]#CollectDate').removeAttr("readonly");
                $('input[title="' + x + '"]#ServiceOrderStatusID').val(2);
            }
            if (($('input[title="' + x + '"]#CollectDate').val() != "0001-01-01") && ($('input[title="' + x + '"]#InTransitDate').val() == "0001-01-01")) {
                $('input[title="' + x + '"]#InTransitDate').val("");
                $('input[title="' + x + '"]#InTransitDate').removeAttr("readonly");
                $('input[title="' + x + '"]#ServiceOrderStatusID').val(3);
            }
            if (($('input[title="' + x + '"]#InTransitDate').val() != "0001-01-01") && ($('input[title="' + x + '"]#DeliveryDate').val() == "0001-01-01")) {
                $('input[title="' + x + '"]#DeliveryDate').val("");
                $('input[title="' + x + '"]#DeliveryDate').removeAttr("readonly");
                $('input[title="' + x + '"]#ServiceOrderStatusID').val(4);
            }

           

            $("#Weight").change(function () {
                var peso = $("#Weight").val();
                var PesoMinimo = $("#PesoMinimo").val();
                var PrecioBase = $("#PrecioBase").val();
                var PrecioExtra = $("#PrecioExtra").val();
                if (peso <= PesoMinimo) {

                    $("#Amount").val(PrecioBase);
                } else
                    if (peso > PesoMinimo) {
                        var extra = peso - PesoMinimo;
                        extra = extra * PrecioExtra;
                        $("#Amount").val(parseInt(extra) + parseInt(PrecioBase));
                    }

            });


            if ($("#ServiceOrderStatusID option:selected").val() != 1) {
                $("#OriginID").attr('readonly', 'readonly');
                $('#OriginID option').css('display', 'none');
                $("#DestinationID").attr('readonly', 'readonly');
                $('#DestinationID option').css('display', 'none');
            }

        </script>
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

        </script>
        <script>

            function eliminarRegistro(ServiceOrderID, ItemServiceOrderID) {
            swal({
                title: ' ¿Está seguro de que desea eliminar el registro?',
                text: 'Si lo elimina, no podrá recuperarlo',
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: 'No, no deseo eliminar',
                        visible: true,
                        className: "",
                        closeModal: false
                    },
                    confirm: {
                        text: 'Si, deseo eliminar',
                        value: true,
                        visible: true,
                        className: "bg-danger",
                        closeModal: false
                    }
                }
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                    location.href = '@Url.Action("DeleteItem", "ServiceOrder")?ServiceOrderID=' + ServiceOrderID + '&ItemServiceOrderID=' + ItemServiceOrderID;

                } else {
                    swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                }
            });
        }
        </script>


    </environment>
    <environment names="Staging,Production">

        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>

        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/vendor/flot/jquery.flot.time.js"></script>
        <script src="~/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
        <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/vendor/moment/min/moment-with-locales.js"></script>
        <script>
            var id = $("#ServiceOrderID").val();

            $("#IdCreate").val(id);
            $("#DescriptionCreate").val("ID Orden de Servicio");

            $("#ServiceTypeID").attr('readonly', 'readonly');
            $('#ServiceTypeID option').css('display', 'none');
            $("#SalesPersonID").attr('readonly', 'readonly');
            $('#SalesPersonID option').css('display', 'none');
            $("#CustomerID").attr('readonly', 'readonly');
            $('#CustomerID option').css('display', 'none');


            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            var seconds = today.getSeconds();
            var minutes = today.getMinutes();
            var hour = today.getHours();
            today = yyyy + '-' + mm + '-' + dd + ' ' + hour + ':' + minutes + ':' + seconds;
            $("#ServiceOrderDate").val(today);

            $("#ServiceOrderStatusID").change(function () {

                var status = $("#ServiceOrderStatusID option:selected").val();
                if (status == 2) {
                    $("#CollectDate").val(todayDelivery);
                    $("#InTransitDate").val("0001-01-01T00:00:00.000");
                    $("#DeliveryDate").val("0001-01-01T00:00:00.000");
                } else
                    if (status == 3) {
                        $("#InTransitDate").val(todayDelivery);
                        $("#DeliveryDate").val("0001-01-01T00:00:00.000");
                    } else
                        if (status == 4) {
                            $("#DeliveryDate").val(today);
                        }


            });
            var x = $("#ServiceOrderID").val();
            var ServiceOrderDate = yyyy + '-' + mm + '-' + dd;
            var Fecha = new Date(ServiceOrderDate.toLocaleString('en-US'));


            var d = $("#MaxDays option:selected").val();

            var sFecha = fecha || (Fecha.getDate() + "-" + (Fecha.getMonth() + 1) + "-" + Fecha.getFullYear());
            var sep = sFecha.indexOf('-') != -1 ? '-' : '-';
            var aFecha = sFecha.split(sep);
            var fecha = aFecha[2] + '-' + aFecha[1] + '-' + aFecha[0];
            fecha = new Date(fecha);
            fecha.setDate(fecha.getDate() + parseInt(d));
            var anno = fecha.getFullYear();
            var mes = fecha.getMonth() + 1;
            var dia = fecha.getDate();
            mes = (mes < 10) ? ("0" + mes) : mes;
            dia = (dia < 10) ? ("0" + dia) : dia;
            var fechaFinal = dia + sep + mes + sep + anno;


            $("#DateDeliveryMax").val(fechaFinal);
            $("#DateDeliveryMaxShow").val(fechaFinal + ' ' + hour + ':' + minutes + ':' + seconds);
            $("#MaxDays").change(function () {

                var d = $("#MaxDays option:selected").val();

                var sFecha = fecha || (Fecha.getDate() + "-" + (Fecha.getMonth() + 1) + "-" + Fecha.getFullYear());
                var sep = sFecha.indexOf('-') != -1 ? '-' : '-';
                var aFecha = sFecha.split(sep);
                var fecha = aFecha[2] + '-' + aFecha[1] + '-' + aFecha[0];
                fecha = new Date(fecha);
                fecha.setDate(fecha.getDate() + parseInt(d));
                var anno = fecha.getFullYear();
                var mes = fecha.getMonth() + 1;
                var dia = fecha.getDate();
                mes = (mes < 10) ? ("0" + mes) : mes;
                dia = (dia < 10) ? ("0" + dia) : dia;
                var fechaFinal = dia + sep + mes + sep + anno;
                $("#DateDeliveryMax").val(fechaFinal);
                $("#DateDeliveryMaxShow").val(fechaFinal + ' ' + hour + ':' + minutes + ':' + seconds);
            });

            var fecha = moment(ServiceOrderDate).format('DD/MM/YYYY');



            var today2 = new Date();
            $('input[title="' + x + '"]#CollectDate').attr("readonly", "readonly");
            $('input[title="' + x + '"]#InTransitDate').attr("readonly", "readonly");
            $('input[title="' + x + '"]#DeliveryDate').attr("readonly", "readonly");
            //$('input[title="' + x + '"]#ServiceOrderID').val()
            if ($('input[title="' + x + '"]#CollectDate').val() == "0001-01-01") {
                $('input[title="' + x + '"]#CollectDate').val("");
                $('input[title="' + x + '"]#CollectDate').removeAttr("readonly");
                $('input[title="' + x + '"]#ServiceOrderStatusID').val(2);
            }
            if (($('input[title="' + x + '"]#CollectDate').val() != "0001-01-01") && ($('input[title="' + x + '"]#InTransitDate').val() == "0001-01-01")) {
                $('input[title="' + x + '"]#InTransitDate').val("");
                $('input[title="' + x + '"]#InTransitDate').removeAttr("readonly");
                $('input[title="' + x + '"]#ServiceOrderStatusID').val(3);
            }
            if (($('input[title="' + x + '"]#InTransitDate').val() != "0001-01-01") && ($('input[title="' + x + '"]#DeliveryDate').val() == "0001-01-01")) {
                $('input[title="' + x + '"]#DeliveryDate').val("");
                $('input[title="' + x + '"]#DeliveryDate').removeAttr("readonly");
                $('input[title="' + x + '"]#ServiceOrderStatusID').val(4);
            }



            $("#Weight").change(function () {
                var peso = $("#Weight").val();
                var PesoMinimo = $("#PesoMinimo").val();
                var PrecioBase = $("#PrecioBase").val();
                var PrecioExtra = $("#PrecioExtra").val();
                if (peso <= PesoMinimo) {

                    $("#Amount").val(PrecioBase);
                } else
                    if (peso > PesoMinimo) {
                        var extra = peso - PesoMinimo;
                        extra = extra * PrecioExtra;
                        $("#Amount").val(parseInt(extra) + parseInt(PrecioBase));
                    }

            });


            if ($("#ServiceOrderStatusID option:selected").val() != 1) {
                $("#OriginID").attr('readonly', 'readonly');
                $('#OriginID option').css('display', 'none');
                $("#DestinationID").attr('readonly', 'readonly');
                $('#DestinationID option').css('display', 'none');
            }

        </script>
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

        </script>
        <script>

            function eliminarRegistro(ServiceOrderID, ItemServiceOrderID) {
            swal({
                title: ' ¿Está seguro de que desea eliminar el registro?',
                text: 'Si lo elimina, no podrá recuperarlo',
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: 'No, no deseo eliminar',
                        visible: true,
                        className: "",
                        closeModal: false
                    },
                    confirm: {
                        text: 'Si, deseo eliminar',
                        value: true,
                        visible: true,
                        className: "bg-danger",
                        closeModal: false
                    }
                }
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                    location.href = '@Url.Action("DeleteItem", "ServiceOrder")?ServiceOrderID=' + ServiceOrderID + '&ItemServiceOrderID=' + ItemServiceOrderID;

                } else {
                    swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                }
            });
        }
        </script>


    </environment>

}




