﻿@model Angle.DTOs.StatusDTO

@{ ViewData["Title"] = "Details"; }

<h1>Details</h1>

<div>
    <h4>Status</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StatusID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>