﻿
@{
    ViewBag.Title = "Monedas";
}
<div class="content-heading">
    <div>
        Monedas
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div id="importar">
                <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#ModalImportar">Importar</button>
            </div>
            <div id="botones" class="botones">
                <a href="Monedas_agregar">
                    <button class="btn btn-primary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button">
                        <span>Crear</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped my-4 w-100" id="datatable4Track">
                <thead>
                    <tr>
                        <th></th>
                        <th>Moneda</th>
                        <th>Descripci&oacute;n</th>
                        <th>Tasa de cambio a USD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="editarConductor.html" class="text-muted">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="#" class="text-muted">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>
                        <td>PesosD</td>
                        <td>Pesos Dominicanos</td>
                        <td>430</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="editarConductor.html" class="text-muted">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="#" class="text-muted">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>
                        <td>USD</td>
                        <td>Dolares Estados Unidos</td>
                        <td>1</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Moneda</th>
                        <th>Descripci&oacute;n</th>
                        <th>Tasa de cambio a USD</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>

@section BodyArea {
    <!-- Modals must be declare at body level so the content overlaps the background-->
    <!-- Modal Large-->
    <div class="modal fade" id="ModalImportar" tabindex="-1" role="dialog" aria-labelledby="ModalImportar" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Importar vehiculos</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-12 col-form-label">Seleccione un archivo .csv</label>
                        <div class="col-md-12">
                            <input class="form-control filestyle" type="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr-2'&gt;&lt;/span&gt;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button><button class="btn btn-primary" type="button" data-dismiss="modal" data-notify="" data-message="¡Se han añadido 5 vehiculos con éxito!" data-options="{&quot;status&quot;:&quot;success&quot;, &quot;pos&quot;:&quot;bottom-right&quot;}">Importar archivo</button></div>
            </div>
        </div>
    </div>
}
<style type="text/css">

    #botones {
        float: right;
    }

    #importar {
        float: left;
    }
</style>


@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
}

@section Scripts {

    <environment names="Development">
        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
    </environment>

}
