@{
    ViewBag.Title = "Dashboard";
}
<div class="content-heading">
    <!--  <div>Dashboard
        <small data-localize="dashboard.WELCOME"></small>
     </div>
     START Language list-->
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a>
                <a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
    <!-- END Language list-->
</div>
<!-- START cards box-->
<div class="row">
    <div class="col-xl-3 col-md-6">
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                <em class="icon-cloud-upload fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-primary rounded-right">
                @if (ViewBag.Customer != null)
                {
                    var listCustomer = ViewBag.Customer;
                    var countCustomer = 0;
                    @foreach (var Customer in listCustomer)
                    {
                        countCustomer++;
                    }
                    <div class="h2 mt-0">@countCustomer</div>
                }

                <div class="text-uppercase">Clientes </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left">
                <em class="icon-globe fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-purple rounded-right">
                @if (ViewBag.Vehicles != null)
                {
                    var listVehicles = ViewBag.Vehicles;
                    var countVehicles = 0;
                    @foreach (var Vehicles in listVehicles)
                    {
                        countVehicles++;
                    }
                    <div class="h2 mt-0">@countVehicles</div>
                }
                <div class="text-uppercase">Vehiculos </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-12">
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                <em class="icon-bubbles fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-green rounded-right">
                @if (ViewBag.Quote != null)
                {
                    var listQuote = ViewBag.Quote;
                    var countQuote = 0;
                    @foreach (var Quote in listQuote)
                    {
                        @if (Quote.QuoteStatusID == 3)
                        {
                            countQuote++;
                        }
                       
                    }
                    <div class="h2 mt-0">@countQuote</div>
                }
                <div class="text-uppercase">Cotizaciones pendientes</div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
        <!-- START date widget-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-green justify-content-center rounded-left">
                <div class="text-center">
                    <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
                    <div class="text-sm" data-now="" data-format="MMMM"></div>
                    <br />
                    <div class="h2 mt-0" data-now="" data-format="D"></div>
                </div>
            </div>
            <div class="col-8 py-3 rounded-right">
                <div class="text-uppercase" data-now="" data-format="dddd"></div>
                <br />
                <div class="h2 mt-0" data-now="" data-format="h:mm"></div>
                <div class="text-muted text-sm" data-now="" data-format="a"></div>
            </div>
        </div>
        <!-- END date widget-->
    </div>
</div>
<!-- END cards box-->


<div class="row">
    <div class="col-xl-4">
        <!-- START List group-->
        <div class="list-group mb-3">
            <div class="list-group-item">
                <div class="d-flex align-items-center py-3">
                    <div class="w-50 px-3">
                        @if (ViewBag.ServiceOrder != null)
                        {
                            var listServiceOrder = ViewBag.ServiceOrder;
                            var countServiceOrderAmount = 0.0;
                            @foreach (var ServiceOrder in listServiceOrder)
                            {
                                @if (ServiceOrder.ServiceOrderStatusID == 4)
                                {
                                    //countServiceOrderAmount = countServiceOrderAmount + ServiceOrder.Amount;
                                    countServiceOrderAmount = 0;
                                }

                            }
                            <p class="m-0 lead">@countServiceOrderAmount</p>
                        }

                        <p class="m-0 text-sm">Ingresos <a id="MonthIng"> </a> (2021)</p>
                    </div>
                    <div class="w-50 px-3 text-center">
                        <div data-sparkline="" data-bar-color="#23b7e5" data-height="60" data-bar-width="10" data-bar-spacing="6" data-chart-range-min="0" data-values="3,6,7,8,4,5"></div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex align-items-center py-3">
                    <div class="w-50 px-3">
                        @if (ViewBag.HistoricFuel != null)
                        {
                            var listHistoricFuel = ViewBag.HistoricFuel;
                            var countHistoricFuelAmount = 0.0;
                            @foreach (var HistoricFuel in listHistoricFuel)
                            {
                                 countHistoricFuelAmount = countHistoricFuelAmount + HistoricFuel.Charge;
                            }
                            <p class="m-0 lead">@countHistoricFuelAmount</p>
                        }
                        <p class="m-0 text-sm">Gastos <a id="MonthEg"> </a> (2021)</p>
                    </div>
                    <div class="w-50 px-3 text-center">
                        <div data-sparkline="" data-type="line" data-height="60" data-width="80%" data-line-width="2" data-line-color="#7266ba" data-chart-range-min="0" data-spot-color="#888" data-min-spot-color="#7266ba" data-max-spot-color="#7266ba" data-fill-color=""
                             data-highlight-line-color="#fff" data-spot-radius="3" data-values="7,3,4,7,5,9,4,4,7,5,9,6,4" data-resize="true"></div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex align-items-center py-3">
                    <div class="w-50 px-3">
                        @if (ViewBag.Driver != null)
                        {
                            var listDriver = ViewBag.Driver;
                            var countDriver = 0;
                            @foreach (var Driver in listDriver)
                            {
                                @if (Driver.StatusID == 1)
                                {
                                    countDriver++;
                                }
                            }

                            <p class="m-0 lead">@countDriver</p>
                        }
                        <p class="m-0 text-sm">Conductores Activos</p>
                    </div>
                    <div class="w-50 px-3 text-center">
                        <div class="d-flex align-items-center flex-wrap justify-content-center">
                            @if (ViewBag.Driver != null)
                            {
                                var listDriver = ViewBag.Driver;
                                @foreach (var Driver in listDriver)
                                {
                                    @if (Driver.StatusID == 1)
                                    {
                                        <a href="#" data-toggle="tooltip" title="@Driver.DriverName @Driver.DriverLastName">
                                            <img class="circle thumb24 mx-1" src="~/images/user/02.jpg" alt="Follower" />
                                        </a>
                                    }
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END List group-->
    </div>
    <div class="col-xl-8">
        <!-- START bar chart-->
        <div class="card" id="cardChart3">
            <div class="card-header">
                <!-- START button group-->
                <div class="float-right btn-group">
                    <button class="dropdown-toggle dropdown-toggle-nocaret btn btn-secondary btn-sm" type="button" data-toggle="dropdown">Mensual</button>
                </div>
                <!-- END button group-->
                <div class="card-title">Entregas</div>
            </div>
            <div class="card-wrapper">
                <div class="card-body">
                    <div class="chart-bar-entregas flot-chart"></div>
                    @if (ViewBag.ServiceOrder != null)
                    {
                        var cont = 0;
                        var listServiceOrder = ViewBag.ServiceOrder;
                        @foreach (var ServiceOrder in listServiceOrder)
                        {
                            <input id="DeliveryDate-@cont" value="@ServiceOrder.DeliveryDate"hidden />
                            <input id="DateDeliveryMax-@cont" value="@ServiceOrder.DateDeliveryMax"hidden />
                            <input id="Status-@cont" value="@ServiceOrder.ServiceOrderStatusID"hidden />
                            cont++;
                        }
                        <input id="contOrderService" value="@cont"hidden />
                    }

                </div>
            </div>
        </div>
        <!-- END bar chart-->
    </div>
</div>



<div class="row">
    <div class="col-xl-6">
        <!-- START card tab-->
        <div class="card card-transparent" role="tabpanel">
            <!-- Nav tabs-->
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active bb0" href="#home" aria-controls="home" role="tab" data-toggle="tab">
                        <em class="far fa-clock fa-fw"></em> Ingresos
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link bb0" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                        <em class="far fa-money-bill-alt fa-fw"></em> Gastos
                    </a>
                </li>
            </ul>
            <!-- Tab panes-->
            <div class="tab-content p-0 bg-white">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <!-- START list group-->
                    <div class="list-group mb-0">
                        @if (ViewBag.ServiceOrder != null)
                        {
                            var listServiceOrder = ViewBag.ServiceOrder;
                            @foreach (var ServiceOrder in listServiceOrder)
                            {
                                @if (ServiceOrder.ServiceOrderStatusID == 4)
                                {
                                    <a class="list-group-item" href="#">
                                        <span class="badge badge-purple float-right">@ServiceOrder.DeliveryDate</span>
                                        <em class="fa-fw fa fa-truck mr-2"></em>Orden de Servicio @ServiceOrder.ServiceOrderID entregada
                                        <span class="badge badge-green float-right">0 $</span>
                                    </a>
                                }
                            }

                        }
                    </div>
                    <!-- END list group-->
                    <div class="card-footer text-right">
                        <button class="btn btn-secondary btn-sm" type="button">Ver todos</button>
                    </div>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel">
                    <!-- START table responsive-->
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Vehiculo</th>
                                    <th>Chofer</th>
                                    <th>Fecha</th>
                                    <th>Combustible</th>
                                    <th>Monto (USD)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.HistoricFuel != null)
                                {
                                    var listHistoricFuel = ViewBag.HistoricFuel;
                                    @foreach (var HistoricFuel in listHistoricFuel)
                                    {
                                        <tr>
                                            @if (ViewBag.Vehicles != null)
                                            {
                                                var listVehicles = ViewBag.Vehicles;
                                                @foreach (var Vehicles in listVehicles)
                                                {
                                                    @if (Vehicles.VehiclesID == HistoricFuel.VehiclesID)
                                                    {
                                                        <td>@Vehicles.LicensePlateCar @Vehicles.ModelCar - @Vehicles.YearCar </td>
                                                    }
                                                }

                                            }
                                            @if (ViewBag.Driver != null)
                                            {
                                                var listDriver = ViewBag.Driver;
                                                @foreach (var Driver in listDriver)
                                                {
                                                    @if (Driver.DriverID == HistoricFuel.DriverID)
                                                    {
                                                        <td>@Driver.DriverName @Driver.DriverLastName</td>
                                                    }
                                                }

                                            }
                                            <td>@HistoricFuel.DateChargeVehicle</td>
                                            @if (ViewBag.Fuel != null)
                                            {
                                                var listFuel = ViewBag.Fuel;
                                                @foreach (var Fuel in listFuel)
                                                {
                                                    @if (Fuel.FuelID == HistoricFuel.FuelID)
                                                    {
                                                        <td>@Fuel.FuelType</td>
                                                    }
                                                }

                                            }
                                            <td>$@HistoricFuel.Charge</td>
                                        </tr>
                                    }

                                }
                                
                            </tbody>
                        </table>
                    </div>
                    <!-- END table responsive-->
                    <div class="card-footer text-right">
                        <a class="btn btn-secondary btn-sm" href="#">Ver todos</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END card tab-->
    </div>
    <div class="col-xl-3">
        <!-- START loader widget-->
        <div class="card card-default">
            <div class="card-body">
                <a class="text-muted float-right" href="#">
                    <em class="fa fa-arrow-right"></em>
                </a>
                <div class="text-info">Entregas a tiempo</div>
                <div class="text-center py-4">
                    <div class="easypie-chart easypie-chart-lg ATiempo" data-easypiechart="data-easypiechart" data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}" data-bar-color="#23b7e5" data-track-Color="rgba(200,200,200,0.4)"
                         data-scale-Color="false" data-line-width="10" data-line-cap="round" data-size="145">
                        <span class="TextAtiempo"></span>
                    </div>
                </div>
                <div class="text-center" data-sparkline="" data-bar-color="#23b7e5" data-height="30" data-bar-width="5" data-bar-spacing="2" data-values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7"></div>
            </div>
            <div class="card-footer">
                <p class="text-muted">
                    <em class="fa fa-upload fa-fw"></em>
                    <span class="ProgATiempo"></span>
                    <span class="text-dark">100</span>
                </p>
                <p class="text-muted">
                    <em class="fa fa-upload fa-fw"></em>
                    <span>Entregadas: </span>
                    <span class="TextAtiempo"></span>
                </p>
            </div>
        </div>
        <!-- END loader widget-->
    </div>
    <div class="col-xl-3">
        <!-- START loader widget-->
        <div class="card card-default">
            <div class="card-body">
                <a class="text-muted float-right" href="#">
                    <em class="fa fa-arrow-right"></em>
                </a>
                <div class="text-info">Entregas fuera de tiempo</div>
                <div class="text-center py-4">
                    <div class="easypie-chart red easypie-chart-lg FueraTiempo"  data-easypiechart="data-easypiechart"  data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}" data-bar-color="#e52340" data-track-Color="rgba(200,200,200,0.4)"
                         data-scale-Color="false" data-line-width="10" data-line-cap="round" data-size="145">
                        <span class="TextFueraTiempo"></span>
                    </div>
                </div>
                <div class="text-center" data-sparkline="" data-bar-color="#e52340" data-height="30" data-bar-width="5" data-bar-spacing="2" data-values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7"></div>
            </div>
            <div class="card-footer">
                <p class="text-muted">
                    <em class="fa fa-upload fa-fw"></em>
                    <span class="ProgFueraTiempo"></span>
                    <span class="text-dark">100</span>
                </p>
                <p class="text-muted">
                    <em class="fa fa-upload fa-fw"></em>
                    <span>Entregadas: </span>
                    <span class="TextFueraTiempo"></span>
                </p>
            </div>
        </div>
        <!-- END loader widget-->
    </div>
</div>

<div class="row">
    <!-- START dashboard main content-->
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-6">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="card-title">Entregas a tiempo</div>
                    </div>
                    
                    <!-- START list group-->
                    <div class="list-group" data-height="180" data-scrollable="">
                        @if (ViewBag.ServiceOrder != null)
                        {
                            var listServiceOrder = ViewBag.ServiceOrder;
                            @foreach (var ServiceOrder in listServiceOrder)
                            {
                                @if (ServiceOrder.ServiceOrderStatusID == 4 && Convert.ToDateTime(ServiceOrder.DeliveryDate) <= Convert.ToDateTime(ServiceOrder.DateDeliveryMax))
                                {
                                    <div class="list-group-item list-group-item-action">
                                        <div class="media">
                                            <img class="align-self-start mx-2 circle thumb32" src="~/images/user/02.jpg" alt="Image" />
                                            <div class="media-body text-truncate">
                                                <p class="mb-1">
                                                    <strong class="text-primary">
                                                        <span class="circle bg-success circle-lg text-left"></span>
                                                        @if (ViewBag.Customer != null)
                                                        {
                                                            var listCustomer = ViewBag.Customer;
                                                            @foreach (var Customer in listCustomer)
                                                            {
                                                                if (ServiceOrder.CustomerID == Customer.CustomerID)
                                                                {
                                                                    <span>Cliente: @Customer.CompanyName - @Customer.FirstName @Customer.LastName</span>
                                                                }
                                                            }
                                                        }

                                                    </strong>
                                                </p>
                                                @if (ViewBag.SalesPerson != null)
                                                {
                                                    var listSalesPerson = ViewBag.SalesPerson;
                                                    @foreach (var SalesPerson in listSalesPerson)
                                                    {
                                                        if (ServiceOrder.SalesPersonID == SalesPerson.SalesPersonID)
                                                        {
                                                            <p class="mb-1 text-sm">Vendedor: @SalesPerson.FirstName @SalesPerson.LastName</p>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        }

                        <!-- END list group item-->
                    </div>
                    <!-- END list group-->
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="card-title">Entregas fuera de tiempo</div>
                    </div>
                    <!-- START list group-->
                    <div class="list-group" data-height="180" data-scrollable="">
                        @if (ViewBag.ServiceOrder != null)
                        {
                            var listServiceOrder = ViewBag.ServiceOrder;
                            @foreach (var ServiceOrder in listServiceOrder)
                            {
                                @if (ServiceOrder.ServiceOrderStatusID == 4 && Convert.ToDateTime(ServiceOrder.DeliveryDate) > Convert.ToDateTime(ServiceOrder.DateDeliveryMax))
                                {
                                    <!-- START list group item-->
                                    <div class="list-group-item list-group-item-action">
                                        <div class="media">
                                            <img class="align-self-start mx-2 circle thumb32" src="~/images/user/02.jpg" alt="Image" />
                                            <div class="media-body text-truncate">
                                                <p class="mb-1">
                                                    <strong class="text-primary">
                                                        <span class="circle bg-danger circle-lg text-left"></span>
                                                        @if (ViewBag.Customer != null)
                                                        {
                                                            var listCustomer = ViewBag.Customer;
                                                            @foreach (var Customer in listCustomer)
                                                            {
                                                                if (ServiceOrder.CustomerID == Customer.CustomerID)
                                                                {
                                                                    <span>Cliente: @Customer.CompanyName - @Customer.FirstName @Customer.LastName</span>
                                                                }
                                                            }
                                                        }
                                                    </strong>
                                                </p>
                                                @if (ViewBag.SalesPerson != null)
                                                {
                                                    var listSalesPerson = ViewBag.SalesPerson;
                                                    @foreach (var SalesPerson in listSalesPerson)
                                                    {
                                                        if (ServiceOrder.SalesPersonID == SalesPerson.SalesPersonID)
                                                        {
                                                            <p class="mb-1 text-sm">Vendedor: @SalesPerson.FirstName @SalesPerson.LastName</p>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        }

                    </div>
                        <!-- END list group-->
                    </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development">
        <link href="~/vendor/weather-icons/css/weather-icons.css" rel="stylesheet" />
        <link href="~/vendor/weather-icons/css/weather-icons-wind.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/vendor/weather-icons/css/weather-icons.css" rel="stylesheet" />
        <link href="~/vendor/weather-icons/css/weather-icons-wind.css" rel="stylesheet" />
    </environment>
}

@section Scripts {

    <environment names="Development">
        <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/vendor/flot/jquery.flot.time.js"></script>
        <script src="~/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
        <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/vendor/moment/min/moment-with-locales.js"></script>
        <script>
            var now = new Date();
            var monthAbbrvName = now.toDateString().substring(4, 7);
            $("#MonthIng").text(monthAbbrvName);
            $("#MonthEg").text(monthAbbrvName);
            const mesActual = now.getMonth() + 1;
            var aTiempo = [];
            var eExtregadas = [];
            var ePendientes = [];

            var meses = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"];
            var CountATiempo = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0];
            var CountExpEnt = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0];
            var CountExpPen = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0];


            var TotalEntregados = 0;
            var EntATiempo = 0;
            var EntFueraTiempo = 0;

            for (var i = 0; i < $("#contOrderService").val(); i++) {
               
              
                //DateDeliveryMax = (DateDeliveryMax[2].substring(0, 4) + "/" + DateDeliveryMax[1] + "/" + DateDeliveryMax[0]);
                if (($("#DeliveryDate-" + i).val()) != "" && ($("#DateDeliveryMax-" + i).val()) != "") {
                    var DeliveryDate = $("#DeliveryDate-" + i).val();
                    var DateDeliveryMax = $("#DateDeliveryMax-" + i).val();

                    DeliveryDate = DeliveryDate.split("-");
                    DateDeliveryMax = DateDeliveryMax.split("-");
                    var mes = parseInt(DeliveryDate[1]);
                    DeliveryDate = (DeliveryDate[0] + "-" + DeliveryDate[1] + "-" + DeliveryDate[2].substring(0, 2));
                    DateDeliveryMax = (DateDeliveryMax[2].substring(0, 4) + "-" + DateDeliveryMax[1] + "-" +   DateDeliveryMax[0]);

                    if ($("#Status-" + i).val() == 4) {
                        TotalEntregados++;
                    }

                    if ((DeliveryDate <= DateDeliveryMax) == true && $("#Status-" + i).val() == 4) {
                        CountATiempo[mes - 1]++;
                        EntATiempo++;

                    }
                    if ((DeliveryDate > DateDeliveryMax) == true && $("#Status-" + i).val() == 4) {
                        CountExpEnt[mes - 1]++;
                        EntFueraTiempo++;
                    }

                    if ((DeliveryDate > DateDeliveryMax) == true && $("#Status-" + i).val() == 1) {
                        CountExpPen[mes - 1]++;
                    }
                }



                
            }

            var PorcATiempo = ((EntATiempo * 100) / TotalEntregados).toFixed(2);
            var PorcFueraTiempo = ((EntFueraTiempo * 100) / TotalEntregados).toFixed(2);
            $(".ATiempo").attr("data-percent", PorcATiempo+'%');
            $(".FueraTiempo").attr("data-percent", PorcFueraTiempo+'%');
            $(".TextAtiempo").text(PorcATiempo+'%');
            $(".TextFueraTiempo").text(PorcFueraTiempo +'%');


            for (var i = 0; i < 12; i++) {
                aTiempo.push([(meses[i]), CountATiempo[i]]);
                eExtregadas.push([(meses[i]), CountExpEnt[i]]);
                ePendientes.push([(meses[i]), CountExpPen[i]]);
            }
            
            // CHART BAR STACKED
            // -----------------------------------
            (function () {
                'use strict';


                $(initFlotBarStacked);

                function initFlotBarStacked() {

                    var datav2 = [{
                        "label": "A tiempo",
                        "color": "#9289ca",
                        "data": aTiempo
                    }, {
                        "label": "Expiradas entregadas",
                        "color": "#7266ba",
                        "data": eExtregadas
                    }, {
                        "label": "Expiradas pendientes",
                        "color": "#564aa3",
                        "data": ePendientes
                    }];

                    var options = {
                        series: {
                            stack: true,
                            bars: {
                                align: 'center',
                                lineWidth: 0,
                                show: true,
                                barWidth: 0.6,
                                fill: 0.9
                            }
                        },
                        grid: {
                            borderColor: '#eee',
                            borderWidth: 1,
                            hoverable: true,
                            backgroundColor: '#fcfcfc'
                        },
                        tooltip: true,
                        tooltipOpts: {
                            content: function (label, x, y) { return x + ' : ' + y; }
                        },
                        xaxis: {
                            tickColor: '#fcfcfc',
                            mode: 'categories'
                        },
                        yaxis: {
                            // position: 'right' or 'left'
                            tickColor: '#eee'
                        },
                        shadowSize: 0
                    };

                    var chartv2 = $('.chart-bar-entregas');
                    if (chartv2.length)
                        $.plot(chartv2, datav2, options);

                }

            })();
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/vendor/flot/jquery.flot.time.js"></script>
        <script src="~/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
        <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/vendor/moment/min/moment-with-locales.js"></script>
        <script>
            var now = new Date();
            var monthAbbrvName = now.toDateString().substring(4, 7);
            $("#MonthIng").text(monthAbbrvName);
            $("#MonthEg").text(monthAbbrvName);
            const mesActual = now.getMonth() + 1;
            var aTiempo = [];
            var eExtregadas = [];
            var ePendientes = [];

            var meses = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"];
            var CountATiempo = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
            var CountExpEnt = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
            var CountExpPen = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];


            var TotalEntregados = 0;
            var EntATiempo = 0;
            var EntFueraTiempo = 0;

            for (var i = 0; i < $("#contOrderService").val(); i++) {


                //DateDeliveryMax = (DateDeliveryMax[2].substring(0, 4) + "/" + DateDeliveryMax[1] + "/" + DateDeliveryMax[0]);
                if (($("#DeliveryDate-" + i).val()) != "" && ($("#DateDeliveryMax-" + i).val()) != "") {
                    var DeliveryDate = $("#DeliveryDate-" + i).val();
                    var DateDeliveryMax = $("#DateDeliveryMax-" + i).val();

                    DeliveryDate = DeliveryDate.split("-");
                    DateDeliveryMax = DateDeliveryMax.split("-");
                    var mes = parseInt(DeliveryDate[1]);
                    DeliveryDate = (DeliveryDate[0] + "-" + DeliveryDate[1] + "-" + DeliveryDate[2].substring(0, 2));
                    DateDeliveryMax = (DateDeliveryMax[2].substring(0, 4) + "-" + DateDeliveryMax[1] + "-" + DateDeliveryMax[0]);

                    if ($("#Status-" + i).val() == 4) {
                        TotalEntregados++;
                    }

                    if ((DeliveryDate <= DateDeliveryMax) == true && $("#Status-" + i).val() == 4) {
                        CountATiempo[mes - 1]++;
                        EntATiempo++;

                    }
                    if ((DeliveryDate > DateDeliveryMax) == true && $("#Status-" + i).val() == 4) {
                        CountExpEnt[mes - 1]++;
                        EntFueraTiempo++;
                    }

                    if ((DeliveryDate > DateDeliveryMax) == true && $("#Status-" + i).val() == 1) {
                        CountExpPen[mes - 1]++;
                    }
                }




            }

            var PorcATiempo = ((EntATiempo * 100) / TotalEntregados).toFixed(2);
            var PorcFueraTiempo = ((EntFueraTiempo * 100) / TotalEntregados).toFixed(2);
            $(".ATiempo").attr("data-percent", PorcATiempo + '%');
            $(".FueraTiempo").attr("data-percent", PorcFueraTiempo + '%');
            $(".TextAtiempo").text(PorcATiempo + '%');
            $(".TextFueraTiempo").text(PorcFueraTiempo + '%');


            for (var i = 0; i < 12; i++) {
                aTiempo.push([(meses[i]), CountATiempo[i]]);
                eExtregadas.push([(meses[i]), CountExpEnt[i]]);
                ePendientes.push([(meses[i]), CountExpPen[i]]);
            }

            // CHART BAR STACKED
            // -----------------------------------
            (function () {
                'use strict';


                $(initFlotBarStacked);

                function initFlotBarStacked() {

                    var datav2 = [{
                        "label": "A tiempo",
                        "color": "#9289ca",
                        "data": aTiempo
                    }, {
                        "label": "Expiradas entregadas",
                        "color": "#7266ba",
                        "data": eExtregadas
                    }, {
                        "label": "Expiradas pendientes",
                        "color": "#564aa3",
                        "data": ePendientes
                    }];

                    var options = {
                        series: {
                            stack: true,
                            bars: {
                                align: 'center',
                                lineWidth: 0,
                                show: true,
                                barWidth: 0.6,
                                fill: 0.9
                            }
                        },
                        grid: {
                            borderColor: '#eee',
                            borderWidth: 1,
                            hoverable: true,
                            backgroundColor: '#fcfcfc'
                        },
                        tooltip: true,
                        tooltipOpts: {
                            content: function (label, x, y) { return x + ' : ' + y; }
                        },
                        xaxis: {
                            tickColor: '#fcfcfc',
                            mode: 'categories'
                        },
                        yaxis: {
                            // position: 'right' or 'left'
                            tickColor: '#eee'
                        },
                        shadowSize: 0
                    };

                    var chartv2 = $('.chart-bar-entregas');
                    if (chartv2.length)
                        $.plot(chartv2, datav2, options);

                }

            })();
        </script>
    </environment>

}


