<!-- START Top Navbar-->
<nav class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" href="Dashboard">
            <div class="brand-logo">
                <img src="~/images/logo4track.jpeg" alt="Avatar" />

            </div>
            <div class="brand-logo-collapsed">
                <img src="~/images/logo4track.jpeg" alt="Avatar" />
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Right Navbar-->
    <ul class="navbar-nav flex-row">
        <div id="user-block">
            <div class="item user-block">
                <!-- User picture-->
                <div class="user-block-picture">
                    <div class="user-block-status">
                        <img src="~/images/user/user.png" alt="Avatar" width="60" height="60" class="img-thumbnail rounded-circle" />
                        <div class="circle bg-success circle-lg"></div>
                    </div>
                </div>
                <!-- Name and Job-->
                <div class="user-block-info">
                    <span class="user-block-name"> <span  data-localize="topnavbar.HELLO"></span>, Administrador</span>
                </div>
            </div>
        </div>
    </ul>
    <!-- END Right Navbar-->
    
</nav>
<!-- END Top Navbar-->


<style>
    .user-block > .user-block-picture, .user-block .user-block-info {
        display: inline-block;
    }

    .user-block {
        padding: 10px 40px 10px !important;
    }

    .topnavbar {
        background-color: #FFFFFF !important;
        background-image: none !important;
    }

    .topnavbar .navbar-header .brand-logo > img, .topnavbar .navbar-header .brand-logo-collapsed > img {
        margin: 0 auto;
        width: 100% !important;
    }
    .topnavbar .navbar-header .brand-logo {
        display: block;
        padding: 0px !important;
    }

    .navbar-brand {
        margin-right: 0rem !important; 
</style>