﻿@model Angle.DTOs.VehiclesDTO

@{ ViewData["Title"] = "Create"; }

<div class="content-heading">
    <div>
        Vehiculos
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Operaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Vehiculos</a>
                    </li>
                </ol>
            </div>


            <div class="card-body">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#informacionGeneral" aria-controls="informacionGeneral" role="tab" data-toggle="tab">Informaci&oacute;n General</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#chofer" aria-controls="chofer" role="tab" data-toggle="tab">Chofer</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#combustible" aria-controls="combustible" role="tab" data-toggle="tab">Combustible</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#documentos" aria-controls="documentos" role="tab" data-toggle="tab">Documentos</a></li>
                    </ul><!-- Tab panes-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="informacionGeneral" role="tabpanel">
                            <div class="col-lg-12">
                                <form asp-action="Create" id="formVehicles" data-parsley-validate="" novalidate="">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="DivisionID" class="control-label"></label>
                                                <select asp-for="DivisionID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Division != null)
                                                    {
                                                        var listDivision = (IEnumerable<Angle.Models.Division>)ViewBag.Division;

                                        @foreach (var Division in listDivision)
                                        {
                                    <option value="@Division.DivisionID">@Division.DivisionName</option>}}
                                                </select>
                                                <span asp-validation-for="DivisionID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="BrandID" class="control-label"></label>
                                                <select asp-for="BrandID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Brand != null)
                                                    {
                                                        var listBrand = (IEnumerable<Angle.Models.Brand>)ViewBag.Brand;

                                        @foreach (var Brand in listBrand)
                                        {
                                    <option value="@Brand.BrandID">@Brand.BrandDescription</option>}}
                                                </select>
                                                <span asp-validation-for="BrandID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="LicensePlateCar" class="control-label"></label>
                                                <input asp-for="LicensePlateCar" class="form-control" required />
                                                <span asp-validation-for="LicensePlateCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="Enrollment" class="control-label"></label>
                                                <input asp-for="Enrollment" class="form-control" required />
                                                <span asp-validation-for="Enrollment" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="ColourCar" class="control-label"></label>
                                                <input asp-for="ColourCar" class="form-control" required />
                                                <span asp-validation-for="ColourCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="Equipment" class="control-label"></label>
                                                <input asp-for="Equipment" class="form-control" required />
                                                <span asp-validation-for="Equipment" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="ModelCar" class="control-label"></label>
                                                <input asp-for="ModelCar" class="form-control" required />
                                                <span asp-validation-for="ModelCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="YearCar" class="control-label"></label>
                                                <input asp-for="YearCar" class="form-control" type="number" required />
                                                <span asp-validation-for="YearCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="ChassisCar" class="control-label"></label>
                                                <input asp-for="ChassisCar" class="form-control" required />
                                                <span asp-validation-for="ChassisCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="InsuranceCar" class="control-label"></label>
                                                <input asp-for="InsuranceCar" class="form-control" required />
                                                <span asp-validation-for="InsuranceCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="ExpirationInsuranceCar" class="control-label"></label>
                                                <input asp-for="ExpirationInsuranceCar" class="form-control" type="date" required />
                                                <span asp-validation-for="ExpirationInsuranceCar" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="StatusID" class="control-label"></label>
                                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Status != null)
                                                    {
                                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                                        @foreach (var Status in listStatus)
                                        {
                                    <option value="@Status.StatusID">@Status.StatusName</option>}}
                                                </select>
                                                <span asp-validation-for="StatusID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="Capacity" class="control-label"></label>
                                                <input asp-for="Capacity" class="form-control" type="number" />
                                                <span asp-validation-for="Capacity" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CreateDateTransaction" class="control-label"></label>
                                                <input asp-for="CreateDateTransaction" class="form-control" type="date" />
                                                <span asp-validation-for="CreateDateTransaction" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CreateUserTransaction" class="control-label"></label>
                                                <input asp-for="CreateUserTransaction" class="form-control" />
                                                <span asp-validation-for="CreateUserTransaction" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Crear" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane " id="chofer" role="tabpanel">
                            <div class="col-lg-12">
                                Debe registrar el vehículo para asignarle un chofer
                            </div>
                        </div>
                        <div class="tab-pane " id="combustible" role="tabpanel">
                            <div class="col-lg-12">
                                Debe registrar el vehículo para asignarle combustible
                            </div>
                        </div>
                        <div class="tab-pane " id="documentos" role="tabpanel">
                            <div class="col-lg-12">
                                Debe registrar el vehículo para asignarle un documento
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Vehiculo</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<environment names="Development">
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');


    </script>
</environment>
<environment names="Staging,Production">
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');

    </script>
</environment>

}
