﻿@model Angle.DTOs.VehiclesDTO
@using Microsoft.AspNetCore.Http.Extensions
@{ ViewData["Title"] = "Edit";
}

<div class="content-heading">
    <div>
        Vehiculos
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Operaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="">Vehiculos</a>
                    </li>
                </ol>
            </div>


            <div class="card-body">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#informacionGeneral" aria-controls="informacionGeneral" role="tab" data-toggle="tab">Informaci&oacute;n General</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#chofer" aria-controls="chofer" role="tab" data-toggle="tab">Chofer</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#combustible" aria-controls="combustible" role="tab" data-toggle="tab">Combustible</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#documentos" aria-controls="documentos" role="tab" data-toggle="tab">Documentos</a></li>
                    </ul><!-- Tab panes-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="informacionGeneral" role="tabpanel">
                            <div class="col-lg-12">
                                <form asp-action="Edit" data-parsley-validate="" novalidate="">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="VehiclesID" />
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="DivisionID" class="control-label"></label>
                                                <select asp-for="DivisionID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Division != null)
                                                    {
                                                        var listDivision = (IEnumerable<Angle.Models.Division>)ViewBag.Division;

                                                        @foreach (var Division in listDivision)
                                                        {
                                                            <option value="@Division.DivisionID">@Division.DivisionName</option>
                                                        }}
                                                </select>
                                                <span asp-validation-for="DivisionID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="BrandID" class="control-label"></label>
                                                <select asp-for="BrandID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Brand != null)
                                                    {
                                                        var listBrand = (IEnumerable<Angle.Models.Brand>)ViewBag.Brand;

                                                        @foreach (var Brand in listBrand)
                                                        {
                                                            <option value="@Brand.BrandID">@Brand.BrandDescription</option>
                                                        }}
                                                </select>
                                                <span asp-validation-for="BrandID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="LicensePlateCar" class="control-label"></label>
                                                <input asp-for="LicensePlateCar" class="form-control" required />
                                                <span asp-validation-for="LicensePlateCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="Enrollment" class="control-label"></label>
                                                <input asp-for="Enrollment" class="form-control" required />
                                                <span asp-validation-for="Enrollment" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="ColourCar" class="control-label"></label>
                                                <input asp-for="ColourCar" class="form-control" required />
                                                <span asp-validation-for="ColourCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="Equipment" class="control-label"></label>
                                                <input asp-for="Equipment" class="form-control" required />
                                                <span asp-validation-for="Equipment" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="ModelCar" class="control-label"></label>
                                                <input asp-for="ModelCar" class="form-control" required />
                                                <span asp-validation-for="ModelCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="YearCar" class="control-label"></label>
                                                <input asp-for="YearCar" class="form-control" type="number" required />
                                                <span asp-validation-for="YearCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="ChassisCar" class="control-label"></label>
                                                <input asp-for="ChassisCar" class="form-control" required />
                                                <span asp-validation-for="ChassisCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="InsuranceCar" class="control-label"></label>
                                                <input asp-for="InsuranceCar" class="form-control" required />
                                                <span asp-validation-for="InsuranceCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="ExpirationInsuranceCar" class="control-label"></label>
                                                <input asp-for="ExpirationInsuranceCar" class="form-control" type="date" required />
                                                <span asp-validation-for="ExpirationInsuranceCar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="StatusID" class="control-label"></label>
                                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Status != null)
                                                    {
                                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                                                        @foreach (var Status in listStatus)
                                                        {
                                                            <option value="@Status.StatusID">@Status.StatusName</option>
                                                        }}
                                                </select>
                                                <span asp-validation-for="StatusID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="Capacity" class="control-label"></label>
                                                <input asp-for="Capacity" class="form-control" type="number" />
                                                <span asp-validation-for="Capacity" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CreateDateTransaction" class="control-label"></label>
                                                <input asp-for="CreateDateTransaction" class="form-control" type="date" />
                                                <span asp-validation-for="CreateDateTransaction" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CreateUserTransaction" class="control-label"></label>
                                                <input asp-for="CreateUserTransaction" class="form-control" />
                                                <span asp-validation-for="CreateUserTransaction" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane " id="chofer" role="tabpanel">

                            <div class="card">
                                <div class="card-header">
                                    <div id="importar">
                                        <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#ModalImportar">Importar</button>
                                    </div>
                                    <div id="botones" class="botones">
                                        <a id="agregarChofer" class="text-muted">
                                            <button class="btn btn-primary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button">
                                                <span>Crear</span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped my-4 w-100" id="datatable4Track">
                                        <thead>
                                            <tr>
                                                <th>Vehiculo</th>
                                                <th>Documento</th>
                                                <th>Chofer</th>
                                                <th>Inicio Uso Vehiculo</th>
                                                <th>Culminaci&oacute;n Uso Veh&iacute;culo</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in ViewBag.HistoricDriver)
                                            {
                                                string words = Context.Request.GetEncodedUrl();

                                                string[] ID = words.Split('/');
                                                int x = Int32.Parse(ID[5]);
                                                @if (item.VehiclesID == x)
                                                {
                                                <tr>
                                                    <td>@item.VehiclesID</td>
                                               

                                                    @if (ViewBag.Driver != null)
                                                    {

                                                        var listDriver = (IEnumerable<Angle.Models.Driver>)ViewBag.Driver;


                                                        @foreach (var itemDriver in listDriver)
                                                        {

                                                            @if (item.DriverID == itemDriver.DriverID)
                                                            {
                                                                <td>@Html.DisplayFor(modelItem => itemDriver.Document)</td>
                                                                <td>@Html.DisplayFor(modelItem => itemDriver.DriverName) @Html.DisplayFor(modelItem => itemDriver.DriverLastName)</td>
                                                            }
                                                            else
                                                            @if (item.DriverID == 0)
                                                            {
                                                                <td>Sin chofer asignado</td>
                                                            }
                                                        }
                                                    }

                                                    <td>@item.DateStartVehicle</td>
                                                    <td>@item.DateEndVehicle</td>

                                                    @if (ViewBag.Status != null)
                                                    {

                                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;


                                                        @foreach (var itemStatus in listStatus)
                                                        {

                                                            @if (item.StatusID == itemStatus.StatusID)
                                                            {
                                                                <td><a class="badge badge-@Html.DisplayFor(modelItem => itemStatus.StatusColor)">@Html.DisplayFor(modelItem => itemStatus.StatusName)</a></td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                                }

                                             }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Vehiculo</th>
                                                <th>Documento</th>
                                                <th>Chofer</th>
                                                <th>Inicio Uso Vehiculo</th>
                                                <th>Culminaci&oacute; Uso Veh&iacute;culo</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane " id="combustible" role="tabpanel">
                            <div class="card">
                                <div class="card-header">
                                    <div id="importar">
                                        <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#ModalImportar">Importar</button>
                                    </div>
                                    <div id="botones" class="botones">
                                        <a id="agregarCombustible" class="text-muted">
                                            <button class="btn btn-primary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button">
                                                <span>Crear</span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped my-4 w-100" id="datatable4Track">
                                        <thead>
                                            <tr>
                                                <th>Vehiculo</th>
                                                <th>Documento</th>
                                                <th>Chofer</th>
                                                <th>Fecha carga</th>
                                                <th>Tipo de combustible</th>
                                                <th>Costo de carga</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in ViewBag.HistoricFuel)
                                            {
                                                string words = Context.Request.GetEncodedUrl();

                                                string[] ID = words.Split('/');
                                                int x = Int32.Parse(ID[5]);
                                                @if (item.VehiclesID == x)
                                                {
                                            <tr>
                                                <td>@item.VehiclesID</td>


                                                @if (ViewBag.Driver != null)
                                                {

                                                    var listDriver = (IEnumerable<Angle.Models.Driver>)ViewBag.Driver;


                                                    @foreach (var itemDriver in listDriver)
                                                    {

                                                        @if (item.DriverID == itemDriver.DriverID)
                                                        {
                                                            <td>@Html.DisplayFor(modelItem => itemDriver.Document)</td>
                                                            <td>@Html.DisplayFor(modelItem => itemDriver.DriverName) @Html.DisplayFor(modelItem => itemDriver.DriverLastName)</td>
                                                        }
                                                        else
                                                        @if (item.DriverID == 0)
                                                        {
                                                            <td>Sin chofer asignado</td>
                                                        }
                                                    }
                                                }

                                                <td>@item.DateChargeVehicle</td>

                                                @if (ViewBag.Fuel != null)
                                                {

                                                    var listFuel = (IEnumerable<Angle.Models.Fuel>)ViewBag.Fuel;


                                                    @foreach (var itemFuel in listFuel)
                                                    {
                                                        @if (item.FuelID == itemFuel.FuelID)
                                                        {
                                                            <td>@Html.DisplayFor(modelItem => itemFuel.FuelType)</td>

                                                        }
                                                    }
                                                    <td>@item.Charge</td>
                                                }
                                                </tr>
                                                }

                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Vehiculo</th>
                                                <th>Documento</th>
                                                <th>Chofer</th>
                                                <th>Fecha carga</th>
                                                <th>Tipo de combustible</th>
                                                <th>Costo de carga</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="documentos" role="tabpanel">
                            <div class="col-lg-12">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div id="botones" class="botones">
                                                <a id="agregarDocumento" class="text-muted">
                                                    <button class="btn btn-primary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button">
                                                        <span>Crear</span>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-striped my-4 w-100" id="datatable4Track">
                                                <thead>
                                                    <tr>
                                                        <th>ID Documento</th>
                                                        <th>Fecha de ingreso</th>
                                                        <th>Nombre</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @if (ViewBag.DocumentUpload != null)
                                                    {

                                                        var listDocumentUpload = (IEnumerable<Angle.Models.DocumentUpload>)ViewBag.DocumentUpload;


                                                        @foreach (var itemDocumentUpload in listDocumentUpload)
                                                        {
                                                            string words = Context.Request.GetEncodedUrl();

                                                            string[] ID = words.Split('/');
                                                            int IDModulo = Int32.Parse(ID[5]);
                                                            string Modulo = ID[3];
                                                            @if (itemDocumentUpload.ModuleID == IDModulo && itemDocumentUpload.Module == Modulo)
                                                            {
                                                                <tr>
                                                                    <td>@Html.DisplayFor(modelItem => itemDocumentUpload.DocumentUploadID)</td>
                                                                    <td>@Html.DisplayFor(modelItem => itemDocumentUpload.DateUpload)</td>
                                                                    <td><a href="http://cpsqa.4track.tk/files/@Html.DisplayFor(modelItem => itemDocumentUpload.Attachment)" target="_blank">@Html.DisplayFor(modelItem => itemDocumentUpload.Attachment)</a></td>
                                                                </tr>

                                                            }

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td>Este cliente no tiene documentos asignados</td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Vehiculos</a>
</div>
<style type="text/css">

    #botones {
        float: right;
    }

    #importar {
        float: left;
    }
    .table > thead > tr > th {
        padding: 14px 8px;
        color: #a51717 !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }

    .table > tfoot > tr > th {
        padding: 14px 8px;
        color: #a51717 !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }

</style>
@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<environment names="Development">

    <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendor/jszip/dist/jszip.js"></script>
    <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
    <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript">
        var pathname = window.location.pathname;
        var vars = pathname.split("/");
        $('#agregarChofer').attr('href', 'http://cpsqa.4track.tk/HistoricDriver/Create/' + vars[3]);
        $('#editarChofer').attr('href', 'http://cpsqa.4track.tk/HistoricDriver/Edit/' + vars[3]);
        $('#agregarCombustible').attr('href', 'http://cpsqa.4track.tk/HistoricFuel/Create/' + vars[3]);
        $('#editarCombustible').attr('href', 'http://cpsqa.4track.tk/HistoricFuel/Edit/' + vars[3]);
        $('#agregarDocumento').attr('href', 'http://cpsqa.4track.tk/DocumentUpload/Index/Vehicles' + vars[3]);

    </script>
    <script>
        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');

    </script>
</environment>
<environment names="Staging,Production">
    <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendor/jszip/dist/jszip.js"></script>
    <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
    <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript">
        var pathname = window.location.pathname;
        var vars = pathname.split("/");
        $('#agregarChofer').attr('href', 'http://cpsqa.4track.tk/HistoricDriver/Create/' + vars[3]);
        $('#editarChofer').attr('href', 'http://cpsqa.4track.tk/HistoricDriver/Edit/' + vars[3]);
        $('#agregarCombustible').attr('href', 'http://cpsqa.4track.tk/HistoricFuel/Create/' + vars[3]);
        $('#editarCombustible').attr('href', 'http://cpsqa.4track.tk/HistoricFuel/Edit/' + vars[3]);
        $('#agregarDocumento').attr('href', 'http://cpsqa.4track.tk/DocumentUpload/Index/Vehicles' + vars[3]);

    </script>
    <script>
        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');

    </script>
</environment>

}