﻿@model Angle.DTOs.DriverDTO

@{ ViewData["Title"] = "Create"; }

<div class="content-heading">
    <div>
        Chofer
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Operaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Chofer</a>
                    </li>
                </ol>
            </div>


            <div class="card-body">
                <form asp-action="Create" id="formDriver" data-parsley-validate="" novalidate="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="DivisionID" class="control-label"></label>
                                <select asp-for="DivisionID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Division != null)
                                    {
                                        var listDivision = (IEnumerable<Angle.Models.Division>)ViewBag.Division;

                                        @foreach (var Division in listDivision)
                                        {
                                            <option value="@Division.DivisionID">@Division.DivisionName</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="DivisionID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="DriverTypeID" class="control-label"></label>
                                <select asp-for="DriverTypeID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.DriverType != null)
                                    {
                                        var listDriverType = (IEnumerable<Angle.Models.DriverType>)ViewBag.DriverType;

                                        @foreach (var DriverType in listDriverType)
                                        {
                                            <option value="@DriverType.DriverTypeID">@DriverType.DriverTypeName</option>
                                         }
                                    }
                                </select>
                                <span asp-validation-for="DriverTypeID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="DocumentTypeID" class="control-label"></label>
                                <select asp-for="DocumentTypeID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.DocumentType != null)
                                    {
                                        var listDocumentType = (IEnumerable<Angle.Models.DocumentType>)ViewBag.DocumentType;

                                        @foreach (var DocumentType in listDocumentType)
                                        {
                                            <option value="@DocumentType.DocumentTypeID">@DocumentType.DocumentTypeName</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="DocumentTypeID" class="text-danger"></span>
                            </div>
                        </div><div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Document" class="control-label"></label>
                                <input asp-for="Document" class="form-control" />
                                <span asp-validation-for="Document" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="DriverName" class="control-label"></label>
                                <input asp-for="DriverName" class="form-control" />
                                <span asp-validation-for="DriverName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="DriverLastName" class="control-label"></label>
                                <input asp-for="DriverLastName" class="form-control" />
                                <span asp-validation-for="DriverLastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="StatusID" class="control-label"></label>
                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Status != null)
                                    {
                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                                        @foreach (var Status in listStatus)
                                        {
                                            <option value="@Status.StatusID">@Status.StatusName</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="StatusID" class="text-danger"></span>
                            </div>
                        </div>



                    </div>    
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Chofer</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    </environment>

}
