﻿@model Angle.DTOs.TravelDTO

@{ ViewData["Title"] = "Create"; }

<div class="content-heading">
    <div>
        Sucursal
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Operaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Viajes</a>
                    </li>
                </ol>
            </div>


            <div class="card-body">
                <form asp-action="Create" id="formViajes" data-parsley-validate="" novalidate="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label asp-for="DateTravel" class="control-label"></label>
                                <input asp-for="DateTravel" class="form-control" required />
                                <span asp-validation-for="DateTravel" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label asp-for="VehiclesID" class="control-label"></label>
                                <select asp-for="VehiclesID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Vehicles != null)
                                    {
                                        var listVehicles = (IEnumerable<Angle.Models.Vehicles>)ViewBag.Vehicles;

                        @foreach (var Vehicles in listVehicles)
                        {
                <option value="@Vehicles.VehiclesID">@Vehicles.ModelCar-@Vehicles.YearCar @Vehicles.LicensePlateCar</option>
}}
                                </select>
                                <span asp-validation-for="VehiclesID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label asp-for="DriverID" class="control-label"></label>
                                <select asp-for="DriverID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Driver != null)
                                    {
                                        var listDriver = (IEnumerable<Angle.Models.Driver>)ViewBag.Driver;

                        @foreach (var Driver in listDriver)
                        {
                <option value="@Driver.DriverID">@Driver.DriverName @Driver.DriverLastName</option>
}}
                                </select>
                                <span asp-validation-for="DriverID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Total Piezas</label>
                                <input name="TotalPieces" id="TotalPieces" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Total LB</label>
                                <input name="TotalLb" id="TotalLb" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="form-group">
                                <label asp-for="OriginID" class="control-label"></label>
                                <select asp-for="OriginID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Origin != null)
                                    {
                                        var listOrigin = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.Origin;

                        @foreach (var Origin in listOrigin)
                        {
                <option value="@Origin.GeoLevel1ID">@Origin.GeoLevel1Name</option>}}
                                </select>
                                <span asp-validation-for="OriginID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="form-group">
                                <label asp-for="DestinationID" class="control-label"></label>
                                <select asp-for="DestinationID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Destination != null)
                                    {
                                        var listDestination = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.Destination;

                        @foreach (var Destination in listDestination)
                        {
                <option value="@Destination.GeoLevel1ID">@Destination.GeoLevel1Name</option>}}
                                </select>
                                <span asp-validation-for="DestinationID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label asp-for="StatusID" class="control-label"></label>
                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Status != null)
                                    {
                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                        @foreach (var Status in listStatus)
                        {
                <option value="@Status.StatusID">@Status.StatusName</option>
}}
                                </select>
                                <span asp-validation-for="StatusID" class="text-danger"></span>
                            </div>
                        </div>


                    </div>

                    
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Fecha de creaci&oacute;n</label>
                                <input name="CreateDateTransaction" id="CreateDateTransaction" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Creado por usuario</label>
                                <input name="CreateUserTransaction" id="CreateUserTransaction" class="form-control" value="Administrador" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Viajes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<environment names="Development">
    <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendor/jszip/dist/jszip.js"></script>
    <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
    <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');

    </script>
</environment>
<environment names="Staging,Production">
    <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendor/jszip/dist/jszip.js"></script>
    <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
    <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');

    </script>
</environment>

}
