﻿@model Angle.DTOs.TravelDTO

@{ ViewData["Title"] = "Edit";
}

<div class="content-heading">
    <div>
        Viajes
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Operaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="">Viajes</a>
                    </li>
                </ol>
            </div>


            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TravelID" />
                    <div class="row">
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label asp-for="DateTravel" class="control-label"></label>
                                <input asp-for="DateTravel" class="form-control" required />
                                <span asp-validation-for="DateTravel" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label asp-for="VehiclesID" class="control-label"></label>
                                <select asp-for="VehiclesID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Vehicles != null)
                                    {
                                        var listVehicles = (IEnumerable<Angle.Models.Vehicles>)ViewBag.Vehicles;

                                        @foreach (var Vehicles in listVehicles)
                                        {
                                            <option value="@Vehicles.VehiclesID">@Vehicles.ModelCar-@Vehicles.YearCar @Vehicles.LicensePlateCar</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="VehiclesID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Capacidad m&aacute;xima</label>
                                @if (ViewBag.Vehicles != null)
                                {
                                    var listVehicles = (IEnumerable<Angle.Models.Vehicles>)ViewBag.Vehicles;

                                    @foreach (var Vehicles in listVehicles)
                                    {
                                        if (Vehicles.VehiclesID == Model.VehiclesID)
                                        {
                                            <input id="Capacity" class="form-control" value="@Vehicles.Capacity" disabled />
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label asp-for="DriverID" class="control-label"></label>
                                <select asp-for="DriverID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Driver != null)
                                    {
                                        var listDriver = (IEnumerable<Angle.Models.Driver>)ViewBag.Driver;

                                        @foreach (var Driver in listDriver)
                                        {
                                            <option value="@Driver.DriverID">@Driver.DriverName @Driver.DriverLastName</option>
}}
                                </select>
                                <span asp-validation-for="DriverID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Total Piezas</label>
                                <input name="TotalPieces" id="TotalPieces" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Total LB</label>
                                <input name="TotalLb" id="TotalLb" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="form-group">
                                <label asp-for="OriginID" class="control-label"></label>
                                <select asp-for="OriginID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Origin != null)
                                    {
                                        var listOrigin = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.Origin;

                                        @foreach (var Origin in listOrigin)
                                        {
                                            <option value="@Origin.GeoLevel1ID">@Origin.GeoLevel1Name</option>
                                        }}
                                </select>
                                <span asp-validation-for="OriginID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="form-group">
                                <label asp-for="DestinationID" class="control-label"></label>
                                <select asp-for="DestinationID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Destination != null)
                                    {
                                        var listDestination = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.Destination;

                                        @foreach (var Destination in listDestination)
                                        {
                                            <option value="@Destination.GeoLevel1ID">@Destination.GeoLevel1Name</option>
                                        }}
                                </select>
                                <span asp-validation-for="DestinationID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div class="form-group">
                                <label asp-for="StatusID" class="control-label"></label>
                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Status != null)
                                    {
                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                                        @foreach (var Status in listStatus)
                                        {
                                            <option value="@Status.StatusID">@Status.StatusName</option>
}}
                                </select>
                                <span asp-validation-for="StatusID" class="text-danger"></span>
                            </div>
                        </div>


                    </div>

                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header">
                                <ol class="breadcrumb breadcrumb px-0 pb-0">
                                    <li class="breadcrumb-item">
                                        <a href="#">Viaje @Model.TravelID</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="">Agregar Paradas</a>
                                    </li>
                                </ol>
                                <div id="botones" class="botones">
                                    <a>
                                        <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#ModalcrearParada">
                                            <span>Crear</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped my-4 w-100" id="datatable4Track">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>ID Parada</th>
                                            <th>Parada</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.StopTravel != null)
                                        {
                                            var listStopTravel = (IEnumerable<Angle.Models.StopTravel>)ViewBag.StopTravel;

                                            @foreach (var StopTravel in listStopTravel)
                                            {
                                                <tr>


                                                    @if (ViewBag.GeoLevel1 != null)
                                                    {
                                                        var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                                        @foreach (var GeoLevel1 in listGeoLevel1)
                                                        {
                                                            if (GeoLevel1.GeoLevel1ID == StopTravel.StopID)
                                                            {
                                                                <td>
                                                                    <a OnClick="eliminarParada(@Model.TravelID,@StopTravel.StopID)" class="text-muted">
                                                                        <i class="fas fa-times"></i>
                                                                    </a>
                                                                </td>
                                                                <td>@StopTravel.StopTravelID</td>
                                                                <td>@GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</td>
                                                            }

                                                        }
                                                    }


                                                </tr>
                                            }
                                        }



                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>ID Parada</th>
                                            <th>Parada</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header">
                                <ol class="breadcrumb breadcrumb px-0 pb-0">
                                    <li class="breadcrumb-item">
                                        <a href="#">Viaje @Model.TravelID</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="">Agregar Orden de Servicio</a>
                                    </li>
                                </ol>
                                <div id="botones" class="botones">
                                    <a>
                                        <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#ModalcrearItem">
                                            <span>Crear</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped my-4 w-100" id="datatable4Track">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>ID Orden Servicio</th>
                                            <th>Piezas</th>
                                            <th>Peso (LB)</th>
                                            <th>Direcci&oacute;n</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (ViewBag.HistoricTravel != null)
                                        {
                                            var cont = 0;
                                            var listHistoricTravel = (IEnumerable<Angle.Models.HistoricTravel>)ViewBag.HistoricTravel;

                                            @foreach (var HistoricTravel in listHistoricTravel)
                                            {


                                                @if (ViewBag.ItemsQuote != null)
                                                {
                                                    var listItemsQuote = (IEnumerable<Angle.Models.ItemsQuote>)ViewBag.ItemsQuote;

                                                    @foreach (var ItemsQuote in listItemsQuote)
                                                    {
                                                        if (ItemsQuote.QuoteID == HistoricTravel.ServiceOrderID && HistoricTravel.TravelID == Model.TravelID)
                                                        {
                                                            cont++;
                                                            <input name="Cantidad" id="Cantidad-@cont" value="@ItemsQuote.Quantity" hidden />
                                                            <input name="Peso" id="Peso-@cont" value="@ItemsQuote.Weight" hidden />

                                                            <tr>
                                                                <td>
                                                                    <a OnClick="eliminarRegistro(@HistoricTravel.ServiceOrderID)" class="text-muted">
                                                                        <i class="fas fa-times"></i>
                                                                    </a>
                                                                </td>
                                                                <td>@HistoricTravel.ServiceOrderID</td>
                                                                <td>@ItemsQuote.Quantity</td>
                                                                <td>@ItemsQuote.Weight</td>
                                                                @if (ViewBag.ServiceOrder != null)
                                                                {
                                                                    var listServiceOrder = (IEnumerable<Angle.Models.ServiceOrder>)ViewBag.ServiceOrder;

                                                                    @foreach (var ServiceOrder in listServiceOrder)
                                                                    {
                                                                        if (ServiceOrder.QuoteID == HistoricTravel.ServiceOrderID)
                                                                        {
                                                                            <td>@ServiceOrder.AddressQuote</td>
                                                                        }

                                                                    }
                                                                }
                                                            </tr>
                                                        }

                                                    }

                                                }

                                                @if (ViewBag.ItemsServiceOrder != null)
                                                {
                                                    var listItemsServiceOrder = (IEnumerable<Angle.Models.ItemsServiceOrder>)ViewBag.ItemsServiceOrder;

                                                    @foreach (var ItemsServiceOrder in listItemsServiceOrder)
                                                    {
                                                        if (ItemsServiceOrder.ServiceOrderID == HistoricTravel.ServiceOrderID && HistoricTravel.TravelID == Model.TravelID)
                                                        {
                                                            cont++;
                                                            <input name="Cantidad" id="Cantidad-@cont" value="@ItemsServiceOrder.Quantity" hidden />
                                                            <input name="Peso" id="Peso-@cont" value="@ItemsServiceOrder.Weight" hidden />
                                                            <tr>
                                                                <td>
                                                                    <a OnClick="eliminarRegistro(@HistoricTravel.ServiceOrderID)" class="text-muted">
                                                                        <i class="fas fa-times"></i>
                                                                    </a>
                                                                </td>

                                                                <td>@HistoricTravel.ServiceOrderID</td>
                                                                <td>@ItemsServiceOrder.Quantity</td>
                                                                <td>@ItemsServiceOrder.Weight</td>
                                                                @if (ViewBag.ServiceOrder != null)
                                                                {
                                                                    var listServiceOrder = (IEnumerable<Angle.Models.ServiceOrder>)ViewBag.ServiceOrder;

                                                                    @foreach (var ServiceOrder in listServiceOrder)
                                                                    {
                                                                        if (ServiceOrder.ServiceOrderID == HistoricTravel.ServiceOrderID)
                                                                        {
                                                                            <td>@ServiceOrder.AddressQuote</td>
                                                                        }

                                                                    }
                                                                }

                                                            </tr>
                                                        }

                                                    }




                                                }


                                            }

                                            <input id="Contador" value="@cont" hidden />
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>ID Orden Servicio</th>
                                            <th>Piezas</th>
                                            <th>Peso (LB)</th>
                                            <th>Direcci&oacute;n</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Creado</label>
                                <input name="CreateDateTransaction" id="CreateDateTransaction" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Creado por</label>
                                <input name="CreateUserTransaction" id="CreateUserTransaction" class="form-control" value="Administrador" readonly />
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Actualizado</label>
                                <input name="CreateDateTransaction" id="CreateDateTransaction" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Actualizado por</label>
                                <input name="CreateUserTransaction" id="CreateUserTransaction" class="form-control" value="Administrador" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Viajes</a>
</div>



@section BodyArea {
    <!-- Modals must be declare at body level so the content overlaps the background-->
    <!-- Modal Large-->
    <div class="modal fade" id="ModalcrearItem" tabindex="-1" role="dialog" aria-labelledby="ModalcrearItem" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Añadir Orden de servicio al viaje #@Model.TravelID </h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="card-body">
                        <div class="col-lg-12">
                            <form method="post" enctype="multipart/form-data" asp-controller="Travel" asp-action="CreateItem">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input name="TravelID" value="@Model.TravelID" hidden />
                                <div class="row">

                                    <table class="table table-striped my-4 w-100">
                                        <thead>
                                            <tr>
                                                <th>Selecciona uno</th>
                                                <th>Fecha Orden Servicio</th>
                                                <th>Origen</th>
                                                <th>Destino</th>
                                                <th>Direcci&oacute;n</th>
                                                <th>Remitente</th>
                                                <th>Consignatario</th>
                                                <th>Capacidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.ServiceOrder != null)
                                            {
                                                var listServiceOrder = (IEnumerable<Angle.Models.ServiceOrder>)ViewBag.ServiceOrder;
                                                var serv = 0;
                                                @foreach (var ServiceOrder in listServiceOrder)
                                                {
                                                    if (ServiceOrder.OriginID == Model.OriginID && ServiceOrder.DestinationID == Model.DestinationID)
                                                    {
                                                        serv++;
                                                        <tr>
                                                            <td><input type="radio" name="ServiceOrderID" id="@serv" value="@ServiceOrder.ServiceOrderID" checked="false" /> </td>
                                                            <td>@ServiceOrder.ServiceOrderDate</td>
                                                            @if (ViewBag.GeoLevel1 != null)
                                                            {
                                                                var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                                                @foreach (var GeoLevel1 in listGeoLevel1)
                                                                {
                                                                    if (GeoLevel1.GeoLevel1ID == ServiceOrder.OriginID)
                                                                    {
                                                                        <td> @GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</td>
                                                                    }

                                                                }
                                                            }
                                                            @if (ViewBag.GeoLevel1 != null)
                                                            {
                                                                var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                                                @foreach (var GeoLevel1 in listGeoLevel1)
                                                                {
                                                                    if (GeoLevel1.GeoLevel1ID == ServiceOrder.DestinationID)
                                                                    {
                                                                        <td> @GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</td>
                                                                    }

                                                                }
                                                            }
                                                            <td>@ServiceOrder.AddressQuote</td>
                                                            @if (ViewBag.Customer != null)
                                                            {
                                                                var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;

                                                                @foreach (var Customer in listCustomer)
                                                                {
                                                                    if (Customer.CustomerID == ServiceOrder.CustomerID)
                                                                    {
                                                                        <td> @Customer.CompanyName - @Customer.FirstName @Customer.LastName</td>
                                                                    }

                                                                }
                                                            }
                                                            <td>@ServiceOrder.Remittee</td>
                                                            <td>
                                                                @if (ViewBag.ItemsServiceOrder != null)
                                                                {
                                                                    var listItemsServiceOrder = (IEnumerable<Angle.Models.ItemsServiceOrder>)ViewBag.ItemsServiceOrder;
                                                                    var cont1 = 0;
                                                                    @foreach (var ItemsServiceOrder in listItemsServiceOrder)
                                                                    {
                                                                        if (ItemsServiceOrder.ServiceOrderID == ServiceOrder.ServiceOrderID)
                                                                        {
                                                                            cont1++;
                                                                            <input name="Peso" id="Peso-@cont1" value="@ItemsServiceOrder.Weight" hidden />
                                                                        }
                                                                    }

                                                                    <input stye="display:inline-block" id="PesoOrdenServicio-@serv" class="PesoOrdenServicio" /> <a stye="display:inline-block">LB</a>
                                                                    <input id="Contador-@serv" value="@cont1" hidden />
                                                                }
                                                            </td>
                                                        </tr>
                                                    }

                                                }

                                                <label>Hay @serv ordenes de servicio disponibles</label>
                                                <input id="OSDisp" value="@serv" hidden />



                                            }

                                        </tbody>
                                    </table>



                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Agregar item" id="BtnAgregarItem" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modals must be declare at body level so the content overlaps the background-->
    <!-- Modal Large-->
    <div class="modal fade" id="ModalcrearParada" tabindex="-1" role="dialog" aria-labelledby="ModalcrearParada" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Añadir Parada al viaje #@Model.TravelID </h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="card-body">
                        <div class="col-lg-12">
                            <form method="post" enctype="multipart/form-data" asp-controller="Travel" asp-action="CreateStopTravel">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input name="TravelID" value="@Model.TravelID" hidden />
                                <div class="row">

                                    <div class="col-12 col-lg-2">
                                        <div class="form-group">
                                            <label class="control-label">Parada en: </label>
                                            <select name="StopID" id="StopID" class="form-control form-control-lg" required>
                                                <option value="">Seleccionar</option>
                                                @if (ViewBag.GeoLevel1 != null)
                                                {
                                                    var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                                    @foreach (var GeoLevel1 in listGeoLevel1)
                                                    {
                                                        <option value="@GeoLevel1.GeoLevel1ID">@GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</option>
                                                    }}
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Agregar item" id="BtnAgregarItem" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<style type="text/css">
    .PesoOrdenServicio {
        border: none;
        background: transparent;
    }

    #botones {
        float: right;
    }

    #importar {
        float: left;
    }

    .table > thead > tr > th {
        padding: 14px 8px;
        color: #a51717 !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }

    .table > tfoot > tr > th {
        padding: 14px 8px;
        color: #a51717 !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }

    .btn-primary {
        padding: 6px 15px !important;
    }
</style>


@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">

        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>

        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/vendor/flot/jquery.flot.time.js"></script>
        <script src="~/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
        <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/vendor/moment/min/moment-with-locales.js"></script>
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

            var TotalPieces = 0;
            var TotalLb = 0;
            var Contador = $("#Contador").val();
            var x = 0;
            var y = 0;
            for (var i = 0; i < Contador; i++) {
                x = $("#Cantidad-" + (i + 1)).val();
                y = $("#Peso-" + (i + 1)).val();
                TotalPieces = parseInt(TotalPieces) + parseInt(x);
                TotalLb = parseInt(TotalLb) + parseInt(y);
            }


            $("#TotalPieces").val(parseInt(TotalPieces));
            $("#TotalLb").val(parseInt(TotalLb));




            //Mostrar peso por orden de servicio CantServ PesoOrdenServicio-1
            var OSDisp = $("#OSDisp").val();
            for (var x = 1; x <= OSDisp; x++) {
                var y = 0;
                var capmax = 0;
                for (var z = 1; z <= $("#Contador-" + (x)).val(); z++) {
                    y = $("#Peso-" + (z)).val();
                    capmax = parseInt(capmax) + parseInt(y);
                }
                $("#PesoOrdenServicio-" + (x)).val(capmax);
            }

            $('input[type=radio][name=ServiceOrderID]').change(function () {
                var id = $(this).attr("id");
                var cap = parseInt($("#Capacity").val())
                var peso = parseInt($("#PesoOrdenServicio-" + (id)).val())
                if (cap < peso) {
                    alert("Esta orden de servicio excede la capacidad del vehiculo");
                    $("#BtnAgregarItem").hide();
                } else {
                    $("#BtnAgregarItem").show();
                }
            });
        </script>
        <script>

            function eliminarRegistro(id) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/Travel/DeleteItem/" + id;
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }


            function eliminarParada(TravelID, StopID) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/Travel/DeleteParada/?TravelID="+TravelID+"&StopID="+StopID+"";
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }
        </script>
    </environment>
    <environment names="Staging,Production">

        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>

        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/vendor/flot/jquery.flot.time.js"></script>
        <script src="~/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
        <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/vendor/moment/min/moment-with-locales.js"></script>
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

            var TotalPieces = 0;
            var TotalLb = 0;
            var Contador = $("#Contador").val();
            var x = 0;
            var y = 0;
            for (var i = 0; i < Contador; i++) {
                x = $("#Cantidad-" + (i + 1)).val();
                y = $("#Peso-" + (i + 1)).val();
                TotalPieces = parseInt(TotalPieces) + parseInt(x);
                TotalLb = parseInt(TotalLb) + parseInt(y);
            }


            $("#TotalPieces").val(parseInt(TotalPieces));
            $("#TotalLb").val(parseInt(TotalLb));




            //Mostrar peso por orden de servicio CantServ PesoOrdenServicio-1
            var OSDisp = $("#OSDisp").val();
            for (var x = 1; x <= OSDisp; x++) {
                var y = 0;
                var capmax = 0;
                for (var z = 1; z <= $("#Contador-" + (x)).val(); z++) {
                    y = $("#Peso-" + (z)).val();
                    capmax = parseInt(capmax) + parseInt(y);
                }
                $("#PesoOrdenServicio-" + (x)).val(capmax);
            }

            $('input[type=radio][name=ServiceOrderID]').change(function () {
                var id = $(this).attr("id");
                var cap = parseInt($("#Capacity").val())
                var peso = parseInt($("#PesoOrdenServicio-" + (id)).val())
                if (cap < peso) {
                    alert("Esta orden de servicio excede la capacidad del vehiculo");
                    $("#BtnAgregarItem").hide();
                } else {
                    $("#BtnAgregarItem").show();
                }
            });
        </script>
        <script>

            function eliminarRegistro(id) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/Travel/DeleteItem/" + id;
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }


            function eliminarParada(TravelID, StopID) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/Travel/DeleteParada/?TravelID=" + TravelID + "&StopID=" + StopID + "";
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }
        </script>
    </environment>

}