﻿@model Angle.DTOs.CustomerDTO
@{ ViewData["Title"] = "Index";


}


<div class="content-heading">
    <div>
        Reporte 2: Promedio de clientes
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="card card-default">
        <div class="card-header">Filtros</div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" asp-controller="Reportes" asp-action="Reporte2">
                <div class="form-row align-items-center">
                    <div class="col-3">
                        <label asp-for="CustomerID" class="control-label"></label>
                        <select name="FilterCustomer" id="FilterCustomer" class="form-control mb-2">
                            <option value="">Seleccionar</option>
                            @if (ViewBag.Customer != null)
                            {
                                var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;
                                @foreach (var Customer in listCustomer)
                                {
                                    <option value="@Customer.CustomerID">@Customer.CompanyName - @Customer.FirstName @Customer.LastName</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="CustomerID" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label class="control-label">Fecha desde</label>
                        <input name="FechaDesde" id="FechaDesde" class="form-control mb-2"/>
                    </div>
                    <div class="col-3">
                        <label class="control-label">Fecha hasta</label>
                        <input name="FechaHasta" id="FechaHasta" class="form-control mb-2"/>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-2" onclick="Filtrar()">Filtrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div id="botones" class="botones">
            </div>
        </div>
        <div class="card-body">

            <table class="table table-striped my-4 w-100" id="datatable4Track">
                <thead>
                    <tr>
                        <th>Divisi&oacute;n</th>
                        <th>Raz&oacute;n Social</th>
                        <th>Nombre y apellido</th>
                        <th>Tipo Cliente</th>
                        <th>Peso (Lb)</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.CustomerFinal != null)
                    {
                        var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.CustomerFinal;
                        @foreach (var Customer in listCustomer)
                        {
                            <tr>
                                <td>-</td>
                                <td>@Customer.CompanyName</td>
                                <td>@Customer.FirstName @Customer.LastName</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        }
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>Divisi&oacute;n</th>
                        <th>Raz&oacute;n Social</th>
                        <th>Nombre y apellido</th>
                        <th>Tipo Cliente</th>
                        <th>Peso (Lb)</th>
                        <th>Monto</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>

    <style type="text/css">

        #botones {
            float: right;
        }

        #importar {
            float: left;
        }

        .table > thead > tr > th {
            padding: 14px 8px;
            color: #a51717 !important;
            font-size: 16px !important;
            font-weight: bold !important;
        }

        .table > tfoot > tr > th {
            padding: 14px 8px;
            color: #a51717 !important;
            font-size: 16px !important;
            font-weight: bold !important;
        }
    </style>


    @section Styles {
        <environment names="Development">
            <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
            <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
            <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
            <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
            <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
        </environment>
    }

    @section Scripts {

        <environment names="Development">
            <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
            <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
            <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
            <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
            <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
            <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
            <script src="~/vendor/jszip/dist/jszip.js"></script>
            <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
            <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
            <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
            <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
            <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
            <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
            <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
            <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
            <script src="~/vendor/jszip/dist/jszip.js"></script>
            <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
            <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
            <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        </environment>

    }
