﻿@model Angle.DTOs.CustomerDTO
@{ ViewData["Title"] = "Index";


}


<div class="content-heading">
    <div>
        Reporte 10: Env&iacute;o por Veh&iacute;culo
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div id="botones" class="botones">
            </div>
        </div>
        <div class="card-body">

            <table class="table table-striped my-4 w-100" id="datatable4Track">
                <thead>
                    <tr>
                        <th>Vehiculo</th>
                        <th>Orden de Servicio</th>
                        <th>Fecha Orden de Servicio</th>
                        <th>Divisi&oacute;n</th>
                        <th>Cliente</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Peso LB</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.VehiclesDeliveries != null)
                    {
                        var listVehiclesDeliveries = ViewBag.VehiclesDeliveries;
                        @foreach (var VehiclesDeliveries in listVehiclesDeliveries)
                        {
                    <tr>
                        <td></td>
                        <td>@VehiclesDeliveries.ServiceOrderID </td>
                        <td>@VehiclesDeliveries.ServiceOrderDate </td>
                        @if (ViewBag.Customer != null)
                        {
                            var listCustomer = ViewBag.Customer;

                            @foreach (var Customer in listCustomer)
                            {
                                if (Customer.CustomerID == VehiclesDeliveries.CustomerID)
                                {
                                    @if (ViewBag.Division != null)
                                    {

                                        var listDivision = (IEnumerable<Angle.Models.Division>)ViewBag.Division;


                                        @foreach (var itemDivision in listDivision)
                                        {

                                            @if (Customer.DivisionID == itemDivision.DivisionID)
                                            {
                                                <td>@Html.DisplayFor(modelItem => itemDivision.DivisionName)</td>
                                            }
                                        }
                                    }
                                    <td>@Customer.CompanyName @Customer.FirstName @Customer.LastName</td>
                                }

                            }
                        }
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                        }


                    }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Vehiculo</th>
                            <th>Orden de Servicio</th>
                            <th>Fecha Orden de Servicio</th>
                            <th>Divisi&oacute;n</th>
                            <th>Cliente</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Peso LB</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>

    <style type="text/css">

        #botones {
            float: right;
        }

        #importar {
            float: left;
        }

        .table > thead > tr > th {
            padding: 14px 8px;
            color: #a51717 !important;
            font-size: 16px !important;
            font-weight: bold !important;
        }

        .table > tfoot > tr > th {
            padding: 14px 8px;
            color: #a51717 !important;
            font-size: 16px !important;
            font-weight: bold !important;
        }
    </style>


    @section Styles {
        <environment names="Development">
            <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
            <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
            <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
            <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
            <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
        </environment>
    }

    @section Scripts {

        <environment names="Development">
            <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
            <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
            <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
            <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
            <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
            <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
            <script src="~/vendor/jszip/dist/jszip.js"></script>
            <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
            <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
            <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>

        </environment>
        <environment names="Staging,Production">
            <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
            <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
            <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
            <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
            <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
            <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
            <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
            <script src="~/vendor/jszip/dist/jszip.js"></script>
            <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
            <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
            <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        </environment>

    }
