﻿
@{ ViewData["Title"] = "Importar"; }

@using StatusPrueba = Angle.DTOs.StatusPruebaDTO;
<h1>Details</h1>

<div>
    <h1>Muchas gracias por importar</h1>
<hr />
           
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>