﻿@model IEnumerable<Angle.DTOs.QuoteStatusDTO>

    @{ ViewData["Title"] = "Index"; }
<div class="content-heading">
    <div>
        Estatus de Cotizaci&oacute;n
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div id="botones" class="botones">
                <a asp-action="Create">
                    <button class="btn btn-primary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button">
                        <span>Crear</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped my-4 w-100" id="datatable4Track">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID Estatus</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.QuoteStatusID" class="text-muted">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a OnClick="eliminarRegistro(@item.QuoteStatusID)" class="text-muted">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                            <td> @Html.DisplayFor(modelItem => item.QuoteStatusID)</td>
                            <td><a class="badge badge-@Html.DisplayFor(modelItem => item.StatusColor)">@Html.DisplayFor(modelItem => item.QuoteStatusName)</a></td>


                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>ID Estatus</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>

@section BodyArea {
    <!-- Modals must be declare at body level so the content overlaps the background-->
    <!-- Modal Large-->
    <div class="modal fade" id="ModalImportar" tabindex="-1" role="dialog" aria-labelledby="ModalImportar" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Importar vehiculos</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-12 col-form-label">Seleccione un archivo .csv</label>
                        <div class="col-md-12">
                            <input class="form-control filestyle" type="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr-2'&gt;&lt;/span&gt;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button><button class="btn btn-primary" type="button" data-dismiss="modal" data-notify="" data-message="¡Se han añadido 5 vehiculos con éxito!" data-options="{&quot;status&quot;:&quot;success&quot;, &quot;pos&quot;:&quot;bottom-right&quot;}">Importar archivo</button></div>
            </div>
        </div>
    </div>
}
<style type="text/css">

    #botones {
        float: right;
    }

    #importar {
        float: left;
    }

    .table > thead > tr > th {
        padding: 14px 8px;
        color: #a51717 !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }

    .table > tfoot > tr > th {
        padding: 14px 8px;
        color: #a51717 !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }
</style>


@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
}

@section Scripts {

    <environment names="Development">
        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script>

            function eliminarRegistro(id) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/QuoteStatus/Delete/" + id;
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    </environment>

}
