@{
    ViewBag.Title = "Nestable";
}
<div class="content-heading">
   <div>Nestable
      <small>Drag &amp; drop hierarchical list with mouse and touch compatibility</small>
   </div>
</div>
<div class="container-fluid">
   <div class="js-nestable-action"><a class="btn btn-secondary btn-sm mr-1" data-action="expand-all">Expand All</a><a class="btn btn-secondary btn-sm" data-action="collapse-all">CollapseAll</a>
   </div>
   <div class="row">
      <div class="col-lg-6">
         <div class="dd" id="nestable">
            <ol class="dd-list">
               <li class="dd-item" data-id="1">
                  <div class="dd-handle">Item 1</div>
               </li>
               <li class="dd-item" data-id="2">
                  <div class="dd-handle">Item 2</div>
                  <ol class="dd-list">
                     <li class="dd-item" data-id="3">
                        <div class="dd-handle">Item 3</div>
                     </li>
                     <li class="dd-item" data-id="4">
                        <div class="dd-handle">Item 4</div>
                     </li>
                     <li class="dd-item" data-id="5">
                        <div class="dd-handle">Item 5</div>
                        <ol class="dd-list">
                           <li class="dd-item" data-id="6">
                              <div class="dd-handle">Item 6</div>
                           </li>
                           <li class="dd-item" data-id="7">
                              <div class="dd-handle">Item 7</div>
                           </li>
                           <li class="dd-item" data-id="8">
                              <div class="dd-handle">Item 8</div>
                           </li>
                        </ol>
                     </li>
                     <li class="dd-item" data-id="9">
                        <div class="dd-handle">Item 9</div>
                     </li>
                     <li class="dd-item" data-id="10">
                        <div class="dd-handle">Item 10</div>
                     </li>
                  </ol>
               </li>
               <li class="dd-item" data-id="11">
                  <div class="dd-handle">Item 11</div>
               </li>
               <li class="dd-item" data-id="12">
                  <div class="dd-handle">Item 12</div>
               </li>
            </ol>
         </div>
         <textarea class="form-control" id="nestable-output"></textarea>
      </div>
      <div class="col-lg-6">
         <div class="dd" id="nestable2">
            <ol class="dd-list">
               <li class="dd-item dd3-item" data-id="13">
                  <div class="dd-handle dd3-handle">&nbsp;</div>
                  <div class="dd3-content">Item 13</div>
               </li>
               <li class="dd-item dd3-item" data-id="14">
                  <div class="dd-handle dd3-handle">&nbsp;</div>
                  <div class="dd3-content">Item 14</div>
               </li>
               <li class="dd-item dd3-item" data-id="15">
                  <div class="dd-handle dd3-handle">&nbsp;</div>
                  <div class="dd3-content">Item 15</div>
                  <ol class="dd-list">
                     <li class="dd-item dd3-item" data-id="16">
                        <div class="dd-handle dd3-handle">&nbsp;</div>
                        <div class="dd3-content">Item 16</div>
                     </li>
                     <li class="dd-item dd3-item" data-id="17">
                        <div class="dd-handle dd3-handle">&nbsp;</div>
                        <div class="dd3-content">Item 17</div>
                     </li>
                     <li class="dd-item dd3-item" data-id="18">
                        <div class="dd-handle dd3-handle">&nbsp;</div>
                        <div class="dd3-content">Item 18</div>
                     </li>
                  </ol>
               </li>
            </ol>
         </div>
         <textarea class="form-control" id="nestable2-output"></textarea>
      </div>
   </div>
</div>

@section Scripts {

    <environment names="Development">
        <script src="~/vendor/nestable/jquery.nestable.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/nestable/jquery.nestable.js"></script>
    </environment>

}


