@{
    ViewBag.Title = "Notifications";
}
<div class="content-heading">
   <div>Notifications
      <span class="text-sm d-none d-sm-block">A complete set of notification posibilities</span>
      <!-- Breadcrumb below title-->
      <ol class="breadcrumb breadcrumb px-0 pb-0">
         <li class="breadcrumb-item"><a href="#">Home</a>
         </li>
         <li class="breadcrumb-item"><a href="#">Elements</a>
         </li>
         <li class="breadcrumb-item active">Notifications</li>
      </ol>
   </div>
   <!-- Breadcrumb right aligned-->
   <ol class="breadcrumb ml-auto">
      <li class="breadcrumb-item"><a href="#">Home</a>
      </li>
      <li class="breadcrumb-item"><a href="#">Elements</a>
      </li>
      <li class="breadcrumb-item active">Notifications</li>
   </ol>
</div>
<!-- Breadcrumb next to view title-->
<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#">Home</a>
   </li>
   <li class="breadcrumb-item"><a href="#">Elements</a>
   </li>
   <li class="breadcrumb-item active">Notifications</li>
</ol>
<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#">Home</a>
   </li>
   <li class="breadcrumb-item"><a href="#">Elements</a>
   </li>
   <li class="breadcrumb-item active">Notifications</li>
</ol>
<!-- START row-->
<div class="row">
   <div class="col-xl-6">
      <!-- START card-->
      <div class="card card-default">
         <div class="card-header">Notify Alerts</div>
         <div class="card-body">
            <p>Create toggleable notifications that fade out automatically.</p>
            <p>
               <button class="btn btn-secondary" type="button" data-notify="" data-message="Message ..">Message</button>
            </p>
            <p>You can use HTML inside your notification message</p>
            <p>
               <button class="btn btn-secondary" type="button" data-notify="" data-message="&lt;em class='fa fa-check'&gt;&lt;/em&gt; Message with icon..">Message with Icon</button>
            </p>
         </div>
      </div>
      <!-- END card-->
      <!-- START card-->
      <div class="card card-default">
         <div class="card-header">Alert Styles</div>
         <div class="card-body">
            <div class="alert alert-success" role="alert">
               <strong>Well done!</strong>You successfully read this important alert message.</div>
            <div class="alert alert-info" role="alert">
               <strong>Heads up!</strong>This alert needs your attention, but it&apos;s not super important.</div>
            <div class="alert alert-warning" role="alert">
               <strong>Warning!</strong>Better check yourself, you&apos;re not looking too good.</div>
            <div class="alert alert-danger" role="alert">
               <strong>Oh snap!</strong>Change a few things up and try submitting again.</div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
               <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
               <strong>Holy guacamole!</strong>Best check yo self, you&apos;re not looking too good.</div>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-xl-6">
      <!-- START card-->
      <div class="card card-default">
         <div class="card-header">Notify with Status</div>
         <div class="card-body">
            <p>Uses builtin alert status to apply notifications</p>
            <p>
               <button class="btn btn-danger" type="button" data-notify="" data-message="Message with status.." data-options="{&quot;status&quot;:&quot;danger&quot;}">Danger</button>
               <button class="btn btn-info" type="button" data-notify="" data-message="Message with status.." data-options="{&quot;status&quot;:&quot;info&quot;}">Info</button>
               <button class="btn btn-warning" type="button" data-notify="" data-message="Message with status.." data-options="{&quot;status&quot;:&quot;warning&quot;}">Warning</button>
               <button class="btn btn-success" type="button" data-notify="" data-message="Message with status.." data-options="{&quot;status&quot;:&quot;success&quot;}">Success</button>
            </p>
            <p>Show in different positions</p>
            <p>
               <button class="btn btn-secondary" type="button" data-notify="" data-message="Message in position.." data-options="{&quot;pos&quot;:&quot;bottom-center&quot;}">Bottom Cener</button>
               <button class="btn btn-secondary" type="button" data-notify="" data-message="Message in position.." data-options="{&quot;pos&quot;:&quot;top-left&quot;}">Top Left</button>
               <button class="btn btn-secondary" type="button" data-notify="" data-message="Message in position.." data-options="{&quot;pos&quot;:&quot;top-right&quot;}">Top Right</button>
               <button class="btn btn-secondary" type="button" data-notify="" data-message="Message in position.." data-options="{&quot;status&quot;:&quot;success&quot;, &quot;pos&quot;:&quot;bottom-right&quot;}">Succes at Bottom Right</button>
            </p>
         </div>
      </div>
      <!-- END card-->
      <!-- START card-->
      <div class="card card-default">
         <div class="card-header">Modals</div>
         <div class="card-body">
            <!-- Button trigger modal-->
            <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#myModal">Default modal</button>
            <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#myModalLarge">Large modal</button>
            <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#myModalSmall">Small modal</button>
         </div>
      </div>
      <!-- END card-->
      <!-- START card-->
      <div class="card card-default">
         <div class="card-header">Popovers</div>
         <div class="card-body">
            <button class="btn btn-secondary" type="button" title="Popover title" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on left</button>
            <button class="btn btn-secondary" type="button" title="Popover title" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on top</button>
            <button class="btn btn-secondary" type="button" title="Popover title" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamussagittis lacus vel augue laoreet rutrum faucibus.">Popover on bottom</button>
            <button class="btn btn-secondary" type="button" title="Popover title" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on right</button>
         </div>
      </div>
      <!-- END card-->
      <!-- START card-->
      <div class="card card-default">
         <div class="card-header">Tooltips</div>
         <div class="card-body">
            <button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
            <button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
            <button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
            <button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
         </div>
      </div>
      <!-- END card-->
   </div>
</div>
<!-- END row-->
<div class="row">
    <div class="col-xl-6">
        <style>
            .scrollspy-example-2 {
        position: relative;
        height: 350px;
        overflow: auto;
     }
  </style>
        <div class="card card-default mb-4">
            <div class="card-header">Scrollspy w/side Nav</div>
            <div class="row">
                <div class="col-4">
                    <nav class="navbar navbar-light bg-light flex-column" id="navbar-example3">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link active" href="#item-1">Item 1</a>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link ml-3 my-1" href="#item-1-1">Item 1-1</a>
                                <a class="nav-link ml-3 my-1" href="#item-1-2">Item 1-2</a>
                            </nav>
                            <a class="nav-link" href="#item-2">Item 2</a>
                            <a class="nav-link" href="#item-3">Item 3</a>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link ml-3 my-1" href="#item-3-1">Item 3-1</a>
                                <a class="nav-link ml-3 my-1" href="#item-3-2">Item 3-2</a>
                            </nav>
                        </nav>
                    </nav>
                </div>
                <div class="col-8">
                    <div class="scrollspy-example-2" data-spy="scroll" data-target="#navbar-example3" data-offset="0">
                        <h4 id="item-1">Item 1</h4>
                        <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor
                            eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt
                            mollit dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.</p>
                        <h5 id="item-1-1">Item 1-1</h5>
                        <p>Amet tempor mollit aliquip pariatur excepteur commodo do ea cillum commodo Lorem et occaecat elit qui et. Aliquip labore ex ex esse voluptate occaecat Lorem ullamco deserunt. Aliqua cillum excepteur irure consequat id quis
                            ea. Sit proident ullamco aute magna pariatur nostrud labore. Reprehenderit aliqua commodo eiusmod aliquip est do duis amet proident magna consectetur consequat eu commodo fugiat non quis. Enim aliquip exercitation ullamco
                            adipisicing voluptate excepteur minim exercitation minim minim commodo adipisicing exercitation officia nisi adipisicing. Anim id duis qui consequat labore adipisicing sint dolor elit cillum anim et fugiat.</p>
                        <h5 id="item-1-2">Item 1-2</h5>
                        <p>Cillum nisi deserunt magna eiusmod qui eiusmod velit voluptate pariatur laborum sunt enim. Irure laboris mollit consequat incididunt sint et culpa culpa incididunt adipisicing magna magna occaecat. Nulla ipsum cillum eiusmod
                            sint elit excepteur ea labore enim consectetur in labore anim. Proident ullamco ipsum esse elit ut Lorem eiusmod dolor et eiusmod. Anim occaecat nulla in non consequat eiusmod velit incididunt.</p>
                        <h4 id="item-2">Item 2</h4>
                        <p>Quis magna Lorem anim amet ipsum do mollit sit cillum voluptate ex nulla tempor. Laborum consequat non elit enim exercitation cillum aliqua consequat id aliqua. Esse ex consectetur mollit voluptate est in duis laboris ad
                            sit ipsum anim Lorem. Incididunt veniam velit elit elit veniam Lorem aliqua quis ullamco deserunt sit enim elit aliqua esse irure. Laborum nisi sit est tempor laborum mollit labore officia laborum excepteur commodo non
                            commodo dolor excepteur commodo. Ipsum fugiat ex est consectetur ipsum commodo tempor sunt in proident.</p>
                        <h4 id="item-3">Item 3</h4>
                        <p>Quis anim sit do amet fugiat dolor velit sit ea ea do reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim proident occaecat excepteur aliquip culpa aute tempor reprehenderit. Deserunt tempor mollit elit ex pariatur
                            dolore velit fugiat mollit culpa irure ullamco est ex ullamco excepteur.</p>
                        <h5 id="item-3-1">Item 3-1</h5>
                        <p>Deserunt quis elit Lorem eiusmod amet enim enim amet minim Lorem proident nostrud. Ea id dolore anim exercitation aute fugiat labore voluptate cillum do laboris labore. Ex velit exercitation nisi enim labore reprehenderit
                            labore nostrud ut ut. Esse officia sunt duis aliquip ullamco tempor eiusmod deserunt irure nostrud irure. Ullamco proident veniam laboris ea consectetur magna sunt ex exercitation aliquip minim enim culpa occaecat exercitation.
                            Est tempor excepteur aliquip laborum consequat do deserunt laborum esse eiusmod irure proident ipsum esse qui.</p>
                        <h5 id="item-3-2">Item 3-2</h5>
                        <p>Labore sit culpa commodo elit adipisicing sit aliquip elit proident voluptate minim mollit nostrud aute reprehenderit do. Mollit excepteur eu Lorem ipsum anim commodo sint labore Lorem in exercitation velit incididunt. Occaecat
                            consectetur nisi in occaecat proident minim enim sunt reprehenderit exercitation cupidatat et do officia. Aliquip consequat ad labore labore mollit ut amet. Sit pariatur tempor proident in veniam culpa aliqua excepteur
                            elit magna fugiat eiusmod amet officia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <style>
            .scrollspy-example {
        position: relative;
        height: 200px;
        margin-top: .5rem;
        overflow: auto;
     }
  </style>
        <div class="card card-default mb-4">
            <nav class="navbar navbar-light bg-light" id="navbar-example2">
                <a class="navbar-brand" href="#">Scrollspy</a>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#fat">@@fat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#mdo">@@mdo</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#one">one</a>
                            <a class="dropdown-item" href="#two">two</a>
                            <div class="dropdown-divider" role="separator"></div>
                            <a class="dropdown-item" href="#three">three</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="card-body pt-0">
                <div class="scrollspy-example" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                    <h4 class="mt-0" id="fat">@@fat</h4>
                    <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf
                        moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh
                        artisan ullamco consequat.</p>
                    <h4 id="mdo">@@mdo</h4>
                    <p>Veniam marfa mustache skateboard, adipisicing fugiat velit pitchfork beard. Freegan beard aliqua cupidatat mcsweeney's vero. Cupidatat four loko nisi, ea helvetica nulla carles. Tattooed cosby sweater food truck, mcsweeney's
                        quis non freegan vinyl. Lo-fi wes anderson +1 sartorial. Carles non aesthetic exercitation quis gentrify. Brooklyn adipisicing craft beer vice keytar deserunt.</p>
                    <h4 id="one">one</h4>
                    <p>Occaecat commodo aliqua delectus. Fap craft beer deserunt skateboard ea. Lomo bicycle rights adipisicing banh mi, velit ea sunt next level locavore single-origin coffee in magna veniam. High life id vinyl, echo park consequat
                        quis aliquip banh mi pitchfork. Vero VHS est adipisicing. Consectetur nisi DIY minim messenger bag. Cred ex in, sustainable delectus consectetur fanny pack iphone.</p>
                    <h4 id="two">two</h4>
                    <p>In incididunt echo park, officia deserunt mcsweeney's proident master cleanse thundercats sapiente veniam. Excepteur VHS elit, proident shoreditch +1 biodiesel laborum craft beer. Single-origin coffee wayfarers irure four loko,
                        cupidatat terry richardson master cleanse. Assumenda you probably haven't heard of them art party fanny pack, tattooed nulla cardigan tempor ad. Proident wolf nesciunt sartorial keffiyeh eu banh mi sustainable. Elit wolf
                        voluptate, lo-fi ea portland before they sold out four loko. Locavore enim nostrud mlkshk brooklyn nesciunt.</p>
                    <h4 id="three">three</h4>
                    <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf
                        moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh
                        artisan ullamco consequat.</p>
                    <p>Keytar twee blog, culpa messenger bag marfa whatever delectus food truck. Sapiente synth id assumenda. Locavore sed helvetica cliche irony, thundercats you probably haven't heard of them consequat hoodie gluten-free lo-fi fap
                        aliquip. Labore elit placeat before they sold out, terry richardson proident brunch nesciunt quis cosby sweater pariatur keffiyeh ut helvetica artisan. Cardigan craft beer seitan readymade velit. VHS chambray laboris tempor
                        veniam. Anim mollit minim commodo ullamco thundercats.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START card-->
<div class="card card-default">
   <div class="card-header">Progress Bar
      <div class="btn-group float-right"></div>
   </div>
   <div class="card-body">
      <div class="progress mb-3">
         <div class="progress-bar bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
            <span class="sr-only">40% Complete (success)</span>
         </div>
      </div>
      <div class="progress mb-3">
         <div class="progress-bar bg-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
            <span class="sr-only">20% Complete</span>
         </div>
      </div>
      <div class="progress progress-sm mb-3">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete (warning)</span>
         </div>
      </div>
      <div class="progress progress-xs mb-3">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
            <span class="sr-only">80% Complete (danger)</span>
         </div>
      </div>
      <div class="progress mb-3">
         <div class="progress-bar bg-purple progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
            <span class="sr-only">40% Complete (success)</span>
         </div>
      </div>
      <div class="progress">
         <div class="progress-bar bg-yellow" style="width: 35%;">
            <span class="sr-only">35% Complete (success)</span>
         </div>
         <div class="progress-bar bg-warning progress-bar-striped" style="width: 20%;">
            <span class="sr-only">20% Complete (warning)</span>
         </div>
         <div class="progress-bar bg-danger" style="width: 10%;">
            <span class="sr-only">10% Complete (danger)</span>
         </div>
      </div>
   </div>
</div>
<!-- END card-->

@section BodyArea {
    <!-- Modals must be declare at body level so the content overlaps the background-->
    <!-- Modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">...</div>
             <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button">Save changes</button>
             </div>
          </div>
       </div>
    </div>
    <!-- Modal Large-->
    <div class="modal fade" id="myModalLarge" tabindex="-1" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true">
       <div class="modal-dialog modal-lg">
          <div class="modal-content">
             <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelLarge">Modal title</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">...</div>
             <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button">Save changes</button>
             </div>
          </div>
       </div>
    </div>
    <!-- Modal Small-->
    <div class="modal fade" id="myModalSmall" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSmall" aria-hidden="true">
       <div class="modal-dialog modal-sm">
          <div class="modal-content">
             <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelSmall">Modal title</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">...</div>
             <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button">Save changes</button>
             </div>
          </div>
       </div>
    </div>
}
