﻿@{
    ViewBag.Title = "EstatusAgregar";
}
<div class="content-heading">
    <div>
        Agregar Estatus
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>
<!-- START row-->
<div class="row">
    <div class="col-xl-12">
        <div class="card card-default" >
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Parametrizaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Estatus_h">Estatus</a>
                    </li>
                </ol>
            </div>

            <div class="card-body">
                <form name="Estatus" id="formEstatus" class="form-horizontal" action="#" data-parsley-validate="" novalidate="">
                    <div class="card-body">
                        <fieldset>
                            <div class="row">
                                <div class="col-12 col-lg-6 itemrow">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">ID Estatus</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text" name="idEstatus" id="idEstatus" data-parsley-type="number" disabled="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 itemrow">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Descripción</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text" name="descripcion" id="descripcion" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <center>
                            <button class="btn btn-primary" id="agregarEstatus" type="submit">Registrar Estatus</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        @section Scripts {

            <environment names="Development">
                <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
                <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
            </environment>
            <environment names="Staging,Production">
                <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
                <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
            </environment>

        }
        <style>
            .itemrow {
                margin-bottom: 10px;
            }
        </style>
