﻿@model Angle.DTOs.AddressDTO
@{ var CountrySelected = 0; }
@{ ViewData["Title"] = "Create"; }
<div class="content-heading">
    <div>
        Agregar direcci&Oacute;n
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Parametrizaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Addresso</a>
                    </li>
                </ol>
            </div>


            <div class="card-body">
                <form asp-action="Create" id="formAddress" data-parsley-validate="" novalidate="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="CustomerID" class="control-label"></label>
                                <select asp-for="CustomerID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Customer != null)
                                    {
                                        var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;

                        @foreach (var Customer in listCustomer)
                        {
                    <option value="@Customer.CustomerID" selected>@Customer.CustomerID</option>
}}
                                </select>
                                <span asp-validation-for="CustomerID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="AddressName" class="control-label"></label>
                                <input asp-for="AddressName" class="form-control" />
                                <span asp-validation-for="AddressName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="PostalCode" class="control-label"></label>
                                <input asp-for="PostalCode" class="form-control" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="AddressTypeID" class="control-label"></label>
                                <select asp-for="AddressTypeID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.AddressType != null)
                                    {
                                        var listAddressType = (IEnumerable<Angle.Models.AddressType>)ViewBag.AddressType;

                        @foreach (var AddressType in listAddressType)
                        {
                    <option value="@AddressType.AddressTypeID">@AddressType.AddressTypeName</option>}}
                                </select>
                                <span asp-validation-for="AddressTypeID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="GeoLevel1ID" class="control-label"></label>
                                <select asp-for="GeoLevel1ID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    
                                    @if (ViewBag.GeoLevel1 != null)
                                    {
                                        var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                @foreach (var GeoLevel1 in listGeoLevel1)
                                {
                                    if (CountrySelected == GeoLevel1.CountryID)
                                    {
                                <option value="@GeoLevel1.GeoLevel1ID">@CountrySelected @GeoLevel1.CountryID @GeoLevel1.GeoLevel1Name</option>}
                                                }}

                                </select>
                                <span asp-validation-for="GeoLevel1ID" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="StatusID" class="control-label"></label>
                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Status != null)
                                    {
                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                        @foreach (var Status in listStatus)
                        {
                    <option value="@Status.StatusID">@Status.StatusName</option>}}
                                </select>
                                <span asp-validation-for="StatusID" class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Direcci&Oacute;n</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            $("#CountryID").change(function () {
                @{ CountrySelected = 3; }
                console.log("siberia", @CountrySelected);
        });


        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    </environment>

}