﻿@model Angle.DTOs.ChargesByQuoteDTO

@{ ViewData["Title"] = "Create";

    @using Microsoft.AspNetCore.Http.Extensions
    string words = Context.Request.GetEncodedUrl();

    string[] ID = words.Split('/');
    int x = Int32.Parse(ID[5]);
    int SpecialCustomer = 0;
    int CantidadTarifas = 0;
}

<div class="content-heading">
    <div>
        Estatus
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Parametrizaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Estatus</a>
                    </li>
                </ol>
            </div>


            <div class="card-body">
                <form asp-action="Create" id="formEstatus" data-parsley-validate="" novalidate="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @if (ViewBag.Quote != null)
                    {
                        var listQuote = (IEnumerable<Angle.Models.Quote>)ViewBag.Quote;

                        @foreach (var Quote in listQuote)
                        {
                            if (x == @Quote.QuoteID)
                            {
                                @if (ViewBag.Customer != null)
                                {
                                    var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;

                                    @foreach (var Customer in listCustomer)
                                    {
                                        if (Customer.CustomerID == @Quote.CustomerID)
                                        {
                                            @if (ViewBag.ContractSpecial != null)
                                            {
                                                var listContractSpecial = (IEnumerable<Angle.Models.ContractSpecial>)ViewBag.ContractSpecial;

                                                @foreach (var ContractSpecial in listContractSpecial)
                                                {
                                                    if (Customer.CustomerID == ContractSpecial.CustomerID)
                                                    {
                                                        SpecialCustomer = 1;
                                                        @if (ViewBag.ContractSpecialSequence != null)
                                                        {
                                                            var listContractSpecialSequence = (IEnumerable<Angle.Models.ContractSpecialSequence>)ViewBag.ContractSpecialSequence;
                                                            SpecialCustomer = 1;

                                                            <table class="table table-striped my-4 w-100" id="datatable4Track">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Seleccione una tarifa</th>
                                                                        <th>Tipo de mercancia</th>
                                                                        <th>Tipo de servicio</th>
                                                                        <th>Aplicado por</th>
                                                                        <th>Unidad de medida</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @foreach (var ContractSpecialSequence in listContractSpecialSequence)
                                                                    {

                                                                        if (Customer.CustomerID == ContractSpecialSequence.CustomerID)
                                                                        {

                                                                            <tr>
                                                                                <td>
                                                                                    <div class="c-radio">
                                                                                        <label>
                                                                                            <input class="Tarifa" id="Tarifa-@ContractSpecialSequence.ContractSpecialSequenceID" type="radio" name="tarifa" value="@ContractSpecialSequence.ContractSpecialSequenceID" />
                                                                                            <span class="fa fa-check"></span>
                                                                                        </label>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>





                                                                            @if (ViewBag.ContractSpecialMeasury != null)
                                                                            {
                                                                                var listContractSpecialMeasury = (IEnumerable<Angle.Models.ContractSpecialMeasury>)ViewBag.ContractSpecialMeasury;

                                                                                @foreach (var ContractSpecialMeasury in listContractSpecialMeasury)
                                                                                {
                                                                                    if (ContractSpecialSequence.ContractSpecialSequenceID == ContractSpecialMeasury.ContractSpecialSequenceID)
                                                                                    {
                                                                                        CantidadTarifas++;
                                                                                        <div style="display:none">
                                                                                            <a>Minimo</a>
                                                                                            <input id="minimo-@CantidadTarifas" value="@ContractSpecialMeasury.Minimum" class="@ContractSpecialMeasury.MeasureUnitID" title="@ContractSpecialMeasury.MeasureUnitID" />
                                                                                            <a>Tarifa</a>
                                                                                            <input id="tarifa-@CantidadTarifas" value="@ContractSpecialMeasury.Tariff" class="@ContractSpecialMeasury.MeasureUnitID" title="@ContractSpecialMeasury.MeasureUnitID" />
                                                                                            <a>Unidad</a>
                                                                                            <input id="unidad-@CantidadTarifas" value="@ContractSpecialMeasury.MeasureUnitID" class="@ContractSpecialMeasury.MeasureUnitID" title="@ContractSpecialMeasury.MeasureUnitID" />


                                                                                        </div>
                                                                                    }

                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                    <input id="CantidadTarifas" value="@CantidadTarifas" hidden/>
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <th>Seleccione una tarifa</th>
                                                                        <th>Tipo de mercancia</th>
                                                                        <th>Tipo de servicio</th>
                                                                        <th>Aplicado por</th>
                                                                        <th>Unidad de medida</th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                            <input type="text" id="MerchandiseTypeID" name="MerchandiseTypeID" hidden />
                                                            <input type="text" id="ServiceTypeID" name="ServiceTypeID" hidden />
                                                            <input type="text" id="ApplyByID" name="ApplyByID" hidden />
                                                            <input type="text" id="MeasureUnitID" name="MeasureUnitID" hidden />
                                                            <input type="text" name="QuoteID" value="@x" hidden />

                                                            <div class="row">
                                                                <div class="col-12 col-lg-4" style="display:none;">
                                                                    <div class="form-group">
                                                                        <label class="control-label">Unidad de Medida ID</label>
                                                                        <input type="text" id="MeasureUnitIDSelected" name="MeasureUnitIDSelected" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-lg-4">
                                                                    <div class="form-group">
                                                                        <label asp-for="ValueCharge" class="control-label"></label>
                                                                        <input value="0" id="ValueCharge" name="ValueCharge" class="form-control" required />
                                                                        <span asp-validation-for="ValueCharge" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-lg-4">
                                                                    <div class="form-group">
                                                                        <label asp-for="Tariff" class="control-label"></label>
                                                                        <input type="text" id="Tariff" name="Tariff" class="form-control" readonly />
                                                                        <span asp-validation-for="Tariff" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }
                        @if (SpecialCustomer == 0)
                        {
                            <p>Este cliente no es especial</p>
                            @if (ViewBag.ContractSequence != null)
                            {
                                var listContractSequence = (IEnumerable<Angle.Models.ContractSequence>)ViewBag.ContractSequence;
                                <table class="table table-striped my-4 w-100" id="datatable4Track">
                                    <thead>
                                        <tr>
                                            <th>Seleccione una tarifa</th>
                                            <th>Tipo de mercancia</th>
                                            <th>Tipo de servicio</th>
                                            <th>Aplicado por</th>
                                            <th>Unidad de medida</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var ContractSequence in listContractSequence)
                                        {

                                                <tr>
                                                    <td>
                                                        <div class="c-radio">
                                                            <label>
                                                                <input class="Tarifa" id="Tarifa-@ContractSequence.ContractSequenceID" type="radio" name="tarifa" value="@ContractSequence.ContractSequenceID" />
                                                                <span class="fa fa-check"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>@ContractSequence.MerchandiseType.MerchandiseTypeName</td>
                                                    <input class="TipoMercancia-@ContractSequence.ContractSequenceID" value="@ContractSequence.MerchandiseType.MerchandiseTypeID" hidden />
                                                     </tr>





                                                @if (ViewBag.ContractMeasury != null)
                                                {
                                                    var listContractMeasury = (IEnumerable<Angle.Models.ContractMeasury>)ViewBag.ContractMeasury;

                                                    @foreach (var ContractMeasury in listContractMeasury)
                                                    {
                                                        if (ContractSequence.ContractSequenceID == ContractMeasury.ContractSequenceID)
                                                        {
                                                            CantidadTarifas++;
                                                            <div style="display:none">
                                                                <a>Minimo</a>
                                                                <input id="minimo-@CantidadTarifas" value="@ContractMeasury.Minimum" class="@ContractMeasury.MeasureUnitID" title="@ContractMeasury.MeasureUnitID" />
                                                                <a>Tarifa</a>
                                                                <input id="tarifa-@CantidadTarifas" value="@ContractMeasury.Tariff" class="@ContractMeasury.MeasureUnitID" title="@ContractMeasury.MeasureUnitID" />
                                                                <a>Unidad</a>
                                                                <input id="unidad-@CantidadTarifas" value="@ContractMeasury.MeasureUnitID" class="@ContractMeasury.MeasureUnitID" title="@ContractMeasury.MeasureUnitID" />

                                                            </div>
                                                        }

                                                    }
                                                }
                                            }
                                        <input id="CantidadTarifas" value="@CantidadTarifas" hidden/>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Seleccione una tarifa</th>
                                            <th>Tipo de mercancia</th>
                                            <th>Tipo de servicio</th>
                                            <th>Aplicado por</th>
                                            <th>Unidad de medida</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <input type="text" id="MerchandiseTypeID" name="MerchandiseTypeID" hidden />
                                <input type="text" id="ServiceTypeID" name="ServiceTypeID" hidden />
                                <input type="text" id="ApplyByID" name="ApplyByID" hidden />
                                <input type="text" id="MeasureUnitID" name="MeasureUnitID" hidden />
                                <input type="text" name="QuoteID" value="@x" hidden />

                                <div class="row">
                                    <div class="col-12 col-lg-4" style="display:none;">
                                        <div class="form-group">
                                            <label class="control-label">Unidad de Medida</label>
                                            <input type="text" id="MeasureUnitIDSelected" name="MeasureUnitIDSelected" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="ValueCharge" class="control-label"></label>
                                            <input value="0" id="ValueCharge" name="ValueCharge" class="form-control" required />
                                            <span asp-validation-for="ValueCharge" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="Tariff" class="control-label"></label>
                                            <input type="text" id="Tariff" name="Tariff" class="form-control" readonly />
                                            <span asp-validation-for="Tariff" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Estatus</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

        </script>
        <script>

            
            $('.Tarifa').on('change', function () {
                var ele = document.getElementsByName('tarifa');
                for (i = 0; i < ele.length; i++) {
                    if (ele[i].type = "radio") {
                        if (ele[i].checked)
                            var item = ele[i].value; 
                            $('#MerchandiseTypeID').val($('.TipoMercancia-'+item).val());
                            $('#ServiceTypeID').val($('.TipoServicio-' + item).val());
                            $('#ApplyByID').val($('.AplicadoPor-' + item).val());
                            $('#MeasureUnitID').val($('.UnidadMedida-' + item).val());
                            $('#MeasureUnitIDSelected').val($('.UnidadMedida-' + item).val());
                            
                    }
                }
            });    MeasureUnitIDSelected
            var CantidadTarifas = $('#CantidadTarifas').val();
            $('#ValueCharge').on('change', function () {
                var tarifa;
                for (var i = 1; i <= CantidadTarifas; i++) {
                    if ($('#ValueCharge').val() >= $('input[title="' + $('#MeasureUnitIDSelected').val() + '"]#minimo-' + i + '').val()) {
                       tarifa = $('#tarifa-' + i).val();
                    } 
                }
                $('#Tariff').val(tarifa);

            });


            
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

        </script>
        <script>


            $('.Tarifa').on('change', function () {
                var ele = document.getElementsByName('tarifa');
                for (i = 0; i < ele.length; i++) {
                    if (ele[i].type = "radio") {
                        if (ele[i].checked)
                            var item = ele[i].value;
                        $('#MerchandiseTypeID').val($('.TipoMercancia-' + item).val());
                        $('#ServiceTypeID').val($('.TipoServicio-' + item).val());
                        $('#ApplyByID').val($('.AplicadoPor-' + item).val());
                        $('#MeasureUnitID').val($('.UnidadMedida-' + item).val());
                        $('#MeasureUnitIDSelected').val($('.UnidadMedida-' + item).val());

                    }
                }
            }); MeasureUnitIDSelected
            var CantidadTarifas = $('#CantidadTarifas').val();
            $('#ValueCharge').on('change', function () {
                var tarifa;
                for (var i = 1; i <= CantidadTarifas; i++) {
                    //alert("Valor: " + $('#ValueCharge').val() + " Menu " + $('input[title="' + $('#MeasureUnitIDSelected').val() + '"]#minimo-' + i + '').val() + " Tarifa: " + $('#tarifa-' + i).val());
                    if ($('#ValueCharge').val() >= $('input[title="' + $('#MeasureUnitIDSelected').val() + '"]#minimo-' + i + '').val()) {
                        tarifa = $('#tarifa-' + i).val();
                    }
                }
                $('#Tariff').val(tarifa);

            });



        </script>
    </environment>

}
