﻿@model Angle.DTOs.ContractSpecialDTO

@{ ViewData["Title"] = "Create"; }

<div class="content-heading">
    <div>
        Agregar Tarifas especiales
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Parametrizaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Tarifas especiales</a>
                    </li>
                </ol>
            </div>


            <div class="card-body">
                <form asp-action="Create" id="formTarifaRegular" data-parsley-validate="" novalidate="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="CustomerID" class="control-label"></label>
                                <select asp-for="CustomerID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Customer != null)
                                    {
                                        var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;

                                        @foreach (var Customer in listCustomer)
                                        {
                                            <option value="@Customer.CustomerID">@Customer.CompanyName</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="CustomerID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="ServiceTypeID" class="control-label"></label>
                                <select asp-for="ServiceTypeID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.ServiceType != null)
                                    {
                                        var listServiceType = (IEnumerable<Angle.Models.ServiceType>)ViewBag.ServiceType;

                                        @foreach (var ServiceType in listServiceType)
                                        {
                                            <option value="@ServiceType.ServiceTypeID">@ServiceType.ServiceTypeName</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="ServiceTypeID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="ContractSpecialDescription" class="control-label"></label>
                                <input asp-for="ContractSpecialDescription" class="form-control" required/>
                                <span asp-validation-for="ContractSpecialDescription" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="EffectiveDate" class="control-label"></label>
                                <input asp-for="EffectiveDate" class="form-control" required/>
                                <span asp-validation-for="EffectiveDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="ExpirationDate" class="control-label"></label>
                                <input asp-for="ExpirationDate" class="form-control" required/>
                                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="StatusID" class="control-label"></label>
                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Status != null)
                                    {
                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                                        @foreach (var Status in listStatus)
                                        {
                                            <option value="@Status.StatusID">@Status.StatusName</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="StatusID" class="text-danger"></span>
                            </div>
                        </div>



                    </div>    
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Tarifas regulares</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<environment names="Development">
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');

    </script>
</environment>
<environment names="Staging,Production">
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');

    </script>
</environment>

}
