﻿@model Angle.DTOs.ContractSpecialDTO

@using Microsoft.AspNetCore.Http.Extensions
@{ ViewData["Title"] = "Edit";

    string words1 = Context.Request.GetEncodedUrl();

    string[] ID1 = words1.Split('/');
    int IDTarifa = Int32.Parse(ID1[5]); }

<div class="content-heading">
    <div>
        Editar Tarifa Especial
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div id="accordion">

    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Editar Tarifa
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card card-default">
                            <div class="card-header">
                                <ol class="breadcrumb breadcrumb px-0 pb-0">
                                    <li class="breadcrumb-item">
                                        <a href="#">Operaci&oacute;n</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="">Tarifa Regular</a>
                                    </li>
                                </ol>
                            </div>


                            <div class="card-body">
                                <form asp-action="Edit" data-parsley-validate="" novalidate="">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="ContractSpecialID" />
                                    <div class="row">
                                        <div class="col-12 col-lg-2">
                                            <div class="form-group">
                                                <label asp-for="CustomerID" class="control-label"></label>
                                                <select asp-for="CustomerID" class="form-control form-control-lg" disabled>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Customer != null)
                                                    {
                                                        var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;

                                                        @foreach (var Customer in listCustomer)
                                                        {
                                                            <option value="@Customer.CustomerID">@Customer.CompanyName</option>
                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="CustomerID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-2">
                                            <div class="form-group">
                                                <label asp-for="ServiceTypeID" class="control-label"></label>
                                                <select asp-for="ServiceTypeID" class="form-control form-control-lg" disabled>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.ServiceType != null)
                                                    {
                                                        var listServiceType = (IEnumerable<Angle.Models.ServiceType>)ViewBag.ServiceType;

                                                        @foreach (var ServiceType in listServiceType)
                                                        {
                                                            <option value="@ServiceType.ServiceTypeID">@ServiceType.ServiceTypeName</option>

                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="ServiceTypeID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-2">
                                            <div class="form-group">
                                                <label asp-for="ContractSpecialDescription" class="control-label"></label>
                                                <input asp-for="ContractSpecialDescription" class="form-control" required />
                                                <span asp-validation-for="ContractSpecialDescription" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-2">
                                            <div class="form-group">
                                                <label asp-for="EffectiveDate" class="control-label"></label>
                                                <input asp-for="EffectiveDate" class="form-control" required />
                                                <span asp-validation-for="EffectiveDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-2">
                                            <div class="form-group">
                                                <label asp-for="ExpirationDate" class="control-label"></label>
                                                <input asp-for="ExpirationDate" class="form-control" required />
                                                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-2">
                                            <div class="form-group">
                                                <label asp-for="StatusID" class="control-label"></label>
                                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Status != null)
                                                    {
                                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                                                        @foreach (var Status in listStatus)
                                                        {
                                                            <option value="@Status.StatusID">@Status.StatusName</option>
                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="StatusID" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <center><input type="submit" value="Guardar" class="btn btn-primary" /></center>
                                    </div>
                                </form>
                                <hr />
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="card">
                                            <div class="card-header">
                                                <div id="importar">
                                                    <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#ModalImportar">Importar tarifas</button>
                                                </div>
                                                <div id="botones" class="botones">
                                                    <a id="crearTarifaHistorico">
                                                        <button class="btn btn-primary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button">
                                                            <span>Crear</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <table class="table table-striped my-4 w-100" id="datatable4Track">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Cliente</th>
                                                            <th>Origen</th>
                                                            <th>Destino</th>
                                                            <th>Peso m&iacute;nimo (Lb)</th>
                                                            <th>Costo por peso m&iacute;nimo (Lb)</th>
                                                            <th>Costo por peso adicional (Lb)</th>
                                                            <th>Tipo de mercanc&iacute;a</th>
                                                            <th>Modalidad de entrega</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.ContractSpecialSequence != null)
                                                        {

                                                            var listContractSpecialSequence = (IEnumerable<Angle.Models.ContractSpecialSequence>)ViewBag.ContractSpecialSequence;


                                                            @foreach (var itemContractSpecialSequence in listContractSpecialSequence)
                                                            {
                                                                @if (itemContractSpecialSequence.ContractSpecialID == IDTarifa)
                                                                {

                                                                    <tr>

                                                                        <td>
                                                                            <a href="/ContractSpecialSequence/Edit/@itemContractSpecialSequence.ContractSpecialSequenceID" class="text-muted">
                                                                                <i class="fas fa-pencil-alt"></i>
                                                                            </a>
                                                                            <a OnClick="eliminarRegistro(@itemContractSpecialSequence.ContractSpecialSequenceID)" class="text-muted">
                                                                                <i class="fas fa-times"></i>
                                                                            </a>
                                                                        </td>
                                                                        @if (ViewBag.Customer != null)
                                                                        {

                                                                            var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;


                                                                            @foreach (var itemCustomer in listCustomer)
                                                                            {

                                                                                @if (itemContractSpecialSequence.CustomerID == itemCustomer.CustomerID)
                                                                                {
                                                                                    <td><p>@Html.DisplayFor(modelItem => itemCustomer.CompanyName)</p> <p>@Html.DisplayFor(modelItem => itemCustomer.FirstName) @Html.DisplayFor(modelItem => itemCustomer.LastName)</p></td>
                                                                                }
                                                                            }
                                                                        }
                                                                        @if (@Model.ServiceTypeID == 1 || @Model.ServiceTypeID == 3)
                                                                        {
                                                                            @if (ViewBag.GeoLevel1 != null)
                                                                            {

                                                                                var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;




                                                                                @foreach (var itemGeoLevel1 in listGeoLevel1)
                                                                                {
                                                                                    @if (itemContractSpecialSequence.OriginID == itemGeoLevel1.GeoLevel1ID)
                                                                                    {
                                                                                        <td> @Html.DisplayFor(modelItem => itemGeoLevel1.GeoLevel1Name) - @Html.DisplayFor(modelItem => itemGeoLevel1.GeoLevel1Title) </td>
                                                                                    }


                                                                                }

                                                                                @foreach (var itemGeoLevel1 in listGeoLevel1)
                                                                                {

                                                                                    @if (itemContractSpecialSequence.DestinationID == itemGeoLevel1.GeoLevel1ID)
                                                                                    {
                                                                                        <td> @Html.DisplayFor(modelItem => itemGeoLevel1.GeoLevel1Name) - @Html.DisplayFor(modelItem => itemGeoLevel1.GeoLevel1Title) </td>
                                                                                    }


                                                                                }



                                                                            }
                                                                        }
                                                                        else if (@Model.ServiceTypeID == 2)
                                                                        {
                                                                            @if (ViewBag.Warehouse != null)
                                                                            {

                                                                                var listWarehouse = (IEnumerable<Angle.Models.Warehouse>)ViewBag.Warehouse;


                                                                                @foreach (var itemWarehouse in listWarehouse)
                                                                                {

                                                                                    @if (itemContractSpecialSequence.OriginID == itemWarehouse.WarehouseID)
                                                                                    {
                                                                                        <td>@Html.DisplayFor(modelItem => itemWarehouse.WarehouseName)</td>
                                                                                    }
                                                                                    @if (itemContractSpecialSequence.DestinationID == itemWarehouse.WarehouseID)
                                                                                    {
                                                                                        <td>@Html.DisplayFor(modelItem => itemWarehouse.WarehouseName)</td>
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                        <td>@Html.DisplayFor(modelItem => itemContractSpecialSequence.WeightMin)</td>
                                                                        <td>@Html.DisplayFor(modelItem => itemContractSpecialSequence.BasePrice)</td>
                                                                        <td>@Html.DisplayFor(modelItem => itemContractSpecialSequence.ExtraPrice)</td>
                                                                        @if (ViewBag.MerchandiseType != null)
                                                                        {

                                                                            var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;


                                                                            @foreach (var itemMerchandiseType in listMerchandiseType)
                                                                            {

                                                                                @if (itemContractSpecialSequence.MerchandiseTypeID == itemMerchandiseType.MerchandiseTypeID)
                                                                                {
                                                                                    <td>@Html.DisplayFor(modelItem => itemMerchandiseType.MerchandiseTypeName)</td>
                                                                                }
                                                                            }
                                                                        }
                                                                        @if (ViewBag.DeliveryMode != null)
                                                                        {

                                                                            var listDeliveryMode = (IEnumerable<Angle.Models.DeliveryMode>)ViewBag.DeliveryMode;


                                                                            @foreach (var itemDeliveryMode in listDeliveryMode)
                                                                            {

                                                                                @if (itemContractSpecialSequence.DeliveryModeID == itemDeliveryMode.DeliveryModeID)
                                                                                {
                                                                                    <td>@Html.DisplayFor(modelItem => itemDeliveryMode.DeliveryModeName)</td>
                                                                                }
                                                                            }
                                                                        }
                                                                    </tr>
                                                                }
                                                            }
                                                        }

                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th></th>
                                                            <th>Cliente</th>
                                                            <th>Origen</th>
                                                            <th>Destino</th>
                                                            <th>Peso m&iacute;nimo (Lb)</th>
                                                            <th>Costo por peso m&iacute;nimo (Lb)</th>
                                                            <th>Costo por peso adicional (Lb)</th>
                                                            <th>Tipo de mercanc&iacute;a</th>
                                                            <th>Modalidad de entrega</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>



                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <a asp-action="Index">Listar Tarifa Especial</a>
</div>


@section BodyArea {
    <!-- Modals must be declare at body level so the content overlaps the background-->
    <!-- Modal Large-->
    <div class="modal fade" id="ModalImportar" tabindex="-1" role="dialog" aria-labelledby="ModalImportar" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" asp-controller="ContractSpecial" asp-action="Import" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title" id="ModalImportarLabel">Importar clientes</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-12 col-form-label">Seleccione un archivo .csv</label>
                            <div class="col-md-12">
                                <input class="form-control filestyle" type="file" name="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr-2'&gt;&lt;/span&gt;">
                                <input hidden name="ContractSpecialID" value="@Model.ContractSpecialID">
                                <input hidden name="CustomerID" value="@Model.CustomerID">
                                <br />
                                <center>
                                    <a href="http://cpsqa.4track.tk/files/ImportarTarifasPlantilla.xlsx" download="PlantillaTarifas" class="btn btn-primary">Descargar Plantilla</a>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primary" type="submit">
                            Importar</buttonclass="btn>
                            <!--<button class="btn btn-primary" type="submit" data-dismiss="modal" data-notify="" data-message="¡Se han añadido los choferes con éxito!" data-options="{&quot;status&quot;:&quot;success&quot;, &quot;pos&quot;:&quot;bottom-right&quot;}">Importar archivo</button>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<style type="text/css">

    #botones {
        float: right;
    }

    #importar {
        float: left;
    }

    .table > thead > tr > th {
        padding: 14px 8px;
        color: #a51717 !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }

    .table > tfoot > tr > th {
        padding: 14px 8px;
        color: #a51717 !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }
</style>
@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">
        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

        </script>
        <script type="text/javascript">
            var pathname = window.location.pathname;
            var vars = pathname.split("/");
            $('#crearTarifaHistorico').attr('href', 'http://cpsqa.4track.tk/ContractSpecialSequence/Create/' + vars[3]);
            $('#ListarTarifas').attr('href', 'http://cpsqa.4track.tk/ContractSpecial/Index/');
        </script>
        <script>

            function eliminarRegistro(id) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/ContractSpecialSequence/Delete/" + id;
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

        </script>
        <script type="text/javascript">
            var pathname = window.location.pathname;
            var vars = pathname.split("/");
            $('#crearTarifaHistorico').attr('href', 'http://cpsqa.4track.tk/ContractSpecialSequence/Create/' + vars[3]);
            $('#ListarTarifas').attr('href', 'http://cpsqa.4track.tk/ContractSpecial/Index/');
        </script>
        <script>

            function eliminarRegistro(id) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/ContractSpecialSequence/Delete/" + id;
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }
        </script>
    </environment>

}