﻿@model Angle.DTOs.CustomerDTO

@{ ViewData["Title"] = "Create"; }

<div class="content-heading">
    <div>
        Cliente
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Operaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Cliente</a>
                    </li>
                </ol>
            </div>


            <div class="card-body">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#informacionGeneral" aria-controls="informacionGeneral" role="tab" data-toggle="tab">Informaci&oacute;n General</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#contactos" aria-controls="contactos" role="tab" data-toggle="tab">Contactos</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#direccion" aria-controls="direccion" role="tab" data-toggle="tab">Direccion</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#documentos" aria-controls="documentos" role="tab" data-toggle="tab">Documentos</a></li>
                    </ul><!-- Tab panes-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="informacionGeneral" role="tabpanel">
                            <div class="col-lg-12">
                                <form asp-action="Create" id="formCustomer" data-parsley-validate="" novalidate="">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="DivisionID" class="control-label"></label>
                                                <select asp-for="DivisionID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Division != null)
                                                    {
                                                        var listDivision = (IEnumerable<Angle.Models.Division>)ViewBag.Division;

                                        @foreach (var Division in listDivision)
                                        {
                                    <option value="@Division.DivisionID">@Division.DivisionName</option>}}
                                                </select>
                                                <span asp-validation-for="DivisionID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CustomerTypeID" class="control-label"></label>
                                                <select asp-for="CustomerTypeID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.CustomerType != null)
                                                    {
                                                        var listCustomerType = (IEnumerable<Angle.Models.CustomerType>)ViewBag.CustomerType;

                                        @foreach (var CustomerType in listCustomerType)
                                        {
                                    <option value="@CustomerType.CustomerTypeID">@CustomerType.CustomerTypeName</option>}}
                                                </select>
                                                <span asp-validation-for="CustomerTypeID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="StatusID" class="control-label"></label>
                                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Status != null)
                                                    {
                                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                                        @foreach (var Status in listStatus)
                                        {
                                    <option value="@Status.StatusID">@Status.StatusName</option>}}
                                                </select>
                                                <span asp-validation-for="StatusID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label><input type="checkbox" class="EsEmpresa" id="EsEmpresa"> ¿Es una empresa?</label><br>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="DocumentTypeID" class="control-label"></label>
                                                <select asp-for="DocumentTypeID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.DocumentType != null)
                                                    {
                                                        var listDocumentType = (IEnumerable<Angle.Models.DocumentType>)ViewBag.DocumentType;

                                        @foreach (var DocumentType in listDocumentType)
                                        {
                            <option value="@DocumentType.DocumentTypeID">@DocumentType.DocumentTypeName</option>}}
                                                </select>
                                                <span asp-validation-for="DocumentTypeID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="Document" class="control-label"></label>
                                                <input asp-for="Document" class="form-control" required />
                                                <span asp-validation-for="Document" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6" >
                                            <div class="form-group" id="CompanyNameDiv" >
                                                <label asp-for="CompanyName" class="control-label"></label>
                                                <input asp-for="CompanyName" id="CompanyName" class="form-control" required />
                                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6" >
                                            <div class="form-group" id="FirstNameDiv">
                                                <label asp-for="FirstName" class="control-label"></label>
                                                <input asp-for="FirstName" id="FirstName" class="form-control" required />
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6" >
                                            <div class="form-group" id="LastNameDiv">
                                                <label asp-for="LastName" class="control-label"></label>
                                                <input asp-for="LastName" id="LastName" class="form-control" required />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="AccountID" class="control-label"></label>
                                                <select asp-for="AccountID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Account != null)
                                                    {
                                                        var listAccount = (IEnumerable<Angle.Models.Account>)ViewBag.Account;

                                        @foreach (var Account in listAccount)
                                        {
                            <option value="@Account.AccountID">@Account.CreditLimit</option>}}
                                                </select>
                                                <span asp-validation-for="AccountID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="AccountTypeID" class="control-label"></label>
                                                <select asp-for="AccountTypeID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.AccountType != null)
                                                    {
                                                        var listAccountType = (IEnumerable<Angle.Models.AccountType>)ViewBag.AccountType;

                                        @foreach (var AccountType in listAccountType)
                                        {
                            <option value="@AccountType.AccountTypeID">@AccountType.AccountTypeName</option>}}
                                                </select>
                                                <span asp-validation-for="AccountTypeID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="SalesPersonID" class="control-label"></label>
                                                <select asp-for="SalesPersonID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.SalesPerson != null)
                                                    {
                                                        var listSalesPerson = (IEnumerable<Angle.Models.SalesPerson>)ViewBag.SalesPerson;

                                        @foreach (var SalesPerson in listSalesPerson)
                                        {
                            <option value="@SalesPerson.SalesPersonID">@SalesPerson.SalesPersonName</option>}}
                                                </select>
                                                <span asp-validation-for="SalesPersonID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="MainPhone" class="control-label"></label>
                                                <input asp-for="MainPhone" class="form-control" maxlength="10" required />
                                                <span asp-validation-for="MainPhone" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="SecondPhone" class="control-label"></label>
                                                <input asp-for="SecondPhone" maxlength="10" class="form-control" />
                                                <span asp-validation-for="SecondPhone" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" required />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CreateDateTransaction" class="control-label"></label>
                                                <input name="CreateDateTransaction" id="CreateDateTransaction" class="form-control"  readonly />
                                                <span asp-validation-for="CreateDateTransaction" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CreateUserTransaction" class="control-label"></label>
                                                <input asp-for="CreateUserTransaction" class="form-control" value="Siberia Gonzalez" readonly />
                                                <span asp-validation-for="CreateUserTransaction" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                    </div>
</form>
                            </div>
                        </div>
                        <div class="tab-pane " id="contactos" role="tabpanel">
                            <div class="col-lg-12">
                                Debe registrar el cliente para asignarle un contacto
                            </div>
                        </div>
                        <div class="tab-pane " id="direccion" role="tabpanel">
                            <div class="col-lg-12">
                                Debe registrar el cliente para asignarle una direccion
                            </div>
                        </div>
                        <div class="tab-pane " id="documentos" role="tabpanel">
                            <div class="col-lg-12">
                                Debe registrar el cliente para asignarle un documento
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Clientes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<environment names="Development">
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/vendor/flot/jquery.flot.js"></script>
    <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
    <script src="~/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/vendor/flot/jquery.flot.time.js"></script>
    <script src="~/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
    <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
    <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/vendor/moment/min/moment-with-locales.js"></script>
    <script>

        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        $("#CreateDateTransaction").val(today);

    </script>
    <script>
        $("#EsEmpresa").change(function () {
            if ($('input.EsEmpresa').is(':checked')) {
                $("#CompanyNameDiv").show();
                $("#FirstNameDiv").hide();
                $("#LastNameDiv").hide();
                $("#FirstName").val('N/A');
                $("#LastName").val('N/A');
                $("#CompanyName").val('');
            } else {
                $("#CompanyNameDiv").hide();
                $("#FirstNameDiv").show();
                $("#LastNameDiv").show();
                $("#CompanyNameDiv").hide();
                $("#CompanyName").val('N/A');
                $("#FirstName").val('');
                $("#LastName").val('');
            }
        });

        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');
    </script>
</environment>
<environment names="Staging,Production">
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/vendor/flot/jquery.flot.js"></script>
    <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
    <script src="~/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/vendor/flot/jquery.flot.time.js"></script>
    <script src="~/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
    <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
    <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/vendor/moment/min/moment-with-locales.js"></script>
    <script>

        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        $("#CreateDateTransaction").val(today);

    </script>
    <script>
        $("#EsEmpresa").change(function () {
            if ($('input.EsEmpresa').is(':checked')) {
                $("#CompanyNameDiv").show();
                $("#FirstNameDiv").hide();
                $("#LastNameDiv").hide();
                $("#FirstName").val('N/A');
                $("#LastName").val('N/A');
                $("#CompanyName").val('');
            } else {
                $("#CompanyNameDiv").hide();
                $("#FirstNameDiv").show();
                $("#LastNameDiv").show();
                $("#CompanyNameDiv").hide();
                $("#CompanyName").val('N/A');
                $("#FirstName").val('');
                $("#LastName").val('');
            }
        });

        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');
    </script>
</environment>

}
