﻿@model Angle.DTOs.CustomerDTO
@using Microsoft.AspNetCore.Http.Extensions
@{ ViewData["Title"] = "Edit";
}

<div class="content-heading">
    <div>
        Cliente
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Operaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Cliente</a>
                    </li>
                </ol>
            </div>

            <div class="card-body">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#informacionGeneral" aria-controls="informacionGeneral" role="tab" data-toggle="tab">Informaci&oacute;n General</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#contactos" aria-controls="contactos" role="tab" data-toggle="tab">Contactos</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#direccion" aria-controls="direccion" role="tab" data-toggle="tab">Direccion</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#documentos" aria-controls="documentos" role="tab" data-toggle="tab">Documentos</a></li>
                    </ul><!-- Tab panes-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="informacionGeneral" role="tabpanel">
                            <div class="col-lg-12">
                                <form asp-action="Edit" data-parsley-validate="" novalidate="">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="CustomerID" />
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="DivisionID" class="control-label"></label>
                                                <select asp-for="DivisionID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Division != null)
                                                    {
                                                        var listDivision = (IEnumerable<Angle.Models.Division>)ViewBag.Division;

                                                        @foreach (var Division in listDivision)
                                                        {
                                                            <option value="@Division.DivisionID">@Division.DivisionName</option>
                                                        }}
                                                </select>
                                                <span asp-validation-for="DivisionID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CustomerTypeID" class="control-label"></label>
                                                <select asp-for="CustomerTypeID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.CustomerType != null)
                                                    {
                                                        var listCustomerType = (IEnumerable<Angle.Models.CustomerType>)ViewBag.CustomerType;

                                                        @foreach (var CustomerType in listCustomerType)
                                                        {
                                                            <option value="@CustomerType.CustomerTypeID">@CustomerType.CustomerTypeName</option>
                                                        }}
                                                </select>
                                                <span asp-validation-for="CustomerTypeID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="StatusID" class="control-label"></label>
                                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Status != null)
                                                    {
                                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                                                        @foreach (var Status in listStatus)
                                                        {
                                                            <option value="@Status.StatusID">@Status.StatusName</option>
                                                        }}
                                                </select>
                                                <span asp-validation-for="StatusID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label><input type="checkbox" class="EsEmpresa" id="EsEmpresa"> ¿Es una empresa?</label><br>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="DocumentTypeID" class="control-label"></label>
                                                <select asp-for="DocumentTypeID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.DocumentType != null)
                                                    {
                                                        var listDocumentType = (IEnumerable<Angle.Models.DocumentType>)ViewBag.DocumentType;

                                                        @foreach (var DocumentType in listDocumentType)
                                                        {
                                                            <option value="@DocumentType.DocumentTypeID">@DocumentType.DocumentTypeName</option>
                                                        }}
                                                </select>
                                                <span asp-validation-for="DocumentTypeID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="Document" class="control-label"></label>
                                                <input asp-for="Document" class="form-control" required />
                                                <span asp-validation-for="Document" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group" id="CompanyNameDiv">
                                                <label asp-for="CompanyName" class="control-label"></label>
                                                <input asp-for="CompanyName" id="CompanyName" class="form-control" required />
                                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group" id="FirstNameDiv">
                                                <label asp-for="FirstName" class="control-label"></label>
                                                <input asp-for="FirstName" id="FirstName" class="form-control" required />
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group" id="LastNameDiv">
                                                <label asp-for="LastName" class="control-label"></label>
                                                <input asp-for="LastName" id="LastName" class="form-control" required />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="AccountID" class="control-label"></label>
                                                <select asp-for="AccountID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.Account != null)
                                                    {
                                                        var listAccount = (IEnumerable<Angle.Models.Account>)ViewBag.Account;

                                                        @foreach (var Account in listAccount)
                                                        {
                                                            <option value="@Account.AccountID">@Account.CreditLimit</option>
                                                        }}
                                                </select>
                                                <span asp-validation-for="AccountID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="AccountTypeID" class="control-label"></label>
                                                <select asp-for="AccountTypeID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.AccountType != null)
                                                    {
                                                        var listAccountType = (IEnumerable<Angle.Models.AccountType>)ViewBag.AccountType;

                                                        @foreach (var AccountType in listAccountType)
                                                        {
                                                            <option value="@AccountType.AccountTypeID">@AccountType.AccountTypeName</option>
                                                        }}
                                                </select>
                                                <span asp-validation-for="AccountTypeID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="SalesPersonID" class="control-label"></label>
                                                <select asp-for="SalesPersonID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>
                                                    @if (ViewBag.SalesPerson != null)
                                                    {
                                                        var listSalesPerson = (IEnumerable<Angle.Models.SalesPerson>)ViewBag.SalesPerson;

                                                        @foreach (var SalesPerson in listSalesPerson)
                                                        {
                                                            <option value="@SalesPerson.SalesPersonID">@SalesPerson.SalesPersonName</option>
                                                        }}
                                                </select>
                                                <span asp-validation-for="SalesPersonID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="MainPhone" class="control-label"></label>
                                                <input asp-for="MainPhone" maxlength="10" class="form-control" required />
                                                <span asp-validation-for="MainPhone" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="SecondPhone" class="control-label"></label>
                                                <input asp-for="SecondPhone" maxlength="10" class="form-control" />
                                                <span asp-validation-for="SecondPhone" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" required />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CreateDateTransaction" class="control-label"></label>
                                                <input name="CreateDateTransaction" id="CreateDateTransaction" class="form-control" readonly />
                                                <span asp-validation-for="CreateDateTransaction" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CreateUserTransaction" class="control-label"></label>
                                                <input asp-for="CreateUserTransaction" class="form-control" value="Siberia Gonzalez" readonly />
                                                <span asp-validation-for="CreateUserTransaction" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane " id="contactos" role="tabpanel">
                            <div class="card">
                                <div class="card-header">
                                    <div id="importar">
                                        <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#ModalImportar">Importar contactos</button>
                                    </div>
                                    <div id="botones" class="botones">
                                        <a id="agregarContacto" class="text-muted">
                                            <button class="btn btn-primary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button">
                                                <span>Crear</span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped my-4 w-100" id="datatable4Track">
                                        <thead>
                                            <tr>
                                                <th>Acciones</th>
                                                <th>Nombres</th>
                                                <th>Apellido</th>
                                                <th>Cargo</th>
                                                <th>Tel&eacute;fono principal</th>
                                                <th>Celular</th>
                                                <th>Correo electr&Oacute;nico</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.HistoricContact)
                                            {
                                                string words = Context.Request.GetEncodedUrl();

                                                string[] ID = words.Split('/');
                                                int x = Int32.Parse(ID[5]);
                                                @if (item.CustomerID == x)
                                                {
                                                    <tr>
                                                        <td>
                                                            <a OnClick="editarContacto(@item.ContactID)" class="text-muted">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <a OnClick="eliminarContacto(@item.ContactID)" class="text-muted">
                                                                <i class="fas fa-times"></i>
                                                            </a>
                                                        </td>
                                                        <td>@item.ContactName</td>
                                                        <td>@item.ContactLastName</td>
                                                        <td>@item.ContactPosition</td>
                                                        <td>@item.ContactMainPhone</td>
                                                        <td>@item.ContactCellPhone</td>
                                                        <td>@item.ContactMail</td>
                                                        @if (ViewBag.Status != null)
                                                        {

                                                            var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;


                                                            @foreach (var itemStatus in listStatus)
                                                            {

                                                                @if (item.StatusID == itemStatus.StatusID)
                                                                {
                                                                    <td><a class="badge badge-@Html.DisplayFor(modelItem => itemStatus.StatusColor)">@Html.DisplayFor(modelItem => itemStatus.StatusName)</a></td>
                                                                }
                                                            }
                                                        }
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Acciones</th>
                                                <th>Nombres</th>
                                                <th>Apellido</th>
                                                <th>Cargo</th>
                                                <th>Tel&eacute;fono principal</th>
                                                <th>Celular</th>
                                                <th>Correo electr&Oacute;nico</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="direccion" role="tabpanel">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div id="importar">
                                            <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#ModalImportarDirecciones">Importar direcciones</button>
                                        </div>
                                        <div id="botones" class="botones">
                                            <a id="agregarDireccion" class="text-muted">
                                                <button class="btn btn-primary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button">
                                                    <span>Crear</span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped my-4 w-100" id="datatable4Track">
                                            <thead>
                                                <tr>
                                                    <th>Acciones</th>
                                                    <th>Tipo direcci&oacute;n</th>
                                                    <th>Direcci&oacute;n</th>
                                                    <th>Ubicación</th>
                                                    <th>C&oacute;digo Postal</th>
                                                    <th>Estatus</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.HistoricAddress)
                                                {
                                                    string words = Context.Request.GetEncodedUrl();

                                                    string[] ID = words.Split('/');
                                                    int x = Int32.Parse(ID[5]);
                                                    @if (item.CustomerID == x)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a OnClick="editarDireccion(@item.AddressID)" class="text-muted">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </a>
                                                                <a OnClick="eliminarDireccion(@item.AddressID)" class="text-muted">
                                                                    <i class="fas fa-times"></i>
                                                                </a>
                                                            </td>
                                                            <td>@item.AddressTypeID</td>
                                                            <td>@item.AddressName</td>
                                                            @if (ViewBag.GeoLevel1 != null)
                                                            {

                                                                var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;


                                                                @foreach (var itemGeoLevel1 in listGeoLevel1)
                                                                {

                                                                    @if (item.GeoLevel1ID == itemGeoLevel1.GeoLevel1ID)
                                                                    {
                                                                        <td>@Html.DisplayFor(modelItem => itemGeoLevel1.GeoLevel1Name)</td>
                                                                    }
                                                                }
                                                            }
                                                            <td>@item.PostalCode</td>
                                                            @if (ViewBag.Status != null)
                                                            {

                                                                var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;


                                                                @foreach (var itemStatus in listStatus)
                                                                {

                                                                    @if (item.StatusID == itemStatus.StatusID)
                                                                    {
                                                                        <td><a class="badge badge-@Html.DisplayFor(modelItem => itemStatus.StatusColor)">@Html.DisplayFor(modelItem => itemStatus.StatusName)</a></td>
                                                                    }
                                                                }
                                                            }
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Acciones</th>
                                                    <th>Tipo direcci&oacute;n</th>
                                                    <th>Direcci&oacute;n</th>
                                                    <th>Ubicación</th>
                                                    <th>C&oacute;digo Postal</th>
                                                    <th>Estatus</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="documentos" role="tabpanel">
                            <div class="col-lg-12">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div id="botones" class="botones">
                                                <a id="agregarDocumento" class="text-muted">
                                                    <button class="btn btn-primary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button">
                                                        <span>Crear</span>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-striped my-4 w-100" id="datatable4Track">
                                                <thead>
                                                    <tr>
                                                        <th>ID Documento</th>
                                                        <th>Fecha de ingreso</th>
                                                        <th>Nombre</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @if (ViewBag.DocumentUpload != null)
                                                    {

                                                        var listDocumentUpload = (IEnumerable<Angle.Models.DocumentUpload>)ViewBag.DocumentUpload;


                                                        @foreach (var itemDocumentUpload in listDocumentUpload)
                                                        {
                                                            string words = Context.Request.GetEncodedUrl();

                                                            string[] ID = words.Split('/');
                                                            int IDModulo = Int32.Parse(ID[5]);
                                                            string Modulo = ID[3];
                                                            @if (itemDocumentUpload.ModuleID == IDModulo && itemDocumentUpload.Module == Modulo)
                                                            {
                                                                <tr>
                                                                    <td>@Html.DisplayFor(modelItem => itemDocumentUpload.DocumentUploadID)</td>
                                                                    <td>@Html.DisplayFor(modelItem => itemDocumentUpload.DateUpload)</td>
                                                                    <td><a href="http://cpsqa.4track.tk/files/@Html.DisplayFor(modelItem => itemDocumentUpload.Attachment)" target="_blank">@Html.DisplayFor(modelItem => itemDocumentUpload.Attachment)</a></td>
                                                                </tr>

                                                            }

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td>Este cliente no tiene documentos asignados</td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Clientes</a>
</div>


@section BodyArea {
    <!-- Modals must be declare at body level so the content overlaps the background-->
    <!-- Modal Large-->
    <div class="modal fade" id="ModalImportar" tabindex="-1" role="dialog" aria-labelledby="ModalImportar" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" asp-controller="Customer" asp-action="ImportContactos" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title" id="ModalImportarLabel">Importar contactos al cliente @Model.CustomerID </h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-12 col-form-label">Seleccione un archivo .csv</label>
                            <div class="col-md-12">
                                <input class="form-control filestyle" type="file" name="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr-2'&gt;&lt;/span&gt;">
                                <input hidden name="CustomerID" value="@Model.CustomerID" >
                                <br />
                                <center>
                                    <a href="http://cpsqa.4track.tk/files/ImportarContactosAClientesPlantilla.xlsx" download="PlantillaContactoClientes" class="btn btn-primary">Descargar Plantilla</a>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primary" type="submit">
                            Importar</buttonclass="btn>
                            <!--<button class="btn btn-primary" type="submit" data-dismiss="modal" data-notify="" data-message="¡Se han añadido los choferes con éxito!" data-options="{&quot;status&quot;:&quot;success&quot;, &quot;pos&quot;:&quot;bottom-right&quot;}">Importar archivo</button>-->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalImportarDirecciones" tabindex="-1" role="dialog" aria-labelledby="ModalImportarDirecciones" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" asp-controller="Customer" asp-action="ImportDirecciones" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title" id="ModalImportarLabel">Importar direcciones al cliente @Model.CustomerID </h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-12 col-form-label">Seleccione un archivo .csv</label>
                            <div class="col-md-12">
                                <input class="form-control filestyle" type="file" name="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr-2'&gt;&lt;/span&gt;">
                                <input hidden name="CustomerID" value="@Model.CustomerID">
                                <br />
                                <center>
                                    <a href="http://cpsqa.4track.tk/files/ImportarDireccionesAClientesPlantilla.xlsx" download="PlantillaDireccionesClientes" class="btn btn-primary">Descargar Plantilla</a>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primary" type="submit">
                            Importar</buttonclass="btn>
                            <!--<button class="btn btn-primary" type="submit" data-dismiss="modal" data-notify="" data-message="¡Se han añadido los choferes con éxito!" data-options="{&quot;status&quot;:&quot;success&quot;, &quot;pos&quot;:&quot;bottom-right&quot;}">Importar archivo</button>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<style type="text/css">

    #botones {
        float: right;
    }

    #importar {
        float: left;
    }
</style>
@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">

        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript">
            var pathname = window.location.pathname;
            var vars = pathname.split("/");
            $('#agregarContacto').attr('href', 'http://cpsqa.4track.tk/Contact/Create/' + vars[3]);
            $('#agregarDireccion').attr('href', 'http://cpsqa.4track.tk/Address/Create/' + vars[3]);
            $('#agregarDocumento').attr('href', 'http://cpsqa.4track.tk/DocumentUpload/Index/Customer' + vars[3]);

        </script>

        <script>

            function editarDireccion(id) {
                window.location.href = "http://cpsqa.4track.tk/Address/Edit/" + id;
            }
            function eliminarDireccion(id) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/Address/Delete/" + id;
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }
            function editarContacto(id) {
                window.location.href = "http://cpsqa.4track.tk/Contact/Edit/" + id;
            }
            function eliminarContacto(id) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/Contact/Delete/" + id;
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }
        </script>
        <script>

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            $("#CreateDateTransaction").val(today);

        </script>
        <script>
            $("#EsEmpresa").change(function () {
                if ($('input.EsEmpresa').is(':checked')) {
                    $("#CompanyNameDiv").show();
                    $("#FirstNameDiv").hide();
                    $("#LastNameDiv").hide();
                    $("#FirstName").val('N/A');
                    $("#LastName").val('N/A');
                    $("#CompanyName").val('');
                } else {
                    $("#CompanyNameDiv").hide();
                    $("#FirstNameDiv").show();
                    $("#LastNameDiv").show();
                    $("#CompanyNameDiv").hide();
                    $("#CompanyName").val('N/A');
                    $("#FirstName").val('');
                    $("#LastName").val('');
                }
            });

            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');
        </script>
    </environment>
    <environment names="Staging,Production">

        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript">
            var pathname = window.location.pathname;
            var vars = pathname.split("/");
            $('#agregarContacto').attr('href', 'http://cpsqa.4track.tk/Contact/Create/' + vars[3]);
            $('#agregarDireccion').attr('href', 'http://cpsqa.4track.tk/Address/Create/' + vars[3]);
            $('#agregarDocumento').attr('href', 'http://cpsqa.4track.tk/DocumentUpload/Index/Customer' + vars[3]);

        </script>

        <script>

            function editarDireccion(id) {
                window.location.href = "http://cpsqa.4track.tk/Address/Edit/" + id;
            }
            function eliminarDireccion(id) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/Address/Delete/" + id;
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }
            function editarContacto(id) {
                window.location.href = "http://cpsqa.4track.tk/Contact/Edit/" + id;
            }
            function eliminarContacto(id) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/Contact/Delete/" + id;
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }
        </script>
        <script>

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            $("#CreateDateTransaction").val(today);

        </script>
        <script>
            $("#EsEmpresa").change(function () {
                if ($('input.EsEmpresa').is(':checked')) {
                    $("#CompanyNameDiv").show();
                    $("#FirstNameDiv").hide();
                    $("#LastNameDiv").hide();
                    $("#FirstName").val('N/A');
                    $("#LastName").val('N/A');
                    $("#CompanyName").val('');
                } else {
                    $("#CompanyNameDiv").hide();
                    $("#FirstNameDiv").show();
                    $("#LastNameDiv").show();
                    $("#CompanyNameDiv").hide();
                    $("#CompanyName").val('N/A');
                    $("#FirstName").val('');
                    $("#LastName").val('');
                }
            });

            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');
        </script>
    </environment>

}