﻿@model Angle.DTOs.HistoricDriverDTO

@{ ViewData["Title"] = "Create"; }

<div class="content-heading">
    <div>
        Agregar HistoricDriver
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Parametrizaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Estatus</a>
                    </li>
                </ol>
            </div>


            <div class="card-body">
                <form asp-action="Create" id="formHistoricDriver" data-parsley-validate="" novalidate="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="VehiclesID" class="control-label"></label>
                                <select asp-for="VehiclesID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Vehicles != null)
                                    {
                                        var listVehicles = (IEnumerable<Angle.Models.Vehicles>)ViewBag.Vehicles;

                        @foreach (var Vehicles in listVehicles)
                        {
                        <option value="@Vehicles.VehiclesID"selected>@Vehicles.VehiclesID</option>
}}
                                </select>
                                <span asp-validation-for="VehiclesID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="DriverID" class="control-label"></label>
                                <select asp-for="DriverID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Driver != null)
                                    {
                                        var listDriver = (IEnumerable<Angle.Models.Driver>)ViewBag.Driver;

                                        @foreach (var Driver in listDriver)
                                        {
                                            <option value="@Driver.DriverID">@Driver.DriverName @Driver.DriverLastName</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="DriverID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="DateStartVehicle" class="control-label"></label>
                                <input asp-for="DateStartVehicle" class="form-control" required />
                                <span asp-validation-for="DateStartVehicle" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="DateEndVehicle" class="control-label"></label>
                                <input asp-for="DateEndVehicle" class="form-control" required />
                                <span asp-validation-for="DateEndVehicle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="StatusID" class="control-label"></label>
                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Status != null)
                                    {
                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                                        @foreach (var Status in listStatus)
                                        {
                                            <option value="@Status.StatusID">@Status.StatusName</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="StatusID" class="text-danger"></span>
                            </div>
                        </div>




                    </div>    
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
<div>
    <a id="ListarVehiculo">Listar Vehiculos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<environment names="Development">
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        var pathname = window.location.pathname;
        var vars = pathname.split("/");
        $('#ListarVehiculo').attr('href', 'http://cpsqa.4track.tk/Vehicles/Edit/' + vars[3]);

    </script>
</environment>
    <environment names="Staging,Production">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    </environment>

}
