﻿@model Angle.DTOs.DocumentTypeDTO

@{ ViewData["Title"] = "Edit"; }

<div class="content-heading">
    <div>
        Tipo de Documento
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Parametrizaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="">Tipo de Documento</a>
                    </li>
                </ol>
            </div>


            <div class="card-body">
                <form asp-action="Edit" data-parsley-validate="" novalidate="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DocumentTypeID" />
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="DocumentTypeName" class="control-label"></label>
                                <input asp-for="DocumentTypeName" class="form-control" required />
                                <span asp-validation-for="DocumentTypeName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="DocumentTypeDescription" class="control-label"></label>
                                <input asp-for="DocumentTypeDescription" class="form-control" required />
                                <span asp-validation-for="DocumentTypeDescription" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="StatusID" class="control-label"></label>
                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Status != null)
                                    {
                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                        @foreach (var Status in listStatus)
                        {
                <option value="@Status.StatusID">@Status.StatusName</option>}}
                                </select>
                                <span asp-validation-for="StatusID" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Fecha de creaci&oacute;n</label>
                                <input name="CreateDateTransaction" id="CreateDateTransaction" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Creado por usuario</label>
                                <input name="CreateUserTransaction" id="CreateUserTransaction" class="form-control" value="Administrador" readonly />
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Actualizado</label>
                                <input name="UpdateDateTransaction" id="UpdateDateTransaction" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Actualizado por</label>
                                <input name="UpdateUserTransaction" id="UpdateUserTransaction" class="form-control" value="Administrador" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Tipo de documentos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<environment names="Development">
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');

    </script>
</environment>
<environment names="Staging,Production">
    <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        Parsley.addMessages('en', {
            required: "Valor requerido.",
        });
        Parsley.setLocale('en');

    </script>
</environment>

}