﻿@model IEnumerable<Angle.DTOs.ContractSequenceDTO>
@using Microsoft.AspNetCore.Http.Extensions
@{ ViewData["Title"] = "Index";

    string words1 = Context.Request.GetEncodedUrl();

    string[] ID1 = words1.Split('/');
    int IDTarifa = Int32.Parse(ID1[5]);
}


<div class="content-heading">
    @if (ViewBag.Contract != null)
    {

        var listContract = (IEnumerable<Angle.Models.Contract>)ViewBag.Contract;


        @foreach (var itemContract in listContract)
        {
            @if (IDTarifa == itemContract.ContractID)
            {
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Detalle de la tarifa: @IDTarifa</label>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-group">
                                <label class="control-label">ID Tarifa</label>
                                <input value="@IDTarifa" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="control-label">Tipo de servicio</label>
                                <input value="@Html.DisplayFor(modelItem => itemContract.ServiceType.ServiceTypeName)" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="control-label">Efectivo</label>
                                <input value="@Html.DisplayFor(modelItem => itemContract.EffectiveDate)" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="control-label">Expiration</label>
                                <input value="@Html.DisplayFor(modelItem => itemContract.ExpirationDate)" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="control-label">Estatus</label>
                                <input value="@Html.DisplayFor(modelItem => itemContract.Status.StatusName)" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div id="botones" class="botones">
                <a id="crearTarifaHistorico">
                    <button class="btn btn-primary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button">
                        <span>Crear</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped my-4 w-100" id="datatable4Track">
                <thead>
                    <tr>
                        <th></th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Peso m&iacute;nimo (Lb)</th>
                        <th>Costo por peso m&iacute;nimo (Lb)</th>
                        <th>Costo por peso adicional (Lb)</th>
                        <th>Tipo de mercanc&iacute;a</th>
                        <th>Modalidad de entrega</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.ContractID == IDTarifa)
                        {
                            <tr>
                                <td>
                                    <a href="/ContractSequence/Edit/@item.ContractSequenceID" class="text-muted">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a OnClick="eliminarRegistro(@item.ContractSequenceID)" class="text-muted">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                                @if (ViewBag.Contract != null)
                                {

                                    var listContract = (IEnumerable<Angle.Models.Contract>)ViewBag.Contract;


                                    @foreach (var itemContract in listContract)
                                    {
                                        @if (IDTarifa == itemContract.ContractID)
                                        {
                                            var TipoServicio = itemContract.ServiceTypeID;
                                            if (TipoServicio == 1 || TipoServicio == 3) // puerta a puerta o viaje
                                            {
                                                @if (ViewBag.GeoLevel1 != null)
                                                {

                                                    var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;


                                                    @foreach (var itemGeoLevel1 in listGeoLevel1)
                                                    {

                                                        @if (item.OriginID == itemGeoLevel1.GeoLevel1ID)
                                                        {
                                                            <td>@Html.DisplayFor(modelItem => itemGeoLevel1.GeoLevel1Name)</td>
                                                        }
                                                        @if (item.DestinationID == itemGeoLevel1.GeoLevel1ID)
                                                        {
                                                            <td>@Html.DisplayFor(modelItem => itemGeoLevel1.GeoLevel1Name)</td>
                                                        }
                                                    }
                                                }
                                            }
                                            else
                                            if (TipoServicio == 2) //almacen
                                            {
                                                @if (ViewBag.Warehouse != null)
                                                {

                                                    var listWarehouse = (IEnumerable<Angle.Models.Warehouse>)ViewBag.Warehouse;


                                                    @foreach (var itemWarehouse in listWarehouse)
                                                    {

                                                        @if (item.OriginID == itemWarehouse.WarehouseID)
                                                        {
                                                            <td>@Html.DisplayFor(modelItem => itemWarehouse.WarehouseName)</td>
                                                        }
                                                        @if (item.DestinationID == itemWarehouse.WarehouseID)
                                                        {
                                                            <td>@Html.DisplayFor(modelItem => itemWarehouse.WarehouseName)</td>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                <td>@Html.DisplayFor(modelItem => item.WeightMin)</td>
                                <td>@Html.DisplayFor(modelItem => item.BasePrice)</td>
                                <td>@Html.DisplayFor(modelItem => item.ExtraPrice)</td>
                                @if (ViewBag.MerchandiseType != null)
                                {

                                    var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;


                                    @foreach (var itemMerchandiseType in listMerchandiseType)
                                    {

                                        @if (item.MerchandiseTypeID == itemMerchandiseType.MerchandiseTypeID)
                                        {
                                            <td>@Html.DisplayFor(modelItem => itemMerchandiseType.MerchandiseTypeName)</td>
                                        }
                                    }
                                }
                                @if (ViewBag.DeliveryMode != null)
                                {

                                    var listDeliveryMode = (IEnumerable<Angle.Models.DeliveryMode>)ViewBag.DeliveryMode;


                                    @foreach (var itemDeliveryMode in listDeliveryMode)
                                    {

                                        @if (item.DeliveryModeID == itemDeliveryMode.DeliveryModeID)
                                        {
                                            <td>@Html.DisplayFor(modelItem => itemDeliveryMode.DeliveryModeName)</td>
                                        }
                                    }
                                }

                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Peso m&iacute;nimo (Lb)</th>
                        <th>Costo por peso m&iacute;nimo (Lb)</th>
                        <th>Costo por peso adicional (Lb)</th>
                        <th>Tipo de mercanc&iacute;a</th>
                        <th>Modalidad de entrega</th>
                    </tr>
                </tfoot>
            </table>



        </div>
        <!-- /.card-body -->
    </div>
</div>
<div>
    <a id="ListarTarifas">Listar tarifas</a>
</div>
@section BodyArea {
    <!-- Modals must be declare at body level so the content overlaps the background-->
    <!-- Modal Large-->
    <div class="modal fade" id="ModalImportar" tabindex="-1" role="dialog" aria-labelledby="ModalImportar" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Importar vehiculos</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-12 col-form-label">Seleccione un archivo .csv</label>
                        <div class="col-md-12">
                            <input class="form-control filestyle" type="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr-2'&gt;&lt;/span&gt;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button><button class="btn btn-primary" type="button" data-dismiss="modal" data-notify="" data-message="¡Se han añadido 5 vehiculos con éxito!" data-options="{&quot;status&quot;:&quot;success&quot;, &quot;pos&quot;:&quot;bottom-right&quot;}">Importar archivo</button></div>
            </div>
        </div>
    </div>

}
<style type="text/css">

    #botones {
        float: right;
    }

    #importar {
        float: left;
    }

    .content-wrapper .content-heading {
        font-size: 14px !important;
        color: black !important;
        font-weight: 700 !important;
    }
</style>


@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
}

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">
        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript">
            var pathname = window.location.pathname;
            var vars = pathname.split("/");
            $('#crearTarifaHistorico').attr('href', 'http://cpsqa.4track.tk/ContractSequence/Create/' + vars[3]);
            $('#editarTarifaHistorico').attr('href', 'http://cpsqa.4track.tk/ContractSequence/Edit/' + vars[3]);
            $('#ListarTarifas').attr('href', 'http://cpsqa.4track.tk/Contract/Index/');
        </script>

        <script>

            function eliminarRegistro(id) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/ContractSequence/Delete/" + id;
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript">
            var pathname = window.location.pathname;
            var vars = pathname.split("/");
            $('#crearTarifaHistorico').attr('href', 'http://cpsqa.4track.tk/ContractSequence/Create/' + vars[3]);
            $('#editarTarifaHistorico').attr('href', 'http://cpsqa.4track.tk/ContractSequence/Edit/' + vars[3]);
            $('#ListarTarifas').attr('href', 'http://cpsqa.4track.tk/Contract/Index/');
        </script>

        <script>

            function eliminarRegistro(id) {
                swal({
                    title: ' ¿Está seguro de que desea eliminar el registro?',
                    text: 'Si lo elimina, no podrá recuperarlo',
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: 'No, no deseo eliminar',
                            visible: true,
                            className: "",
                            closeModal: false
                        },
                        confirm: {
                            text: 'Si, deseo eliminar',
                            value: true,
                            visible: true,
                            className: "bg-danger",
                            closeModal: false
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                        window.location.href = "http://cpsqa.4track.tk/ContractSequence/Delete/" + id;
                    } else {
                        swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                    }
                });
            }
        </script>
    </environment>

}
