﻿@model Angle.DTOs.ContactDTO

@{ ViewData["Title"] = "Edit"; }

<div class="content-heading">
    <div>
        Editar Contacto
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Parametrizaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Contacto</a>
                    </li>
                </ol>
            </div>

            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ContactID" />

                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="CustomerID" class="control-label"></label>
                                <select asp-for="CustomerID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Customer != null)
                                    {
                                        var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;

                        @foreach (var Customer in listCustomer)
                        {
                <option value="@Customer.CustomerID" selected>@Customer.CustomerID</option>
}}
                                </select>
                                <span asp-validation-for="CustomerID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="ContactName" class="control-label"></label>
                                <input asp-for="ContactName" class="form-control" />
                                <span asp-validation-for="ContactName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="ContactLastName" class="control-label"></label>
                                <input asp-for="ContactLastName" class="form-control" />
                                <span asp-validation-for="ContactLastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="ContactPosition" class="control-label"></label>
                                <input asp-for="ContactPosition" class="form-control" />
                                <span asp-validation-for="ContactPosition" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="ContactMainPhone" class="control-label"></label>
                                <input asp-for="ContactMainPhone" class="form-control" />
                                <span asp-validation-for="ContactMainPhone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="ContactCellPhone" class="control-label"></label>
                                <input asp-for="ContactCellPhone" class="form-control" />
                                <span asp-validation-for="ContactCellPhone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="ContactMail" class="control-label"></label>
                                <input asp-for="ContactMail" class="form-control" />
                                <span asp-validation-for="ContactMail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="StatusID" class="control-label"></label>
                                <select asp-for="StatusID" class="form-control form-control-lg" required>
                                    <option value="">Seleccionar</option>
                                    @if (ViewBag.Status != null)
                                    {
                                        var listStatus = (IEnumerable<Angle.Models.Status>)ViewBag.Status;

                        @foreach (var Status in listStatus)
                        {
                <option value="@Status.StatusID">@Status.StatusName</option>}}
                                </select>
                                <span asp-validation-for="StatusID" class="text-danger"></span>
                            </div>
                        </div>



                    </div>
                    <div class="form-group">
                        <input type="submit" value="Editar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Contacto</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    </environment>

}