﻿@model Angle.DTOs.ContractSpecialSequenceDTO
@using Microsoft.AspNetCore.Http.Extensions

@{ ViewData["Title"] = "Edit";

    string words1 = Context.Request.GetEncodedUrl();

    string[] ID1 = words1.Split('/');
    int IDTarifa = Model.ContractSpecialID; }
<div class="content-heading">
    @if (ViewBag.ContractSpecial != null)
    {

        var listContractSpecial = (IEnumerable<Angle.Models.ContractSpecial>)ViewBag.ContractSpecial;


@foreach (var itemContractSpecial in listContractSpecial)
{
    @if (IDTarifa == itemContractSpecial.ContractSpecialID)
    {
<div class="card-body">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Editar item de la tarifa: @IDTarifa</label>
            </div>
        </div>
        <div class="col-1">
            <div class="form-group">
                <label class="control-label">ID Tarifa</label>
                <input value="@IDTarifa" class="form-control" disabled />
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="control-label">Tipo de servicio</label>
                <input value="@Html.DisplayFor(modelItem => itemContractSpecial.ServiceType.ServiceTypeName)" class="form-control" disabled />
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="control-label">Efectivo</label>
                <input value="@Html.DisplayFor(modelItem => itemContractSpecial.EffectiveDate)" class="form-control" disabled />
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="control-label">Expiration</label>
                <input value="@Html.DisplayFor(modelItem => itemContractSpecial.ExpirationDate)" class="form-control" disabled />
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label class="control-label">Estatus</label>
                <input value="@Html.DisplayFor(modelItem => itemContractSpecial.Status.StatusName)" class="form-control" disabled />
            </div>
        </div>
    </div>
</div>}}}
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Parametrizaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Tarifas regulares</a>
                    </li>
                </ol>
            </div>
            <div class="card-body">

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ContractSpecialSequenceID" />

                    <div class="row">
                        <input value="@IDTarifa" name="ContractSpecialID" class="form-control" hidden />
                        @if (ViewBag.ContractSpecial != null)
                        {

                            var listContract = (IEnumerable<Angle.Models.ContractSpecial>)ViewBag.ContractSpecial;


                            @foreach (var itemContract in listContract)
                            {
                                @if (IDTarifa == itemContract.ContractSpecialID)
                                {
                                    <input value="@Html.DisplayFor(modelItem => itemContract.ServiceType.ServiceTypeID)" name="ServiceTypeID" class="form-control" hidden />
                                }
                            }
                        }
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6 col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="CustomerID" class="control-label"></label>
                                        <select asp-for="CustomerID" class="form-control form-control-lg" required>
                                            <option value="">Seleccionar</option>
                                            @if (ViewBag.Customer != null)
                                            {
                                                var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;

                                @foreach (var Customer in listCustomer)
                                {
                    <option value="@Customer.CustomerID">@Customer.CompanyName</option>
}}
                                        </select>
                                        <span asp-validation-for="CustomerID" class="text-danger"></span>
                                    </div>
                                </div>
                                @if (ViewBag.ContractSpecial != null)
                                {
                                    var listContractSpecial = (IEnumerable<Angle.Models.ContractSpecial>)ViewBag.ContractSpecial;
                    @foreach (var itemContractSpecial in listContractSpecial)
                    {
                    @if (IDTarifa == itemContractSpecial.ContractSpecialID)
                    {
                        var TipoServicio = itemContractSpecial.ServiceTypeID;
                        if (TipoServicio == 1) // puerta a puerta asegurarse que sea desde santo domingo
                        {
                    <div class="col-6 col-lg-3">
                        <div class="form-group">
                            <label asp-for="OriginID" class="control-label"></label>
                            <select asp-for="OriginID" class="form-control form-control-lg" required>
                                <option value="">Seleccionar</option>
                                @if (ViewBag.GeoLevel1 != null)
                                {
                                    var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                    @foreach (var GeoLevel1 in listGeoLevel1)
                    {
                            <option value="@GeoLevel1.GeoLevel1ID">@GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</option>

            }}
                            </select>
                            <span asp-validation-for="OriginID" class="text-danger"></span>
                        </div>
                    </div>
                                                <div class="col-6 col-lg-3">
                                                    <div class="form-group">
                                                        <label asp-for="DestinationID" class="control-label"></label>
                                                        <select asp-for="DestinationID" class="form-control form-control-lg" required>
                                                            <option value="">Seleccionar</option>
                                                            @if (ViewBag.GeoLevel1 != null)
                                                            {
                                                                var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                @foreach (var GeoLevel1 in listGeoLevel1)
                                {
                                                        <option value="@GeoLevel1.GeoLevel1ID">@GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</option>
}}
                                                        </select>
                                                        <span asp-validation-for="DestinationID" class="text-danger"></span>
                                                    </div>
                                                </div> }
                                            else
                                                                                                                                                    if (TipoServicio == 2) // Almacén a Almacén
                                            {
                    <div class="col-6 col-lg-3">
                        <div class="form-group">
                            <label asp-for="OriginID" class="control-label"></label>
                            <select asp-for="OriginID" class="form-control form-control-lg" required>
                                <option value="">Seleccionar</option>
                                @if (ViewBag.Warehouse != null)
                                {
                                    var listWarehouse = (IEnumerable<Angle.Models.Warehouse>)ViewBag.Warehouse;

                    @foreach (var Warehouse in listWarehouse)
                    {
                    <option value="@Warehouse.WarehouseID">@Warehouse.WarehouseName</option>
}}
                            </select>
                            <span asp-validation-for="OriginID" class="text-danger"></span>
                        </div>
                    </div>
                                                <div class="col-6 col-lg-3">
                                                    <div class="form-group">
                                                        <label asp-for="DestinationID" class="control-label"></label>
                                                        <select asp-for="DestinationID" class="form-control form-control-lg" required>
                                                            <option value="">Seleccionar</option>
                                                            @if (ViewBag.Warehouse != null)
                                                            {
                                                                var listWarehouse = (IEnumerable<Angle.Models.Warehouse>)ViewBag.Warehouse;

                                @foreach (var Warehouse in listWarehouse)
                                {
                    <option value="@Warehouse.WarehouseID">@Warehouse.WarehouseName</option>
}}
                                                        </select>
                                                        <span asp-validation-for="DestinationID" class="text-danger"></span>
                                                    </div>
                                                </div> }
                                            else
                                                                                                                                                                                if (TipoServicio == 3) // Viaje
                                            {
                    <div class="col-6 col-lg-3">
                        <div class="form-group">
                            <label asp-for="OriginID" class="control-label"></label>
                            <select asp-for="OriginID" class="form-control form-control-lg" required>
                                <option value="">Seleccionar</option>
                                @if (ViewBag.GeoLevel1 != null)
                                {
                                    var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                    @foreach (var GeoLevel1 in listGeoLevel1)
                    {

                            <option value="@GeoLevel1.GeoLevel1ID">@GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</option>
}}
                            </select>
                            <span asp-validation-for="OriginID" class="text-danger"></span>
                        </div>
                    </div>
                                                <div class="col-6 col-lg-3">
                                                    <div class="form-group">
                                                        <label asp-for="DestinationID" class="control-label"></label>
                                                        <select asp-for="DestinationID" class="form-control form-control-lg" required>
                                                            <option value="">Seleccionar</option>
                                                            @if (ViewBag.GeoLevel1 != null)
                                                            {
                                                                var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                @foreach (var GeoLevel1 in listGeoLevel1)
                                {
                    <option value="@GeoLevel1.GeoLevel1ID">@GeoLevel1.GeoLevel1Name</option>
}}
                                                        </select>
                                                        <span asp-validation-for="DestinationID" class="text-danger"></span>
                                                    </div>
                                                </div>}

                                        }}}

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="WeightMin" class="control-label"></label>
                                        <input asp-for="WeightMin" class="form-control" />
                                        <span asp-validation-for="WeightMin" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="BasePrice" class="control-label"></label>
                                        <input asp-for="BasePrice" class="form-control" />
                                        <span asp-validation-for="BasePrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="ExtraPrice" class="control-label"></label>
                                        <input asp-for="ExtraPrice" class="form-control" />
                                        <span asp-validation-for="ExtraPrice" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="MerchandiseTypeID" class="control-label"></label>
                                        <select asp-for="MerchandiseTypeID" class="form-control form-control-lg" required>
                                            <option value="">Seleccionar</option>
                                            @if (ViewBag.MerchandiseType != null)
                                            {
                                                var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;

                                @foreach (var MerchandiseType in listMerchandiseType)
                                {
                    <option value="@MerchandiseType.MerchandiseTypeID">@MerchandiseType.MerchandiseTypeName</option>}}
                                        </select>
                                        <span asp-validation-for="MerchandiseTypeID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="DeliveryModeID" class="control-label"></label>
                                        <select asp-for="DeliveryModeID" class="form-control form-control-lg" required>
                                            <option value="">Seleccionar</option>
                                            @if (ViewBag.DeliveryMode != null)
                                            {
                                                var listDeliveryMode = (IEnumerable<Angle.Models.DeliveryMode>)ViewBag.DeliveryMode;

                                @foreach (var DeliveryMode in listDeliveryMode)
                                {
                    <option value="@DeliveryMode.DeliveryModeID">@DeliveryMode.DeliveryModeName</option>}}
                                        </select>
                                        <span asp-validation-for="DeliveryModeID" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a id="ListarTarifas">Listar tarifas</a>
</div>
<style>

    .content-wrapper .content-heading {
        font-size: 14px !important;
        color: black !important;
        font-weight: 700 !important;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript">
            var pathname = window.location.pathname;
            var vars = pathname.split("/");
            $('#ListarTarifas').attr('href', 'http://cpsqa.4track.tk/ContractSpecial/Index/');
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript">
            var pathname = window.location.pathname;
            var vars = pathname.split("/");
            $('#ListarTarifas').attr('href', 'http://cpsqa.4track.tk/ContractSpecial/Index/');
        </script>
    </environment>

}
