﻿@model Angle.DTOs.ReservationDTO

@{ ViewData["Title"] = "Create"; }

<div class="content-heading">
    <div>
        Reserva
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Operaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Reserva</a>
                    </li>
                </ol>
            </div>

            <div class="card-body">
                <div class="col-lg-12">
                    <form asp-action="Create" id="formReserva" data-parsley-validate="" novalidate="">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-12 col-lg-3">
                                <div class="form-group">
                                    <label asp-for="ReservationDate" class="control-label"></label>
                                    <input id="ReservationDate" name="ReservationDate" class="form-control" />
                                    <span asp-validation-for="ReservationDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="form-group">
                                    <label asp-for="StatusReservationID" class="control-label"></label>
                                    <select asp-for="StatusReservationID" class="form-control form-control-lg" required>
                                        @if (ViewBag.Status != null)
                                        {
                                            var listQuoteStatus = (IEnumerable<Angle.Models.QuoteStatus>)ViewBag.Status;

                                            @foreach (var QuoteStatus in listQuoteStatus)
                                            {
                                                if (QuoteStatus.QuoteStatusID == 3)
                                                {
                                                    <option value="@QuoteStatus.QuoteStatusID" selected>@QuoteStatus.QuoteStatusName</option>
                                                }

                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="StatusReservationID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="ServiceTypeID" class="control-label"></label>
                                            <select asp-for="ServiceTypeID" class="form-control form-control-lg" required>
                                                <option value="">Seleccionar</option>
                                                @if (ViewBag.ServiceType != null)
                                                {
                                                    var listServiceType = (IEnumerable<Angle.Models.ServiceType>)ViewBag.ServiceType;

                                                    @foreach (var ServiceType in listServiceType)
                                                    {
                                                        <option value="@ServiceType.ServiceTypeID">@ServiceType.ServiceTypeName </option>
                                                    }}
                                            </select>
                                            <span asp-validation-for="ServiceTypeID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="SalesPersonID" class="control-label"></label>
                                            <select asp-for="SalesPersonID" class="form-control form-control-lg" required>
                                                <option value="">Seleccionar</option>
                                                @if (ViewBag.SalesPerson != null)
                                                {
                                                    var listSalesPerson = (IEnumerable<Angle.Models.SalesPerson>)ViewBag.SalesPerson;

                                                    @foreach (var SalesPerson in listSalesPerson)
                                                    {
                                                        <option value="@SalesPerson.SalesPersonID">@SalesPerson.SalesPersonName </option>
                                                    }}
                                            </select>
                                            <span asp-validation-for="SalesPersonID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @if (ViewBag.Customer != null)
                                    {
                                        var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;

                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CustomerID" class="control-label"></label>
                                                <select asp-for="CustomerID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>

                                                    @foreach (var Customer in listCustomer)
                                                    {
                                                        <option id="cliente" value="@Customer.CustomerID">@Customer.CompanyName</option>

                                                    }
                                                </select>
                                                <span asp-validation-for="CustomerID" class="text-danger"></span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Reservas</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/vendor/flot/jquery.flot.time.js"></script>
        <script src="~/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
        <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/vendor/moment/min/moment-with-locales.js"></script>
        
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

        </script>
        <script>
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            var seconds = today.getSeconds();
            var minutes = today.getMinutes();
            var hour = today.getHours();
            today = yyyy + '-' + mm + '-' + dd + ' ' + hour + ':' + minutes + ':' + seconds;
            $("#ReservationDate").val(today);

        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/vendor/flot/jquery.flot.time.js"></script>
        <script src="~/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
        <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/vendor/moment/min/moment-with-locales.js"></script>

        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

        </script>
        <script>
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            var seconds = today.getSeconds();
            var minutes = today.getMinutes();
            var hour = today.getHours();
            today = yyyy + '-' + mm + '-' + dd + ' ' + hour + ':' + minutes + ':' + seconds;
            $("#ReservationDate").val(today);

        </script>
    </environment>

}
