﻿@model Angle.DTOs.ReservationDTO
@using Microsoft.AspNetCore.Http.Extensions
@{ ViewData["Title"] = "Edit";
}

<div class="content-heading">
    <div>
        Reserva
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Operaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Reserva</a>
                    </li>
                </ol>
            </div>

            <div class="card-body">

                <div class="col-lg-12">
                    <form asp-action="Edit" data-parsley-validate="" novalidate="">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ReservationID" />
                        <div class="row">
                            <div class="col-12 col-lg-2">
                                <div class="form-group">
                                    <label asp-for="ReservationDate" class="control-label"></label>
                                    <input asp-for="ReservationDate" class="form-control" />
                                    <span asp-validation-for="ReservationDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="form-group">
                                    <label asp-for="StatusReservationID" class="control-label"></label>
                                    <select asp-for="StatusReservationID" class="form-control form-control-lg" required>
                                        @if (ViewBag.Status != null)
                                        {
                                            var listQuoteStatus = (IEnumerable<Angle.Models.QuoteStatus>)ViewBag.Status;

                                            @foreach (var QuoteStatus in listQuoteStatus)
                                            {

                                                <option value="@QuoteStatus.QuoteStatusID">@QuoteStatus.QuoteStatusName</option>

                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="StatusReservationID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="ServiceTypeID" class="control-label"></label>
                                            <select asp-for="ServiceTypeID" class="form-control form-control-lg" required>
                                                <option value="">Seleccionar</option>
                                                @if (ViewBag.ServiceType != null)
                                                {
                                                    var listServiceType = (IEnumerable<Angle.Models.ServiceType>)ViewBag.ServiceType;
                                                    @foreach (var ServiceType in listServiceType)
                                                    {
                                                        <option value="@ServiceType.ServiceTypeID">@ServiceType.ServiceTypeName </option>
                                                    }}
                                            </select>
                                            <span asp-validation-for="ServiceTypeID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="SalesPersonID" class="control-label"></label>
                                            <select asp-for="SalesPersonID" class="form-control form-control-lg" required>
                                                <option value="">Seleccionar</option>
                                                @if (ViewBag.SalesPerson != null)
                                                {
                                                    var listSalesPerson = (IEnumerable<Angle.Models.SalesPerson>)ViewBag.SalesPerson;

                                                    @foreach (var SalesPerson in listSalesPerson)
                                                    {
                                                        <option value="@SalesPerson.SalesPersonID">@SalesPerson.SalesPersonName </option>
                                                    }}
                                            </select>
                                            <span asp-validation-for="SalesPersonID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="OriginID" class="control-label"></label>
                                            <select asp-for="OriginID" class="form-control form-control-lg" required>
                                                <option value="">Seleccionar</option>


                                                @if (Model.ServiceTypeID == 2)
                                                {
                                                    @if (ViewBag.Warehouse != null)
                                                    {
                                                        var listWarehouse = (IEnumerable<Angle.Models.Warehouse>)ViewBag.Warehouse;

                                                        @foreach (var Warehouse in listWarehouse)
                                                        {
                                                            <option value="@Warehouse.WarehouseID">@Warehouse.WarehouseName </option>
                                                        }
                                                    }
                                                }
                                                else
                                            if (Model.ServiceTypeID == 3 || Model.ServiceTypeID == 1)
                                                {
                                                    @if (ViewBag.GeoLevel1 != null)
                                                    {
                                                        var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                                        @foreach (var GeoLevel1 in listGeoLevel1)
                                                        {
                                                            <option value="@GeoLevel1.GeoLevel1ID">@GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</option>
                                                        }
                                                    }
                                                }

                                            </select>
                                            <span asp-validation-for="OriginID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="DestinationID" class="control-label"></label>
                                            <select asp-for="DestinationID" class="form-control form-control-lg" required>
                                                <option value="">Seleccionar</option>

                                                @if (Model.ServiceTypeID == 1 || Model.ServiceTypeID == 3)
                                                {
                                                    @if (ViewBag.GeoLevel1 != null)
                                                    {
                                                        var listGeoLevel1 = (IEnumerable<Angle.Models.GeoLevel1>)ViewBag.GeoLevel1;

                                                        @foreach (var GeoLevel1 in listGeoLevel1)
                                                        {
                                                            <option value="@GeoLevel1.GeoLevel1ID">@GeoLevel1.GeoLevel1Name - @GeoLevel1.GeoLevel1Title</option>
                                                        }
                                                    }
                                                }
                                                else
                                        if (Model.ServiceTypeID == 2)
                                                {
                                                    @if (ViewBag.Warehouse != null)
                                                    {
                                                        var listWarehouse = (IEnumerable<Angle.Models.Warehouse>)ViewBag.Warehouse;

                                                        @foreach (var Warehouse in listWarehouse)
                                                        {
                                                            <option value="@Warehouse.WarehouseID">@Warehouse.WarehouseName </option>
                                                        }
                                                    }
                                                }

                                            </select>
                                            <span asp-validation-for="DestinationID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="AddressQuote" class="control-label"></label>
                                            <input asp-for="AddressQuote" class="form-control" />
                                            <span asp-validation-for="AddressQuote" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="ReferenceQuote" class="control-label"></label>
                                            <input asp-for="ReferenceQuote" class="form-control" />
                                            <span asp-validation-for="ReferenceQuote" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @if (ViewBag.Customer != null)
                                    {
                                        var listCustomer = (IEnumerable<Angle.Models.Customer>)ViewBag.Customer;

                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="CustomerID" class="control-label"></label>
                                                <select asp-for="CustomerID" class="form-control form-control-lg" required>
                                                    <option value="">Seleccionar</option>

                                                    @foreach (var Customer in listCustomer)
                                                    {
                                                        <option id="cliente" value="@Customer.CustomerID">@Customer.CompanyName</option>

                                                    }
                                                </select>
                                                <span asp-validation-for="CustomerID" class="text-danger"></span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <center><input type="submit" value="Guardar" class="btn btn-primary" /></center>
                        </div>
                    </form>
                </div>


            </div>

        </div>
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Items cotizados</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Reservaci&oacute;n: @Model.ReservationID</a>
                    </li>
                </ol>


                <div id="botones" class="botones">
                    <a>
                        <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#ModalcrearItem">
                            <span>Crear</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped my-4 w-100" id="datatable4Track">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tipo de mercanc&iacute;a</th>
                            <th>Descripci&oacute;n</th>
                            <th>Bulto / Paquete</th>
                            <th>Peso (Lb)</th>
                            <th>Costo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var total = 0;
                        }
                        @if (ViewBag.ItemsReservation != null)
                        {

                            var listItemsReservation = (IEnumerable<Angle.Models.ItemsReservation>)ViewBag.ItemsReservation;


                            @foreach (var itemItemsReservation in listItemsReservation)
                            {
                                if (Model.ReservationID == itemItemsReservation.ReservationID)
                                {
                                    <tr>
                                        <td>
                                            <a OnClick="eliminarRegistro(@Model.ReservationID,@itemItemsReservation.ItemsReservationID)" class="text-muted">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                        @if (ViewBag.MerchandiseType != null)
                                        {
                                            var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;
                                            @foreach (var itemMerchandiseType in listMerchandiseType)
                                            {
                                                if (itemItemsReservation.MerchandiseTypeID == itemMerchandiseType.MerchandiseTypeID)
                                                {
                                                    <td> @Html.DisplayFor(modelItem => itemMerchandiseType.MerchandiseTypeName)</td>
                                                }
                                            }
                                        }

                                        <td> @Html.DisplayFor(modelItem => itemItemsReservation.Description)</td>
                                        <td> @Html.DisplayFor(modelItem => itemItemsReservation.Quantity)</td>
                                        <td> @Html.DisplayFor(modelItem => itemItemsReservation.Weight)</td>
                                        <td> @Html.DisplayFor(modelItem => itemItemsReservation.Amount)</td>
                                        @{

                                            total = (total + itemItemsReservation.Amount);
                                        }
                                    </tr>
                                }

                            }

                        }
                        <p style="float:right;font-weight: 900;font-size: x-large;">Total: @total</p>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Tipo de mercanc&iacute;a</th>
                            <th>Descripci&oacute;n</th>
                            <th>Bulto / Paquete</th>
                            <th>Peso (Lb)</th>
                            <th>Costo</th>
                        </tr>
                    </tfoot>
                </table>



            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listar Reservas</a>
</div>



@section BodyArea {




    <!-- Modals must be declare at body level so the content overlaps the background-->
    <!-- Modal Large-->
    <div class="modal fade" id="ModalcrearItem" tabindex="-1" role="dialog" aria-labelledby="ModalcrearItem" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalImportarLabel">Añadir item a la orden de reservaci&oacute;n #@Model.ReservationID </h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="card-body">
                        <div class="col-lg-12">
                            <form method="post" enctype="multipart/form-data" asp-controller="Reservation" asp-action="CreateItem">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">

                                    <input name="ReservationID" id="ReservationID" value="@Model.ReservationID" hidden />
                                    @if (ViewBag.ContractSpecial != null)
                                    {
                                        var isSpecial = 0; //0 -> no  1 -
                                        var listContractSpecial = (IEnumerable<Angle.Models.ContractSpecial>)ViewBag.ContractSpecial;
                                        @foreach (var itemContractSpecial in listContractSpecial)
                                        {
                                            if (Model.CustomerID == itemContractSpecial.CustomerID)
                                                isSpecial = 1;
                                        }

                                        if (isSpecial == 1)
                                        {
                                            <div class="col-lg-12">
                                                <p>Este cliente tiene tarifas especiales</p>
                                            </div>
                                            @if (ViewBag.ContractSpecialSequence != null)
                                            {
                                                var listContractSpecialSequence = (IEnumerable<Angle.Models.ContractSpecialSequence>)ViewBag.ContractSpecialSequence;
                                                var isAmount = 0;
                                                @foreach (var ContractSpecialSequence in listContractSpecialSequence)
                                                {

                                                    @if (ViewBag.DeliveryMode != null)
                                                    {

                                                        var listDeliveryMode = (IEnumerable<Angle.Models.DeliveryMode>)ViewBag.DeliveryMode;


                                                        @foreach (var itemDeliveryMode in listDeliveryMode)
                                                        {

                                                            @if (ContractSpecialSequence.DeliveryModeID == itemDeliveryMode.DeliveryModeID)
                                                            {

                                                                <input name="DeliveryMode" id="DeliveryMode" value="@itemDeliveryMode.DeliveryModeName" class="form-control" hidden />
                                                                <input name="DateDeliveryMax" id="DateDeliveryMax" class="form-control" hidden />
                                                            }
                                                        }
                                                    }

                                                    <input name="QuoteID" id="QuoteID" value="0" hidden />
                                                    <input name="PesoMinimo" id="PesoMinimo" value="@ContractSpecialSequence.WeightMin" hidden />
                                                    <input name="PrecioBase" id="PrecioBase" value="@ContractSpecialSequence.BasePrice" hidden />
                                                    <input name="PrecioExtra" id="PrecioExtra" value="@ContractSpecialSequence.ExtraPrice" hidden />
                                                    if (ContractSpecialSequence.CustomerID == Model.CustomerID && ContractSpecialSequence.ServiceTypeID == Model.ServiceTypeID && ContractSpecialSequence.OriginID == Model.OriginID && ContractSpecialSequence.DestinationID == Model.DestinationID)
                                                        isAmount = 1;

                                                }

                                                @if (isAmount == 1)
                                                {
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Tipo de mercanc&iacute;a</label>
                                                            <select id="TipoMercancia" name="TipoMercancia" class="form-control form-control-lg">
                                                                @if (ViewBag.MerchandiseType != null)
                                                                {
                                                                    var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;

                                                                    @foreach (var MerchandiseType in listMerchandiseType)
                                                                    {
                                                                        <option value="@MerchandiseType.MerchandiseTypeID">@MerchandiseType.MerchandiseTypeName</option>
                                                                    }
                                                                }


                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Descripci&oacute;n</label>
                                                            <input name="Description" id="Description" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Cantidad</label>
                                                            <input name="Quantity" id="Quantity" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Peso</label>
                                                            <input name="Weight" id="Weight" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Monto</label>
                                                            <input name="Amount" id="Amount" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 ">
                                                        <center>
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                            <input type="submit" value="Añadir" class="btn btn-primary">
                                                        </center>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <p>No hay montos registrados para este Cliente con el Tipo de servicio, Origen y Destino Señalado</p>
                                                }
                                            }


                                        }
                                        else
                                        {

                                            <div class="col-lg-12">
                                                <center><p>Este cliente no tiene tarifas especiales  </p></center>
                                            </div>
                                            @if (ViewBag.ContractSequence != null)
                                            {
                                                var listContractSequence = (IEnumerable<Angle.Models.ContractSequence>)ViewBag.ContractSequence;
                                                var isAmount = 0;
                                                @foreach (var ContractSequence in listContractSequence)
                                                {
                                                    if (ContractSequence.ServiceTypeID == Model.ServiceTypeID && ContractSequence.OriginID == Model.OriginID && ContractSequence.DestinationID == Model.DestinationID)
                                                    {
                                                        isAmount = 1;
                                                        @if (ViewBag.DeliveryMode != null)
                                                        {

                                                            var listDeliveryMode = (IEnumerable<Angle.Models.DeliveryMode>)ViewBag.DeliveryMode;


                                                            @foreach (var itemDeliveryMode in listDeliveryMode)
                                                            {

                                                                @if (ContractSequence.DeliveryModeID == itemDeliveryMode.DeliveryModeID)
                                                                {

                                                                    <input name="DeliveryMode" id="DeliveryMode" value="@itemDeliveryMode.DeliveryModeName" class="form-control" hidden />
                                                                    <input name="DateDeliveryMax" id="DateDeliveryMax" class="form-control" hidden />
                                                                }
                                                            }
                                                        }


                                                        <input name="QuoteID" id="QuoteID" value="0" hidden />
                                                        <input name="PesoMinimo" id="PesoMinimo" value="@ContractSequence.WeightMin" hidden />
                                                        <input name="PrecioBase" id="PrecioBase" value="@ContractSequence.BasePrice" hidden />
                                                        <input name="PrecioExtra" id="PrecioExtra" value="@ContractSequence.ExtraPrice" hidden />

                                                    }
                                                }
                                                @if (isAmount == 0)
                                                {


                                                    <div class="col-lg-12">
                                                        <center><p>No hay montos registrados para este Tipo de servicio en este Origen y Destino</p></center>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-12 col-lg-6">
                                                        <label class="control-label">Tipo de mercanc&iacute;a</label>
                                                        <select id="TipoMercancia" name="TipoMercancia" class="form-control form-control-lg">
                                                            @if (ViewBag.MerchandiseType != null)
                                                            {
                                                                var listMerchandiseType = (IEnumerable<Angle.Models.MerchandiseType>)ViewBag.MerchandiseType;

                                                                @foreach (var MerchandiseType in listMerchandiseType)
                                                                {
                                                                    <option value="@MerchandiseType.MerchandiseTypeID">@MerchandiseType.MerchandiseTypeName</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Descripci&oacute;n</label>
                                                            <input name="Description" id="Description" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Cantidad</label>
                                                            <input name="Quantity" id="Quantity" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Peso</label>
                                                            <input name="Weight" id="Weight" class="form-control" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Monto</label>
                                                            <input name="Amount" id="Amount" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 ">
                                                        <center>
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                            <input type="submit" value="Añadir" class="btn btn-primary">
                                                        </center>
                                                    </div>
                                                }



                                            }
                                        }
                                    }




                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style type="text/css">

    #botones {
        float: right;
    }

    #importar {
        float: left;
    }
    .btn-primary {
        padding: 6px 15px !important;
    }
</style>
@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    </environment>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development">

        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>

        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/vendor/flot/jquery.flot.time.js"></script>
        <script src="~/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
        <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/vendor/moment/min/moment-with-locales.js"></script>
        <script>

            $("#ServiceTypeID").attr('readonly', 'readonly');
            $('#ServiceTypeID option').css('display', 'none');
            $("#SalesPersonID").attr('readonly', 'readonly');
            $('#SalesPersonID option').css('display', 'none');
            $("#CustomerID").attr('readonly', 'readonly');
            $('#CustomerID option').css('display', 'none');

            var x = $("#ReservationStatusID option:selected").val();
            if (x == 1 || x == 2) {
                $("#ReasonStatus").show();
                $("#ReasonStatus").attr('disabled', 'disabled');
                $("#ReservationStatusID").attr('disabled', 'disabled');
            } else {
                $("#ReasonStatus").hide();
            }
            $("#ReservationStatusID").change(function () {
                x = $("#ReservationStatusID option:selected").val();
                if (x == 1 || x == 2) {
                    $("#ReasonStatus").show();
                } else {
                    $("#ReasonStatus").hide();
                }
            });

            $("#Weight").change(function () {
                var peso = $("#Weight").val();
                var PesoMinimo = $("#PesoMinimo").val();
                var PrecioBase = $("#PrecioBase").val();
                var PrecioExtra = $("#PrecioExtra").val();
                if (peso <= PesoMinimo) {
                    $("#Amount").val(PrecioBase);
                } else
                    if (peso > PesoMinimo) {
                        $("#Amount").val(PrecioExtra);
                    }


            });


        </script>
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

        </script>
        <script>

        function eliminarRegistro(ReservationID, ItemReservationID) {
            swal({
                title: ' ¿Está seguro de que desea eliminar el registro?',
                text: 'Si lo elimina, no podrá recuperarlo',
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: 'No, no deseo eliminar',
                        visible: true,
                        className: "",
                        closeModal: false
                    },
                    confirm: {
                        text: 'Si, deseo eliminar',
                        value: true,
                        visible: true,
                        className: "bg-danger",
                        closeModal: false
                    }
                }
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                    location.href = '@Url.Action("DeleteItem", "Reservation")?ReservationID=' + ReservationID + '&ItemReservationID=' + ItemReservationID;

                } else {
                    swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                }
            });
        }
        </script>


    </environment>
    <environment names="Staging,Production">


        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>

        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
        <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/vendor/flot/jquery.flot.time.js"></script>
        <script src="~/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
        <script src="~/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/vendor/moment/min/moment-with-locales.js"></script>
        <script>

            $("#ServiceTypeID").attr('readonly', 'readonly');
            $('#ServiceTypeID option').css('display', 'none');
            $("#SalesPersonID").attr('readonly', 'readonly');
            $('#SalesPersonID option').css('display', 'none');
            $("#CustomerID").attr('readonly', 'readonly');
            $('#CustomerID option').css('display', 'none');

            var x = $("#ReservationStatusID option:selected").val();
            if (x == 1 || x == 2) {
                $("#ReasonStatus").show();
                $("#ReasonStatus").attr('disabled', 'disabled');
                $("#ReservationStatusID").attr('disabled', 'disabled');
            } else {
                $("#ReasonStatus").hide();
            }
            $("#ReservationStatusID").change(function () {
                x = $("#ReservationStatusID option:selected").val();
                if (x == 1 || x == 2) {
                    $("#ReasonStatus").show();
                } else {
                    $("#ReasonStatus").hide();
                }
            });

            $("#Weight").change(function () {
                var peso = $("#Weight").val();
                var PesoMinimo = $("#PesoMinimo").val();
                var PrecioBase = $("#PrecioBase").val();
                var PrecioExtra = $("#PrecioExtra").val();
                if (peso <= PesoMinimo) {
                    $("#Amount").val(PrecioBase);
                } else
                    if (peso > PesoMinimo) {
                        $("#Amount").val(PrecioExtra);
                    }


            });


        </script>
        <script>
            Parsley.addMessages('en', {
                required: "Valor requerido.",
            });
            Parsley.setLocale('en');

        </script>
        <script>

        function eliminarRegistro(ReservationID, ItemReservationID) {
            swal({
                title: ' ¿Está seguro de que desea eliminar el registro?',
                text: 'Si lo elimina, no podrá recuperarlo',
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: 'No, no deseo eliminar',
                        visible: true,
                        className: "",
                        closeModal: false
                    },
                    confirm: {
                        text: 'Si, deseo eliminar',
                        value: true,
                        visible: true,
                        className: "bg-danger",
                        closeModal: false
                    }
                }
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal('El registro ha sido eliminado satisfactoriamente', 'Tu registro ya no se encuentra en la base de datos', 'success');
                    location.href = '@Url.Action("DeleteItem", "Reservation")?ReservationID=' + ReservationID + '&ItemReservationID=' + ItemReservationID;

                } else {
                    swal('El registro no ha sido eliminado', 'Tu registro está aun en la base de datos', 'error');
                }
            });
        }
        </script>
    </environment>

}
