﻿@model IEnumerable<Angle.DTOs.DocumentUploadDTO>

@using Microsoft.AspNetCore.Http.Extensions
@{ ViewData["Title"] = "Index";
    string words = Context.Request.GetEncodedUrl();

    string[] ID = words.Split('/');
    string Modulo = ID[5];
    string IDModulo = Modulo.Substring(Modulo.Length - 1, 1);
    Modulo = Modulo.Substring(0, Modulo.Length - 1);
}



<div class="content-heading">
    <div>
        Documentos
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-header">
                <ol class="breadcrumb breadcrumb px-0 pb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Operaci&oacute;n</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="Index">Documentos</a>
                    </li>
                </ol>
            </div>
            <div class="card-body">
                <div class="col-lg-12">
                    <form method="post" enctype="multipart/form-data" asp-controller="DocumentUpload" asp-action="FileUpload">
                        <div class="form-group">
                            <div class="col-md-10">
                                <p>Upload one or more files</p>
                                <input type="file" name="files" multiple />
                                <input type="text" value="2021-01-01" name="DateUpload" hidden />
                                <input type="text" value="@Modulo" name="Module" hidden />
                                <input type="text" value="@IDModulo" name="ModuleID" hidden />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Upload" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<environment names="Development">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript">
        var pathname = window.location.pathname;
        var vars = pathname.split("/");
        $('#agregarDocumento').attr('href', 'http://cpsqa.4track.tk/DocumentUpload/FileUpload/Customer' + vars[3]);

    </script>
</environment>
<environment names="Staging,Production">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript">
        var pathname = window.location.pathname;
        var vars = pathname.split("/");
        $('#agregarDocumento').attr('href', 'http://cpsqa.4track.tk/DocumentUpload/FileUpload/Customer' + vars[3]);

    </script>
</environment>